/* Base */
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.bg-light {
  background: #f6f6f6 !important; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary {
    border-width: 2px;
    background: #00d2b5;
    border-color: #00d2b5;
    color: #fff;
    -webkit-box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4);
    box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4); }
    .btn.btn-primary:hover {
      background: transparent;
      border-color: #00d2b5;
      color: #000; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }


.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem; } }


.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }


.social_buttons a,strong {
  color: white;
}

.post_wrapper_top a {
 color: #ce110a;
}
  
 /* ------------------------- Servicios -------------------- */


.unit-4 {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  top: 0; }
  .unit-4 .unit-4-icon .icon-wrap {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: #ce110a;
    -webkit-box-shadow: 0 4px 20px -5px #b90c06;
    box-shadow: 0 4px 20px -5px #b90c06 }
    .unit-4 .unit-4-icon .icon-wrap span {
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      color: #fff !important;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .unit-4 h3 {
    font-size: 16px;
    color: #000;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .unit-4 p {
    font-weight: 300;
    font-size: 15px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .unit-4 *:last-child {
    margin-bottom: 0; }
  .unit-4:hover {
    background: #b90c06;
    -webkit-box-shadow: 0 4px 20px -5px #ce110a;
    box-shadow: 0 4px 20px -5px #ce110a;
    top: -7px; }
    .unit-4:hover .icon-wrap {
      background-color: #fff; }
      .unit-4:hover .icon-wrap span {
        color: #ce110a !important; }
    .unit-4:hover h3 {
      color: #fff; }
    .unit-4:hover p {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7); }
      .unit-4:hover p a {
        color: #fff; }


