<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Nosotros </li>
        </ul>
        <h2> MAXPOWER </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s"  value="" placeholder="Search..." onkeypress="search(event)" onfocus="showList(true)" onfocusout="showList(false)" onkeydown="search(event)"/>
              <div id="list"> </div>
            </fieldset>
          </form>
        </div>
       
      </div>
    </div>
  </section>

  <



  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="general-title text-center">
          <h3> Sobre MaxPower </h3>
          <p> Conozca más sobre nosotros </p>
          <hr>
        </div>
        <div class="divider"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="he-wrap tpl2">
            <img src="img/intro-bg.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <p><strong>MaxPower</strong> es una empresa que brinda soluciones integrales a las industrias. Contamos con más de 25 años de experiencia y debido a la formación profesional en los distintos campos de acción, ofrecemos asesoramiento especilaizado en las diferentes áreas de las empresas, anticipándonos a sus necesidades actuales y futuras, mejorando el funcionamiento de los procesos continuos a través de la excelencia y la calidad  
          Estamos comprometidos a brindar soluciones acorde a cada necesidad
        </p>
          <p><strong>Nuestra misión:</strong> Ser una empresa líder en el mercado brindando soluciones tecnológicas con valor agregado para nuestros clientes.</p>
          <p><strong>Nuestra visión:</strong> Ser referentes en el mercado nacional e internacional a través de un servicio de asistencia de excelencia y eficiencia que nos permita apoyar el crecimiento y fortalecimiento del sector industrial.</p>
        </div>
      </div>
    </div>
  </section>

<section class="section9">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="clearfix"></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="servicebox text-center">
              <div class="service-icon">
                <div class="dm-icon-effect-1" data-effect="slide-bottom">
                  <a href="#" class=""> <i class="active dm-icon fa fa-handshake-o fa-3x"></i> </a>
                </div>
                <div class="servicetitle">
                  <h4> Confiabilidad </h4>
                  <hr>
                </div>
                <p> La confianza es un factor importante en el trabajo, es por ello que hacemos que nuestros clientes se sientan cómodos con nuestros servicios, dando así un mejor ámbito de trabajo. </p>
              </div>            
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="servicebox text-center">
              <div class="service-icon">
                <div class="dm-icon-effect-1" data-effect="slide-bottom">
                  <a href="#" class=""> <i class="active dm-icon fa fa-truck fa-3x"></i> </a>
                </div>
                <div class="servicetitle">
                  <h4> Eficiencia </h4>
                  <hr>
                </div>
                <p> Nos destacamos por garantizar entrega de productos a corto plazo, agregando a este el servicio de entrega a domicilio sin costo en un radio de 100km alrededor de CABA.</p>
              </div>  
            </div>
          </div>
       
          <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="servicebox text-center">
                <div class="service-icon">
                  <div class="dm-icon-effect-1" data-effect="slide-bottom">
                    <a href="#" class=""> <i class="active dm-icon fa fa-check fa-3x"></i> </a>
                  </div>
                  <div class="servicetitle">
                    <h4> Garantía </h4>
                    <hr>
                  </div>
                  <p> Garantizamos el arreglo y correcto funcionamiento de sus productos.Brindamos a nuestros clientes productos  y servicios de manera tal de entregar el más alto nivel de calidad  de modo de alcanzar su entera satisfacción.</p>
                </div>    
              </div>    
            </div>

        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="active dm-icon fa fa-thumbs-o-up  fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4> Calidad </h4>
                <hr>
              </div>
              <p> Nuestro trabajo, habla de nosotros, le garantizamos un excelente desempeño en nuestros servicios brindados para la satisfacción de nuestros clientes.</p>
            </div>            
          </div>  
        </div>

        </div>  
      </div>
  </section>


  <section class="section6 text-center">
      <div class="general-title">
          <h3> Nuestros Clientes </h3>
          <hr>
        </div>
  </section>
  <section class="section8"> 
      <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo1.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo2.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo3.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo4.png" height="300" width="300"></a>
            </div>
            
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo5.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo6.png" height="300" width="300"></a>
            </div>
            <div class="slide">
            <a href="" target="_blank"><img src="img/clientes/logo7.png"height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo8.png" height="300" width="300"></a>
            </div>
            <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo9.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo1.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo2.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo3.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo4.png" height="300" width="300"></a>
              </div>
              
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo5.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo6.png" height="300" width="300"></a>
              </div>
              <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo7.png"height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo8.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                  <a href="" target="_blank"><img src="img/clientes/logo9.png" height="300" width="300"></a>
                </div>
          </div>
        </div>
      </section>         
  

       <div class="clearfix"></div>
       <div class="divider"></div>
