
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Arrancadores Suaves Exigentes SIRIUS 3RW44 </li>
        </ul>
        <h2> Arrancadores Suaves Exigentes SIRIUS 3RW44 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->
  <section class="section1">
      <div class="container clearfix">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">    
            <div class="tab-content">
              <div class="tab-pane active" id="abb">
                <h5 class="title"><i class=""></i>  Arrancadores Suaves Exigentes SIRIUS 3RW44 </h5>
                <div class="row">
                  <div class="col-lg-6">       
                    <p>Los arrancadores suaves <strong>Siemens SIRIUS 3RW44</strong> ofrecen, adem&aacute;s de arranques y paradas suaves, otras funciones para aplicaciones con altas caracter&iacute;sticas. El rango de potencias cubre hasta 710 kW en conexi&oacute;n est&aacute;ndar y hasta 1200 kW en conexi&oacute;n tri&aacute;ngulo, todo en 400 V.</p>
                    
                    <p>El arrancador suave Siemens <strong>SIRIUS 3RW44</strong> permite disminuir el tama&ntilde;o constructivo y en los costos de los aparatos en la conexi&oacute;n est&aacute;ndar (In-Line) al igual que en la conexi&oacute;n de tri&aacute;ngulo interno (Inside-the-Delta).<br /> Para brindar mayor flexibilidad en la operaci&oacute;n y parametrizaci&oacute;n del partidor suave, se ha dise&ntilde;ado un display externo, el que mediante una interfaz de comunicaci&oacute;n permite interactuar con el equipo, por ejemplo, desde la puerta del gabinete Estos arrancadores eliminan los golpes de par y los picos de la corriente al arrancar o detener el motor. De esta manera puede aprovecharse un notable potencial de ahorro tanto en el proyecto del tablero como en el mantenimiento del parque de m&aacute;quinas.</p>
                    <p>La familia de arrancadores suaves de Siemens ofrecen flexibilidad en el armado de las salidas SIRIUS a consumidores. De esa manera, los interruptores autom&aacute;ticos, contactores, rel&eacute;s de sobrecarga y arrancadores suaves del sistema modular SIRIUS se pueden combinar con un menor gasto. S&oacute;lo se necesita acoplar y atornillar para que la derivaci&oacute;n est&eacute; terminada.<br /> El <strong>SIRIUS 3RW44</strong> con su ejecuci&oacute;n compacta permite ahorrar espacio en los tableros y, al mismo tiempo, clarificar la construcci&oacute;n de los mismos. En comparaci&oacute;n con los convertidores de frecuencia, este innovador arrancador suave ofrece una alternativa atractiva con un gran potencial de ahorro para funciones de arranque y paradas optimizadas de los motores.</p>
                    <p>Estos arrancadores de caracter&iacute;sticas elevadas se pueden utilizar para casi cualquier aplicaci&oacute;n debido a la moderna regulaci&oacute;n de pares y la limitaci&oacute;n ajustable de la intensidad de la corriente. Garantizan que en los arranques y las paradas de los motores se puedan evitar los golpes de par y los picos de la corriente. Estas caracter&iacute;sticas proveen un considerable potencial de ahorro en el dise&ntilde;o del tablero de maniobras y en el mantenimiento del parque de m&aacute;quinas. Estos arrancadores se proveen en circuitos est&aacute;ndar y en los ra&iacute;z de tres; y se destacan por su peque&ntilde;o tama&ntilde;o y por lo econ&oacute;mico.</p>
                    <p>La puesta en servicio de un <strong>SIRIUS 3RW44</strong> equipado con una conducci&oacute;n del usuario moderna y ergon&oacute;mica es sencilla y r&aacute;pida. Esta operaci&oacute;n se realiza por medio de un teclado de cuatro teclas, un display gr&aacute;fico de varias l&iacute;neas e iluminaci&oacute;n de fondo y gu&iacute;a por men&uacute;. El usuario podr&aacute; seleccionar el idioma, para luego optimizar en forma r&aacute;pida, sencilla y segura la asignaci&oacute;n de par&aacute;metros para el arranque y la parada del motor.</p>
                    <p>Durante el funcionamiento, con la tensi&oacute;n de control conectada, se emiten en forma continua valores de medici&oacute;n y de servicio, tales como avisos y se&ntilde;alizaciones de fallas, a trav&eacute;s del panel indicador. Por otra parte, existe la posibilidad de conectar al arrancador suave un m&oacute;dulo de operaci&oacute;n y observaci&oacute;n externo utilizando el cable apropiado. De esa manera, se podr&aacute;n leer directamente se&ntilde;alizaciones actuales o modificar ajustes del arrancador suave.</p>
                    <p>El sistema de contactos puente integrado del SIRIUS 3RW44, la autoprotecci&oacute;n interna del aparato y la protecci&oacute;n contra sobrecargas del motor tambi&eacute;n se pueden encontrar en su versi&oacute;n 3RW40. Las diferencias con los dem&aacute;s arrancadores suaves est&aacute;ndar son la limitaci&oacute;n ajustable de la intensidad de la corriente, que evita los picos de la corriente de arranque, la nueva regulaci&oacute;n de los pares y las dem&aacute;s funciones adicionales.</p>
                    <p>Para las funciones de posicionamiento y ajuste hay una funci&oacute;n de marcha muy lenta que permite controlar al motor en ambas direcciones con un par reducido y una baja velocidad ajustable. Tambi&eacute;n se puede realizar una parada r&aacute;pida de las cargas impulsadas aplicando la nueva funci&oacute;n combinada de freno con CC.</p>
                    <p>&nbsp;</p>
                   

                   

       
  <div class="widget" data-effect="slide-bottom">
                        
      <h5 class="title"><i class=""></i> C&oacute;digos de modelos seg&uacute;n rango de regulaci&oacute;n </h5>
      <ul class="check">
          <li>Arranque suave 29A 15KW cod: 3RW4422-1BC44</li>
          <li>Arranque suave 36A 18.5KW cod: 3RW4423-1BC44</li>
          <li>Arranque suave 47A 22KW cod: 3RW4424-1BC44</li>
          <li>Arranque suave 57A 30KW cod: 3RW4425-1BC44</li>
          <li>Arranque suave 77A 37KW cod: 3RW4426-1BC44</li>
          <li>Arranque suave 93A 45KW cod: 3RW4427-1BC44</li>
          <li>Arranque suave 113A 55KW cod: 3RW4434-6BC44</li>
          <li>Arranque suave 134A 75KW cod: 3RW4435-6BC44</li>
          <li>Arranque suave 162A 90KW cod: 3RW4436-6BC44</li>
          <li>Arranque suave 203A 110KW cod: 3RW4443-6BC44</li>
          <li>Arranque suave 250A 132KW cod: 3RW4444-6BC44</li>
          <li>Arranque suave 313A 160KW cod: 3RW4445-6BC44</li>
          <li>Arranque suave 356A 200KW cod: 3RW4446-6BC44</li>
          <li>Arranque suave 432A 250KW cod: 3RW4447-6BC44</li>
          <li>Arranque suave 551A 315KW cod: 3RW4453-6BC44</li>
          <li>Arranque suave 615A 355KW cod: 3RW4454-6BC44</li>
          <li>Arranque suave 693A 400KW cod: 3RW4455-6BC44</li>
          <li>Arranque suave 780A 450KW cod: 3RW4456-6BC44</li>
          <li>Arranque suave 880A 500KW cod: 3RW4457-6BC44</li>
      </ul>
      </div>
  </div>

  <div class="col-lg-6">
   <div class="image-product"> 
<img class="img-responsive" src="../img/productos-electricos/example2.png" width="350px" height="350px" alt="">
  </div>
</div>
</div>   
</div>
</div>
</section>
