<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Arranque suave Altistar 48</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>


<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Arranque suave Altistar 48</li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/example4.jpg" alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Arranque suave Altistar 48</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
	  <p> El arrancador ralentizador Altistart 48 es un graduador de 6 tiristores que asegura el arranque y detención progresiva con control de torque de motores asíncronos trifásicos de jaula, para potencias comprendidas entre 4 y 1200kW.
                  </p>
                  <p>   
                        Arrancadores suaves para motores tipo asincrónicos
                        Integra las funciones de arranque y detención suave, la protección de las máquinas y de los motores y las funciones de comunicación con automatismos.
                      </p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		{{!-- 
		<h4>Descripcion detallada </h4>
            <p> Descripcion </p>
    --}}
	          <p>  
                        El arrancador ralentizador Altistart 48 es una solución económica que permite:
                        <li> Reducir los costes de explotación de las máquinas disminuyendo los problemas mecánicos y mejorando sus prestaciones;</li>
                        <li> Reducir las solicitaciones de la distribución eléctrica, disminuyendo las puntas de corriente y las caídas de tensión en línea relativas a los arranques de los motores.                            </li>
                    </p>

                  <p> La oferta de arrancadores ralentizadores Altistart 48 se compone de 2 gamas: </p>              
                     <li>Tensiones trifásicas de 230 a 400 V, 50/60 Hz.  </li> 
                     <li>Tensiones trifásicas de 208 a 690 V, 50/60 Hz.  </li>
                    </p>
  
                 <p>Para cada rango de tensiones, los arrancadores ralentizadores Altistart 48 están dimensionados en función de las aplicaciones estándar y severas.
                    Estas funciones responden a las aplicaciones más corrientes que se les encuentra principalmente en diversas actividades como construcción, industria agro-alimentaria, química, minera:
                        <li> Bombas </li>
                        <li> Ventiladores </li>
                        <li> Compresores </li>
                        <li> Correas transportadoras </li>
                        <li> Maquinas centrifugas </li>
                        </p>
                  <p>La concepci&oacute;n del Altistart 48 se ha realizado considerando los requerimientos de robustez, seguridad y facilidad de puesta en servicio.<br /> El arrancador-ralentizador Altistart 48 es una soluci&oacute;n econ&oacute;mica, y permite:</p>
                                
                                <li>Reducir los costos de explotaci&oacute;n de las m&aacute;quinas disminuyendo las exigencias mec&aacute;nicas y mejorando su disponibilidad.</li>
                                <li>Reducir las solicitaciones sobre la red de distribuci&oacute;n el&eacute;ctrica, disminuyendo las puntas de corriente y las caidas de tensi&oacute;n de l&iacute;nea ligadas a los arranques de los motores.</li>
                               
                                <p><strong>Funciones</strong><br /> El arrancador ralentizador Altistart 48 ( ) se suministra listo para su uso para una aplicaci&oacute;n est&aacute;ndar con protecci&oacute;n de motor de clase 10.<br /> Cuenta con un terminal integrado, que permite modificar las funciones de programaci&oacute;n, de ajuste o de supervisi&oacute;n para adaptar y personalizar la aplicaci&oacute;n seg&uacute;n las necesidades del cliente.</p>
                                <p><strong>Funciones de prestaciones del accionamiento con:</strong></p>
                                
                                <li>Control de par exclusivo del Altistart (patente Schneider Electric).</li>
                                <li>Control del par suministrado al motor durante todo el per&iacute;odo de aceleraci&oacute;n y deceleraci&oacute;n (reducci&oacute;n significativa de los golpes de ariete).</li>
                                <li>Facilidad de ajuste de la rampa y del par de arranque.</li>
                                <li>Posibilidad de by-pass del arrancador con un contactor al final del arranque con mantenimiento de las protecciones electr&oacute;nicas (funci&oacute;n by-pass).</li>
                                <li>Amplia tolerancia de frecuencia para las alimentaciones por grupo electr&oacute;geno.</li>
                                <li>Posibilidad de conectar el arrancador en el acoplamiento en tri&aacute;ngulo del motor, en serie con cada bobinado.</li>
                                
                                <p><strong>Funciones de protecci&oacute;n del motor y de la m&aacute;quina con:</strong></p>
                                
                                <li>Integraci&oacute;n de una protecci&oacute;n t&eacute;rmica del motor.</li>
                                <li>Tratamiento de la informaci&oacute;n de las sondas t&eacute;rmicas PTC.</li>
                                <li>Supervisi&oacute;n del tiempo de arranque.</li>
                                <li>Funci&oacute;n de precalentamiento del motor.</li>
                                <li>Protecci&oacute;n contra las sub-cargas y las sobreintensidades en r&eacute;gimen permanente.</li>
                                
                                <p><strong>Funciones de facilidad de integraci&oacute;n en los automatismos con:</strong></p>
                             
                                <li>4 entradas l&oacute;gicas, 2 salidas l&oacute;gicas, 3 salidas de rel&eacute; y 1 salida anal&oacute;gica.</li>
                                <li>Borneros de control desenchufables.</li>
                                <li>Funci&oacute;n de configuraci&oacute;n de un segundo motor y f&aacute;cil adaptaci&oacute;n de los ajustes.</li>
                                <li>Visualizaci&oacute;n de las magnitudes el&eacute;ctricas, del estado de carga y del tiempo de funcionamiento.</li>
                                <li>Enlace serie RS 485 para la conexi&oacute;n al bus Modbus.</li>
                               
                                <p><strong>El Altistart 48 debe elegirse en funci&oacute;n de 3 criterios principales:</strong><br /> 1) La tensi&oacute;n de alimentaci&oacute;n de la red el&eacute;ctrica, que se debe elegir entre 2 rangos:</p>
                              
                                <li>Tensi&oacute;n alterna trif&aacute;sica: 230 &ndash; 400V,</li>
                                <li>Tensi&oacute;n alterna trif&aacute;sica: 208 &ndash; 690V.</li>
                               
                                <p>2) La potencia y la corriente nominal de la placa de bornas del motor.</p>
                                <p>3) El tipo de aplicaci&oacute;n y el ciclo de funcionamiento: Para facilitar la elecci&oacute;n, las aplicaciones se clasifican en 2 tipos:</p>
                               
                                <li>aplicaciones est&aacute;ndar,</li>
                                <li>aplicaciones severas.</li>
                               
                                <p>Las aplicaciones est&aacute;ndar o severas definen los valores l&iacute;mite de la corriente y el ciclo para los servicios de motor S1 y S4.</p>
                                <p><strong>Aplicaci&oacute;n estandar</strong><br /> En aplicaci&oacute;n est&aacute;ndar, el Altistart 48 se dimensiona para responder a:<br /> un arranque a 4 In durante 23 segundos o a 3 In durante 46 segundos, partiendo del estado fr&iacute;o (corresponde a un servicio de motor S1).</p>
                               
                                <li>un arranque a 3 In durante 23 segundos o a 4 In durante 12 segundos,</li>
                                <li>un factor de marcha del 50% y 10 arranques por hora o un ciclo t&eacute;rmicamente equivalente (corresponde a un servicio de motor S4).</li>
                               
                                <p>La protecci&oacute;n t&eacute;rmica del motor debe ajustarse en la clase 10<br /> Ejemplo: bomba centr&iacute;fuga. APLICACI&Oacute;N SEVERA</p>
                                
                                <li>En aplicaci&oacute;n severa, el Altistart 48 se dimensiona para responder a:</li>
                                <li>un arranque a 4 In durante 48 segundos o a 3 In durante 90 segundos, partiendo del estado fr&iacute;o (corresponde a un servicio de motor S1).</li>
                                <li>un arranque a 4 In durante 25 segundos, con un factor de marcha del 50% y 5 arranques por hora, o un ciclo t&eacute;rmicamente equivalente (corresponde a un servicio de motor S4).</li>
                                
                               

                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles </h5>
                    <ul class="check">
                            <li> ATS48C11Q Arranque 3Fase 110A 220-415V 30-55Kw</li>
                            <li> ATS48C14Q Arranque 3Fase 140A 220-415V 37-75Kw </li>
                            <li> ATS48C17Q Arranque 3Fase 170A 220-415V 45-90Kw</li>
                            <li> ATS48C21Q Arranque 3Fase 210A 220-415V 55-110Kw</li>
                            <li> ATS48C25Q Arranque 3Fase 250A 220-415V 75-132Kw</li>
                            <li> ATS48C32Q Arranque 3Fase 320A 220-415V 90-160Kw</li>
                            <li> ATS48C41Q Arranque 3Fase 410A 220-415V 110-220Kw</li>
                    </ul>
                    </div>                
                  </div>
                   
                     

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>