<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143030070-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143030070-1');
</script>

<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Arrancadores suaves ABB</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Arrancadores suaves ABB</li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example0.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Arrancadores Suaves ABB
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
	  <p> Los arrancadores suaves aumentan la vida útil del motor, ya que los protege contra el estrés electrico. En ABB trabajamos desde el 1980 con los mismo, la trayectoria nos ha demostrado que son muy facil de usar y su funcionamiento es sencillo. Los arrancadores suaves, pueden ayudar a incrementar la productividad, mediante funciones específicas para las aplicaciones. 
                  </p>
                  <p>  Sus principales ventajas son:</p>

                     <li>Aseguran la fiabilidad del motor.</li> 
                     <li>Aumentan la productividad de las palicaciones. </li>
                     <li>Mejoran la eficacia de instalación. </li> 
                    </p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		{{!-- 
		<h4>Descripcion detallada </h4>
            <p> Descripcion </p>
    --}}
	    
                    <div class="widget">                      
                    <h5 class="title"><i class=""></i> Modelos disponibles </h5>
                    <ul class="check">
                      <li><a href="#">PSR — La gama compacta</a></li>
                      <p>Entre todas las gamas de arrancadores suaves, la PSR es la más compacta y la que permite diseñar equipos de arranque compactos. Un sistema dotado de guardamotores y el PSR ofrece una solución de arranque mucho más compacta que, por ejemplo, un arrancador en estrella-triángulo.
                          El bypass integrado reduce la disipación de energía y simplifica la conexión. Además, con sólo tres  potenciómetros, la configuración no podría ser más sencilla. Con todo esto, las características de rampa optimizadas aseguran un arranque y un paro muy suaves en todas las aplicaciones. </p>
                      <li><a href="#">PSE – La gama PSE eficiente </a></li>
                      <p>El primer arrancador suave compacto del mundo con control del par’. La familia de arrancadores suaves de ABB se amplía con la gama PSE eficiente. Este arrancador suave ha sido equipado con todas las funciones esenciales, lo que hace de él una solución muy eficiente.
                          Durante el proceso de desarrollo, se realizó un gran esfuerzo por aumentar, aún más, la fiabilidad del arrancador y del proceso. Además, este arrancador suave incorpora un bypass integrado para reducir el cableado y cuenta con una pantalla retroiluminada que permite una configuración y una supervisión cómoda y sencilla. </p>
                      <li><a href="#">PST -B/X</a></li>
                      <p>PST(B) — La gama avanzada.  La gama de arrancadores suaves PST(B) es la más avanzada, dado que incorpora prácticamente todas las funciones imaginables. Con todas las protecciones avanzadas del motor, del arrancador suave y de la carga se asegura un funcionamiento exento de problemas.
                          La función de preaviso, por ejemplo, permite detectar problemas antes de tener que parar el motor. Así se evitan paradas innecesarias. </p>
                      <p> PSTX </p>
                      <li><a href="#">PSR 3-105 para arranques normales</a></li>
                      <p> 2 fases controladas y contactor de by-pass incorporado </p>
                      <div class="item">
                          <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-arrancadores-suaves-1.png">
                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-arrancadores-suaves-1.png" data-src="img/productos-electricos/tablas/tabla-arrancadores-suaves-1.png" alt="">
                          </a>
                       </div>
                      <li><a href="#"> PSE 18-370 para arranques normales </a></li>
                      <p> Protección electrónica incorporada / Control de torque en el arranque y la parada / 2 fases controladas y contactor de by-pass incorporado.</p>
                      <div class="item">
                          <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-arrancadores-suaves-2.png">
                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-arrancadores-suaves-2.png" data-src="img/productos-electricos/tablas/tabla-arrancadores-suaves-2.png" alt="">
                          </a>
                       </div>                         
                      <li><a href="#"> PST 30-300 para arranques normales </a></li>
                      <p>Protección electrónica incorporada / Control de torque en el arranque y la parada / 3 fases controladas. </p>
                      <div class="item">
                          <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-arrancadores-suaves-3.png">
                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-arrancadores-suaves-3.png" data-src="img/productos-electricos/tablas/tabla-arrancadores-suaves-3.png" alt="">
                          </a>
                       </div> 
                      <li><a href="#">PSTB 370-1050 para arranques normales</a></li>
                      <p> Protección electrónica y contactor de by-pass incorporada / Control de torque en el arranque y la parada / 3 fases controladas. </p>
                      <div class="item">
                          <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-arrancadores-suaves-4.png">
                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-arrancadores-suaves-4.png" data-src="img/productos-electricos/tablas/tabla-arrancadores-suaves-4.png" alt="">
                          </a>
                       </div>
                      <li><a href="#">PSTX 30-370 para arranques normales</a></li>
                      <p> Protección electrónica y contactor de by-pass incorporado / Control de torque en el arranque y la parada / 3 fases controladas. </p>
                      <div class="item">
                          <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-arrancadores-suaves-5.png">
                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-arrancadores-suaves-5.png" data-src="img/productos-electricos/tablas/tabla-arrancadores-suaves-5.png" alt="">
                          </a>
                       </div>
                    </ul>
                  </div>
                </div>
                    
    </div> 
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>