<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Arrancadores Suaves Exigentes SIRIUS 3RW30</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Arrancadores Suaves Exigentes SIRIUS 3RW30</li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/example3.jpg" alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Arrancadores Suaves Exigentes SIRIUS 3RW30</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
	  <p>Gracias a su funci&oacute;n de rampa de tensi&oacute;n se reduce la intensidad de conexi&oacute;n y disminuye de forma efectiva el par del motor en el momento de arranque, lo que protege la carga y la red de alimentaci&oacute;n. Gracias al control en dos fases se mantiene la intensidad de las tres fases en los valores m&iacute;&shy;nimos durante el arranque completo.    
                      </p> 
                      <p>
                          Los picos indeseados de intensidad y par que, por ejemplo, se generan en los arranques estrella-triángulo, no aparecen debido a la continua influencia sobre la tensión.
                          Los aparatos de la serie SIRIUS 3RW30 se ofrecen en los cuatro tamaños del sistema modular SIRIUS 3R y cubren las siguientes gamas de potencia:
                      </p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 

<style> 
 strong {
	 color:black;
 }
</style>

<article class="card mt-3">
	<div class="card-body">
    		<h4>Descripcion detallada </h4>
            <p> Descripcion </p>

                      <div class="item">
                          <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-arrancadores-sirius3wr30.png">
                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-arrancadores-sirius3rw30.png"
                               data-src="img/productos-electricos/tablas/tabla-arrancadores-sirius3rw30.png" alt="">
                          </a>
                       </div>

<p>Tamaño S00:
                        <li>Arranque suave 6AMP/3KW 3RW3014-1CB14 </li>
                        <li>Arranque suave 9AMP/4KW 3RW3016-1CB14 </li>
                      </p>
                      <p>Tamaño S0:
                          <li>Arranque suave 12.5AMP/5.5KW 3RW3024-1AB14 </li>
                          <li>Arranque suave 16AMP/7.5KW 3RW3025-1AB14 </li>
                          <li>Arranque suave 25AMP/11KW 3RW3026-1AB14 </li>
                      </p>
                      <p>Tamaño S2:
                          <li>Arranque suave 32AMP/15KW 3RW3034-1AB14 </li>
                          <li>Arranque suave 38AMP/18.5KW 3RW3035-1AB14</li>
                          <li>Arranque suave 45AMP/22KW 3RW3036-1AB14</li>
                      </p>
                      <p>Tamaño S3:
                          <li>Arranque suave 63AMP/30KW 3RW3044-1AB14 </li>
                          <li>Arranque suave 75AMP/37KW 3RW3045-1AB14</li>
                          <li>Arranque suave 100AMP/55KW 3RW3046-1AB14</li>
                      </p>
                      <p>&nbsp;</p>
                      <p><strong>Caracteristicas</strong></p>
                 
                      <li>Arranque suave con rampa de tensi&oacute;n; el rango de ajuste de la tensi&oacute;n inicial puede ajustarse desde el 40 % hasta el 100 % y el tiempo de rampa desde 0 s a 20 s.</li>
                      <li>Parada suave con rampa de tensi&oacute;n; el tiempo de la rampa taus se puede variar de 0 s a 20 s. La tensi&oacute;n de desconexi&oacute;n depende de la tensi&oacute;n inicial seleccionada.</li>
                      <li>Los ajustes se realizan con tres potenci&oacute;metros.</li>
                      <li>Montaje y puesta en marcha sencillos.</li>
                      <li>Dos ejecuciones de tensi&oacute;n de mando 24 V UC y 110 V a 230 V UC</li>
                      <li>Amplio rango de temperatura -25 &Acirc;&deg;C a + 60 &Acirc;&deg;C</li>
                      <li>Contacto de puenteo integrado para minimizar las p&eacute;rdidas de potencia.</li>
                      <li>Dos contactos auxiliares integrados en los tama&ntilde;os S0, S2 y S3 garantizan un mando confortable y un posible post-procesamiento en la instalaci&oacute;n.</li>
                  
                      <p>En la derivaci&oacute;n a motor, entre el arrancador suave SIRIUS 3RW3 y el motor, no puede haber elementos capacitivos (p. ej. ninguna instalaci&oacute;n de compensaci&oacute;n).<br /> Todos los elementos del circuito principal (como fusibles, aparatos de maniobra y rel&eacute;s de sobrecarga) deber&aacute;n ser correspondientemente dimensionados para el arranque directo y para las condiciones locales de cortocircuito y ser pedidos por separado.</p>
                      <p>Una de las caracter&iacute;&shy;sticas de los arrancadores suaves 3RW40 es el reducido espacio que demandan. Una vez que finaliza el arranque del motor se puentean los semiconductores de potencia (tiristores) por medio de contactos integrados, evit&aacute;ndose la generaci&oacute;n de p&eacute;rdidas en los mismos. Ese m&eacute;todo reduce p&eacute;rdidas t&eacute;rmicas, permite obtener una construcci&oacute;n m&aacute;s compacta y elimina circuitos puente externos.</p>
                      <p>El arrancador suave ofrece, adem&aacute;s, funciones adicionales como una limitaci&oacute;n ajustable de la intensidad de la corriente; como asimismo la protecci&oacute;n contra sobrecargas del motor y autoprotecci&oacute;n del aparato, ambas integradas. Esas funciones adquieren cada vez mayor importancia, en especial, en los equipos de la gama de potencias superiores a 75 kW, que permiten ahorrar la conexi&oacute;n e instalaci&oacute;n adicional de aparatos de protecci&oacute;n como los rel&eacute;s de sobrecarga.</p>
                      <p>La autoprotecci&oacute;n interna del aparato evita la sobrecarga t&eacute;rmica de los tiristores y, por lo tanto, los da&ntilde;os resultantes en el m&oacute;dulo de potencia. Los tiristores tambi&eacute;n se podr&aacute;n proteger contra cortocircuitos utilizando fusibles para protecci&oacute;n de semiconductores opcionales.</p>
                      <p><strong>Diagn&oacute;sticos</strong></p>
                      <p>Este arrancador suave compacto con su supervisi&oacute;n de estado y de fallas integrada ofrece m&uacute;ltiples posibilidades de diagn&oacute;stico. Tres diodos luminosos y salidas de rel&eacute;s permiten observar y diagnosticar en forma diferenciada el accionamiento, ya que suministran informaciones sobre el estado de funcionamiento, las fallas de red o de fase, la falta de carga, el ajuste inadmisible del tiempo de disparo / Class, la sobrecarga t&eacute;rmica o las fallas del aparato.</p>
                      <p>&nbsp;</p>
                      <p><strong>La tecnolog&iacute;&shy;a patentada brinda mayor confiabilidad.</strong><br /> El SIRIUS 3RW40 ofrece un comportamiento en el arranque, equivalente al de los arrancadores suaves con control en las tres fases que, en general, tienen dimensiones y costos mayores.</p>
                      <p>El control en dos fases de esos arrancadores no permite su uso en circuitos ra&iacute;&shy;z de tres. En ese tipo de circuitos, las fases del arrancador suave quedar&iacute;&shy;an conectadas en serie con los diferentes bobinados del motor. El arrancador suave s&oacute;lo deber&iacute;&shy;a conducir la corriente de fase, es decir, aproximadamente el 58 por ciento de la intensidad nominal de la corriente del motor. En ese circuito se deber&iacute;&shy;an tender seis en lugar de los tres conductores al motor necesarios en el circuito est&aacute;ndar, aunque con una potencia del motor comparable, se podr&iacute;&shy;a emplear un aparato m&aacute;s peque&ntilde;o y con costos m&aacute;s convenientes.</p>
                      <p>Para la operaci&oacute;n en servicio, el control trif&aacute;sico es tan innecesario como en el caso de la protecci&oacute;n integrada contra sobrecargas del motor que tambi&eacute;n opera en dos fases. El arranque del motor sin sacudidas se realiza con los arrancadores suaves est&aacute;ndar con dos fases controladas, con la misma confiabilidad operacional que ofrecen sus hermanos con control en las tres fases. Las soluciones de arranque suave con dos fases controladas y contactos puente integrados, frente a la conexi&oacute;n ra&iacute;&shy;z de tres, demostraron ser la alternativa m&aacute;s compacta, con costos m&aacute;s convenientes y menor gasto en conductores.</p>
                    
                      <p><strong>Tama&ntilde;o S6</strong></p>
                     
                      <li>Arranque suave 132Amp/75KW COD: 3RW4055-6BB44&iacute;&sect;</li>
                      <li>Arranque suave 162Amp/90KW COD: 3RW4056-6BB44</li>
                  
                      <p><strong>Tama&ntilde;o S12</strong></p>

                      <li>Arranque suave 230Amp/132KW COD: 3RW4073-6BB44</li>
                      <li>Arranque suave 280Amp/160KW COD: 3RW4074-6BB44</li>
                      <li>Arranque suave 350Amp/200KW COD: 3RW4075-6BB44</li>
                      <li>Arranque suave 432Amp/250KW COD: 3RW4076-6BB44</li>
         
       
</div>
  


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>