<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Contacto </li>
        </ul>
        <h2> Contactanos </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
      </div>
    </div>
  </section>

<section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="servicebox text-center">
              <div class="service-icon">
                <div class="dm-icon-effect-1" data-effect="slide-bottom">
                  <a href="https://www.facebook.com/MaxPower-Industrial-Automation-100690231314367/" class=""> <i class="dm-icon fa fa-facebook fa-3x"></i> </a>
                </div>
                <div class="servicetitle">
                  <h4>Facebook</h4>
                </div>
              </div>
      
            </div>
            
          </div>
                 
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="servicebox text-center">
              <div class="service-icon">
                <div class="dm-icon-effect-1" data-effect="slide-bottom">
                  <a href="https://www.instagram.com/maxpower.industrial/?igshid=1q4yb71nbyhec" class=""> <i class="dm-icon fa fa-instagram fa-3x"></i> </a>
                </div>
                <div class="servicetitle">
                  <h4>Instagram</h4>
                </div>
              </div>     
            </div>  
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="servicebox text-center">
              <div class="service-icon">
                <div class="dm-icon-effect-1" data-effect="slide-bottom">
                  <a href="https://www.linkedin.com/in/maxpower-industrial-automation-8186903a" class=""> <i class="dm-icon fa fa-linkedin fa-3x"></i> </a>
                </div>
                <div class="servicetitle">
                  <h4>LinkedIn</h4>
                </div>
              </div>     
            </div>
          </div>

         <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="servicebox text-center">
                <div class="service-icon">
                  <div class="dm-icon-effect-1" data-effect="slide-bottom">
                    <a href="#" class=""> <i class="active dm-icon fa fa-phone fa-3x"></i> </a>
                  </div>
                  <div class="servicetitle">
                    <h4> Atención al cliente </h4>
                  </div>
                </div>              
              </div>           
            </div>


        <div class="col-lg-6 col-md-6 col-sm-6">
          <h4 class="title"> Formulario de contacto </h4>
          <div id="message"></div>
          <form role="form">

            <div class="form-group">
              <input type="name" name="name" class="form-control" required id="contact-name" placeholder="Nombre Apellido" data-rule="minlen:6" data-msg="Please enter at least 6 chars" >
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <input type="name" name="enterprise" class="form-control" id="contact-enterprise" placeholder="Empresa" data-rule="minlen:6" data-msg="Please enter at least 6 chars" >
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <input type="email" name="email" class="form-control" required id="contact-email" placeholder="Correo electrónico" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <input type="tel" name="tel" class="form-control" id="contact-tel" placeholder="Teléfono" pattern="[0-9]{3} [0-9]{3} [0-9]{3}">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <input type="text" name="subject" class="form-control" required id="contact-subject" placeholder="Tema" data-rule="minlen:4" data-msg="Please enter at least 4 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <textarea class="form-control" name="message" id="contact-message"  required placeholder="Mensaje" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>
            <div id="msg" style="display: none;"></div>
            <div class="form-send">
              <button type="button" class="btn btn-large btn-primary" onclick="sendEmail()">Enviar</button>
            </div>

          </form>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <h4 class="title">Contacto</h4>

          </div>

         <h2> <strong>Nuestras formas de contacto: </strong>
          <ul class="contact_details">
            <li><i class="fa fa-envelope-o"></i> ventas@maxpower-ar.com</li>
            <li><i class="fa fa-envelope-o"></i> agutierrez@maxpower-ar.com </li>
            <li><i class="fa fa-phone-square"></i> (011) 7524-1400 </li>
            <li><i class="fa fa-phone-square"></i> (011) 7520-5667 </li>
            <li><i class="fa fa-home"></i> Belgrano 180, Oficina-5, Ramos Mejía.</li>
            <li><i class="fa fa-home"></i> Codigo postal: 1704 (Ramos Mejía).   </li>   
          </h2>
          </ul>       
        </div>

        <div class="clearfix"></div>
        <div class="divider"></div>

      </div>    
    </div>  
  </section>