<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Contactores de vacio</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Contactores de vacio </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/example6.jpg" alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Contatores de vacio </h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
	   <p>
                    Los contactores S10, S12 Y S14 también se presentan con ejecución con técnica de vacío y se caracterizan por su elevada vida útil eléctrica (2,6 a 3 millones de maniobras en servicio AC-3).
                </p>
                  <p>
                    Desconexión libre de soldadura gracias a la técnica de vacío.
                </p>
                 
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
<p>Disponen de una elevada capacidad de carga de corta duración apropiada para arranques pesados. Los contactores de vacío realizan la maniobra de motores sin generar arcos y sin dejar escapar gases en la conexión. Son el aparato idóneo para la protección de las personas y las instalaciones.

                    Más flexibilidad gracias a la técnica de bobinas extraíbles
                    Las bobinas pueden extraerse y cambiarse fácilmente sin necesidad de Herramientas.
                    
                    Según el tipo de aplicación y las necesidades pueden utilizarse diferentes accionamientos para un mismo tipo de contactor.</p>
                     
                     <p> Accesorios homogéneos</p>
                     <p> Los contactos auxiliares laterales y frontales pueden emplearse para todos los tamaños, desde el S0 al S12. Esto proporciona un ahorro de tiempo y reduce considerablemente el almacenaje. </p>
                     <li>ABB- Line – un concepto de sistema.</li> 
                     <li>Diseñado para una instalación y un mantenimiento sencillos y seguros. </li>
                     <li>Fácil de integrar con otros componentes del sistema.</li> 
                     <li>Diseño compacto.</li> 
                     <li>Una gama completa de accesorios.</li> 
                     <li>Cumple con las últimas normas internacionales y nacionales.</li> 
                     <li>Rendimiento ambiental mejorado.</li> 

                    </p>

                
                    <div class="widget">
                    <h5 class="title"><i class=""></i> Modelos disponibles: Contactor de Vacío en 220v (también disponibles en 110 y 380vca/c) </h5>
                    <ul class="check">
                      <li><a href="#"> T10 225 AMP 2NA+2NC 3RT1264-6AP36                    </a></li>
                      <li><a href="#"> T10 265 AMP 2NA+2NC 3RT1265-6AP36</a></li>
                      <li><a href="#"> T10 300 AMP 2NA+2NC 3RT1266-6AP36 </a></li>
                      <li><a href="#"> T12 400 AMP 2NA+2NC 3RT1275-6AP36 </a></li>
                      <li><a href="#"> T12 500 AMP 2NA+2NC 3RT1276-6AP36 </a></li>
                      <li><a href="#"> T14 630 AMP 2NA+2NC 3TF6844-0CM7 </a></li>
                      <li><a href="#"> T14 820 AMP 2NA+2NC 3TF6944-0CM7</a></li>
                    </ul>
                  </div>                
                </div>
             
 
                            
                
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>