<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Contactores A-Line </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Contactores A-Line </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/example5.jpg" alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Contactores A-Line </h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
	  <p>
                    ABB posee una serie de Contactores y Relés adecuados para una amplia variedad de aplicaciones en edificios, industrias., para el control de motores, calefacción, aerogeneradores, aire condicionado, bombas, equipos elevadores, iluminación, corrección del factor de potencia de procesos, etc… 
                     La gama de contactores A-line tiene el mismo diseño desde 9A a 750A (servicio AC3) cargas de motor – y para una amplia gama de aplicaciones CC y otras aplicaciones CA. Esto le hace más fácil satisfacer sus necesidades con menos componentes. La gama incluye minicontactores de 4 y 5,5kW, contactores compactos hasta 400kW, contactores de instalación para uso doméstico e industrial, contactores de barrote, relés térmicos y electrónicos, contactores server y una amplia gama de accesorios que aseguran flexibilidad y adaptabilidad a las especificaciones del cliente.
                    </p>
                 
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
    		<h4>Descripcion detallada </h4>
            <p> Descripcion </p>
            
<p>
                    Este es el producto de las últimas ideas sobre diseño eléctrico e instalación de componentes, incorporando los desarrollos más recientes en aspectos de seguridad, materiales y electrónica.
                     Esta nueva gama ofrece un concepto total de sistema. La A-Line, junto con las protecciones contra cortocircuitos con o sin fusibles de ABB y relés de sobrecarga electrónicos proporcionan la base para una nueva generación de aparatos diseñados para una comunidad de sistemas ABB-Line. 
                    </p>

                  <p> Nuestro objetivo es proporcionar a los diseñadores, ingenieros, instaladores y usuarios finales las mejores soluciones para sistema posibles.</p>

                     <li>ABB- Line – un concepto de sistema.</li> 
                     <li>Diseñado para una instalación y un mantenimiento sencillos y seguros. </li>
                     <li>Fácil de integrar con otros componentes del sistema.</li> 
                     <li>Diseño compacto.</li> 
                     <li>Una gama completa de accesorios.</li> 
                     <li>Cumple con las últimas normas internacionales y nacionales.</li> 
                     <li>Rendimiento ambiental mejorado.</li> 

                    </p>

              <!--  
                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> </h5>
                    <ul class="check">
                    </ul>
                  </div>  
                -->   
                            
                
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>