<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Contactores tripolares 3RT</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Contactores tripolares 3RT </li>
        </ul>
        <h2> Contactores tripolares 3RT </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                  <p>
                    Los contactores tripolares 3RT son aparatos, que tienen como función la conexión y desconexión, son empleados en arrancadores a tensión plena a voltaje reducido y arrancadores exactos.
                  </p>
                  <p>

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Contatores tripolares 3RT </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/example7.png"  alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Contatores tripolares 3RT </h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
	   <p>Los contactores tripolares 3RT son aparatos, que tienen como función la conexión y desconexión, son empleados en arrancadores a tensión plena a voltaje reducido y arrancadores exactos.</p>
                 
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
<p>

                    Ventajas:
                    <li> Eliminación de cableado, mediante sus modelos de conexión 3RA.</li>
                    <li> 30 millones de maniobras mecanicas y 10 millones de maniobras eléctricas.</li>
                    <li> Operación maxima de temperatura de 60 grados.</li>
                    <li> Todos sus accesorios son enchufables.</li>
                </p>

                  <p> Aplicación: </p>
                  <p> Los contactores tripolares en aire para corriente alterna trifásica, se emplean para mandos eléctricos o como aparatos de control remoto, especialmente en los casos en que sea necesaria una elevada frecuencia de operaciones.
                    La aplicación más adecuada es de conexión, desconexión y control de motores trifásicos hasta 500 C. P. 440V, 60 Hz, o de circuitos eléctricos de corriente alterna hasta 630 A de intensidad de corriente permanente 660V a 60 Hz. </p>
                        
                    <p> Montaje:</p>
                    <p> Los contactores se montan en superficies planas. </p>
                    <p><strong>Ejecuci&oacute;n:</strong><br /> Los contactores 3RT1 son resistentes a los efectos del clima y est&aacute;n asegurados contra contactos involuntarios, seg&uacute;n DIN VDE 0106, parte 100. Los contactores 3RT1 disponen de conexiones por tornillo o de la t&eacute;cnica de conexi&oacute;n por resorte Cage Clamp.. Los aparatos b&aacute;sicos de los tama&ntilde;os S0 hasta S12 s&oacute;lo contienen v&iacute;as de corriente principales. Todos los aparatos b&aacute;sicos pueden ampliarse con bloques de contactos auxiliares. Los contactores del tama&ntilde;o S3 tienen bornes de caja extra&iacute;bles para las conexiones de conductores principales. Ello hace posible la conexi&oacute;n de terminales de cable en anillo o de platinas.</p>
                    <p><strong>Protecci&oacute;n de motor</strong><br /> Para la protecci&oacute;n contra sobrecarga, se pueden montar rel&eacute;s de sobrecarga 3RU11 en los contactores 3RT1. Los rel&eacute;s de sobrecarga se han de pedir por separado.</p>
                    <p><strong>Limitaci&oacute;n de sobretensi&oacute;n</strong><br /> Todos los contactores 3RT1 podr&aacute;n conectarse posteriormente con elementos RC o con varistores para amortiguar las sobretensiones de desconexi&oacute;n de la bobina. Asimismo se pueden emplear tambi&eacute;n diodos o combinaciones de diodos (combinaci&oacute;n de diodo de limitaci&oacute;n y diodo Z para tiempos breves de desconexi&oacute;n).. En las contactores de los tama&ntilde;os S0 hasta S12, se pueden enchufar varistores y elementos RC bien por arriba a bien por abajo, directamente en las conexiones de bobina. Combinaciones de diodos s&oacute;lo se pueden enchufar por arriba (por raz&oacute;n de polaridad).</p>
                    <p>El sentido de enchufe viene predeterminado por una codificaci&oacute;n. Los contactores de acoplamiento se suministran, seg&uacute;n la ejecuci&oacute;n, sin conexiones o bien conectadas en serie con varistor o diodo.</p>
                    <p><strong>Tama&ntilde;o S0 a S12</strong><br /> Existe un variado programa de bloques de contactos auxiliares para los diversos casos de aplicaci&oacute;n. Los contactores en s&iacute;, no poseen ninguna v&iacute;a de corriente auxiliar integrada.<br /> Las variantes de contactos auxiliares son unitarias para los contactores de los tama&ntilde;os S0 hasta S12.</p>
                    <p>En el lado frontal de los contactores se pueden montar, bien un solo bloque de contactos auxiliares de 4 polos, bien hasta cuatro bloques de 1 polo (t&eacute;cnica de conexi&oacute;n por tornillo o por resorte Cage Clamp). Las designaciones de conexi&oacute;n constan de cifras de orden sobre el aparato b&aacute;sico y de cifras de funci&oacute;n en los bloques de contactos auxiliares.<br /> Se dispone adem&aacute;s de bloques de contactos auxiliares de 2 polos (conexi&oacute;n por tornillo) para la gu&iacute;a de conductor por arriba y por abajo con una construcci&oacute;n en forma de bloque cuadrangular (interruptor auxiliar de derivaci&oacute;n).</p>
                    <p>Cuando el espacio de montaje tenga una profundidad de montaje limitada, se podr&aacute;n montar lateralmente bloques de contactos auxiliares de 2 polos (conexi&oacute;n por tornillo), utilizables por la derecha o por la izquierda.</p>
                    <p>Los bloques de contactos auxiliares de colocaci&oacute;n frontal se pueden desmontar sirvi&eacute;ndose de una palanca de desenclavamiento situada en el centro; los bloques de contactos auxiliares de montaje lateral se pueden sacar f&aacute;cilmente ejerciendo presi&oacute;n sobre las superficies de sujeci&oacute;n acanaladas.</p>
                    <p>La designaci&oacute;n de conexi&oacute;n de los distintos bloques de contactos auxiliares se corresponde con DIN EN 50 005 &oacute; DIN EN 50 012, y la de los contactores completos, con bloque de contactos auxiliares 2 NA + 2 NC se corresponde con DIN EN 50012.</p>
                    <div class="item">
                        <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-contactores-3rt-1.png">
                                          <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-contactores-3rt-1.png" data-src="img/productos-electricos/tablas/tabla-contactores-3rt-1.png" alt="">
                                      </a>
                                    </div>
                                  </br>
                                  <div class="item">
                                      <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-contactores-3rt-2.png">
                                                        <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-contactores-3rt-2.png" data-src="img/productos-electricos/tablas/tabla-contactores-3rt-2.png" alt="">
                                                    </a>
                                                  </div>
                    <p>&nbsp;</p>
                    <p>Accesorios</p>
                    <li> CONTACTO AUXILIAR FRONTAL 1NC 3RH1921-1CA01</li>
                    <li> CONTACTO AUXILIAR FRONTAL 1NA 3RH1921-1CA10 </li>
                    <li> CONTACTO AUXILIAR LAT. 1NA+1NC 3RH1921-1DA11</li>
                    </p>
                                 
                </div>
                <div class="col-lg-6">
                    <div class="image-product"> 
                     </div>   
                </div>
                </div>
                </section> 


                 
                   

</body>
</html>