<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Contactores tripolares 3RT Mini</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Contactores tripolares 3RT Mini </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/example8.jpg"  alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Contactores tripolares 3RT Mini </h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
	   <p>
                    Los contactores tripolares 3RT son aparatos, que tienen como función la conexión y desconexión, son empleados en arrancadores a tensión plena a voltaje reducido y arrancadores exactos.
                </p>
                 
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 

<style> 
 strong {
	 color:black;
 }
</style>

<article class="card mt-3">
	<div class="card-body">
    		<h4>Descripcion detallada </h4>
            <p> Descripcion </p>

                <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-contactores-3rt-mini-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-contactores-3rt-mini-1.png" data-src="img/productos-electricos/tablas/tabla-contactores-3rt-mini-1.png" alt="">
                                  </a>
                                </div>
                              </br>
                <div class="item">              
                              <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-contactores-3rt-mini-2.png">
                                <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-contactores-3rt-mini-2.png" data-src="img/productos-electricos/tablas/tabla-contactores-3rt-mini-2.png" alt="">
                            </a>
                          </div>   

                  <p>
                    Ventajas:
                    <li> Eliminación de cableado, mediante sus modelos de conexión 3RA.</li>
                    <li> 30 millones de maniobras mecanicas y 10 millones de maniobras eléctricas.</li>
                    <li> Operación maxima de temperatura de 60 grados.</li>
                    <li> Todos sus accesorios son enchufables.</li>
                </p>

                <p><strong>Aplicaci&oacute;n:</strong><br /> Los contactores tripolares en aire para corriente alterna trif&aacute;sica, se emplean para mandos el&eacute;ctricos o como aparatos de control remoto, especialmente en los casos en que sea necesaria una elevada frecuencia de operaciones.<br /> La aplicaci&oacute;n m&aacute;s adecuada es de conexi&oacute;n, desconexi&oacute;n y control de motores trif&aacute;sicos hasta 500 C. P. 440V, 60 Hz, o de circuitos el&eacute;ctricos de corriente alterna hasta 630 A de intensidad de corriente permanente 660V a 60 Hz.</p>
                <p><strong>Montaje:</strong><br /> Los contactores se montan en superficies planas.</p>
                <p><strong>Ejecuci&oacute;n:</strong><br /> Los contactores 3RT1 son resistentes a los efectos del clima y est&aacute;n asegurados contra contactos involuntarios, seg&uacute;n DIN VDE 0106, parte 100. Los contactores 3RT1 disponen de conexiones por tornillo o de la t&eacute;cnica de conexi&oacute;n por resorte Cage Clamp.. Los aparatos b&aacute;sicos de los tama&ntilde;os S0 hasta S12 s&oacute;lo contienen v&iacute;&shy;as de corriente principales. Todos los aparatos b&aacute;sicos pueden ampliarse con bloques de contactos auxiliares. Los contactores del tama&ntilde;o S3 tienen bornes de caja extra&iacute;&shy;bles para las conexiones de conductores principales. Ello hace posible la conexi&oacute;n de terminales de cable en anillo o de platinas.</p>
                <p><strong>Protecci&oacute;n de motor</strong><br /> Para la protecci&oacute;n contra sobrecarga, se pueden montar rel&eacute;s de sobrecarga 3RU11 en los contactores 3RT1. Los rel&eacute;s de sobrecarga se han de pedir por separado.</p>
                <p><strong>Limitaci&oacute;n de sobretensi&oacute;n</strong><br /> Los contactores del tama&ntilde;o S00 tienen espacio para enchufar las limitadores de sobretensi&oacute;n par el lado delantero, junto a un bloque de contactos auxiliares montado.</p>
                <p><strong>Tama&ntilde;o S00</strong><br /> Los contactores con un contacto de cierre (NA) como contacto auxiliar, con t&eacute;cnica de conexi&oacute;n por tornillo o por resorte (Cage Clamp), se pueden ampliar con bloques de contactos auxiliares en contactores con contactos auxiliares, seg&uacute;n DIN EN 50012.<br /> Todos los contactores del tama&ntilde;o S00 con un contacto auxiliar, se pueden ampliar con bloques de contactos auxiliares.</p>
                <p>Los bloques de contactos auxiliares de 1 &oacute; 2 polos con posibilidades de conexi&oacute;n por arriba o por abajo, hacen posible, especialmente en el montaje de derivaciones, que el cableado sea sencillo y claro. Estos bloques de contactos auxiliares s&oacute;lo se ofrecen con conexi&oacute;n por tornillo. Todas las variantes de contactos auxiliares mencionadas se pueden fijar por abroche en la apertura prevista en el lado frontal de los contactores. Para desmontarlos, el bloque de contactos auxiliares tiene una palanca de desenclavamiento en el centro.</p>       

                    <p>Accesorios</p>
                    <li> Auxiliar 2NA+2NC Frontal 3RH1911-1FA22</li>
                    <li> Auxiliar 3NA+1NC Frontal 3RH1911-1FA31 </li>
                    <li> Auxiliar 4NA+0NC Frontal 3RH1911-1FA40</li>
                    <li> Auxiliar 0NA+4NC Frontal 3RH1911-1FA04</li>
                    </p>

                
                    <div class="widget" >
                    <h5 class="title"><i class=""></i> Modelos disponibles: Contactor de Vacío en 220v (también disponibles en 110 y 380vca/c) </h5>
                    <ul class="check">
                      <li><a href="#"> T10 225 AMP 2NA+2NC 3RT1264-6AP36                    </a></li>
                      <li><a href="#"> T10 265 AMP 2NA+2NC 3RT1265-6AP36</a></li>
                      <li><a href="#"> T10 300 AMP 2NA+2NC 3RT1266-6AP36 </a></li>
                      <li><a href="#"> T12 400 AMP 2NA+2NC 3RT1275-6AP36 </a></li>
                      <li><a href="#"> T12 500 AMP 2NA+2NC 3RT1276-6AP36 </a></li>
                      <li><a href="#"> T14 630 AMP 2NA+2NC 3TF6844-0CM7 </a></li>
                      <li><a href="#"> T14 820 AMP 2NA+2NC 3TF6944-0CM7</a></li>
                    </ul>
                  </div>                
                </div>

                </div>
                </div>   
                </div>
                </div>
                </section> 

                 
                   

</body>
</html>