<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Convertidores de frecuencia ACS880</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Convertidores de frecuencia ACS880</li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/ACS880.jpg"  alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Convertidores de frecuencia ACS880</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
<p>Nueva Generaci&oacute;n de Convertidores de frecuencia de baja tensi&oacute;n para la industria.</p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
               <p><strong>ACS800 MONTAJE EN PARED</strong></p>
                    <p><strong>Rango de Potencia: 0,55 a 3200 kW</strong> </br><strong>Voltaje de Alimentaci&oacute;n:</strong></p>
                    <ul>
                    <li>Trif&aacute;sica, UN2 = 208 a 240 V, +10/-15% (-01)</li>
                    <li>Trif&aacute;sica, UN3 = 380 a 415 V, +10/-15% (-01), &plusmn;10% (-07)</li>
                    <li>Trif&aacute;sica, UN5 = 380 a 500 V, +10/-15% (-01), &plusmn;10% (-07)</li>
                    <li>Trif&aacute;sica, UN7 = 525 a 690 V, +10/-15% (-01), &plusmn;10% (-07) 0,55 a 250 kW (-01) 45 a 2800 kW (-07) 250 a 3200 kW (-17, -37)</li>
                    </ul>
                    <p><strong>Selecci&oacute;n del convertidor</strong></p>
                    <ul>
                    <li>Muchas de las caracter&iacute;sticas de los convertidores ACS880 est&aacute;n integradas de serie, lo que facilita la selecci&oacute;n.</li>
                    <li>Existe una amplia oferta de opciones para optimizar el convertidor de frecuencia seg&uacute;n los distintos requisitos.</li>
                    <li>Para elegir el convertidor adecuado para su aplicaci&oacute;n utilice la herramienta de dimensionado de ABB DriveSize.</li>
                    <li>El convertidor seleccionado posee una designaci&oacute;n de tipo exclusiva, que lo identifica por estructura, rango de potencia y tensi&oacute;n.</li>
                    <li>Cont&aacute;ctese con nuestro departamento t&eacute;cnico para definir el producto ajustado a su necesidad.</li>
                    </ul>
                    <p><strong>Caracter&iacute;sticas principales</strong></p>
                    <ul>
                    <li>Grado de protecci&oacute;n IP20, IP21 e IP55 para diferentes entornos</li>
                    <li>Dise&ntilde;o compacto para una instalaci&oacute;n, puesta en marcha y mantenimiento simples</li>
                    <li>Seguridad integrada, incluyendo la funci&oacute;n Safe torque off (STO) de f&aacute;brica y el m&oacute;dulo de funciones de seguridad opcional <br />(certificado por T&Uuml;V Nord)</li>
                    <li>Admite diferentes motores, incluyendo motores s&iacute;ncronos de reluctancia</li>
                    <li>Panel de control intuitivo con conexi&oacute;n USB</li>
                    <li>Unidad de memoria extra&iacute;ble para un mantenimiento sencillo</li>
                    <li>Herramienta de PC Drive composer para configuraci&oacute;n y puesta en marcha</li>
                    <li>Programa de control primario: software com&uacute;n utilizado en toda la gama ACS880</li>
                    <li>La unidad de control soporta una amplia gama de buses de campo, dispositivos de realimentaci&oacute;n y entradas/salidas opcionales</li>
                    <li>Tarjetas barnizadas de f&aacute;brica</li>
                    <li>Ventilador de refrigeraci&oacute;n controlado</li>
                    <li>Medici&oacute;n de temperatura del aire entrante para proteger al convertidor de temperaturas que puedan da&ntilde;arlo</li>
                    <li>Chopper de frenado integrado, opci&oacute;n para bastidores R5 a R9</li>
                    <li>Filtro EMC opcional</li>
                    <li>Filtro du/dt opcional para la protecci&oacute;n del motor</li>
                    <li>Reactancia de entrada integrada</li>
                    <li>Soporte optimizado para el montaje en armario (opci&oacute;n +P940)</li>
                    <li>Convertidores &uacute;nicos ACS880-01 optimizados para la instalaci&oacute;n en armario de manera sencilla y rentable</li>
                    </ul>
                    <p><strong>Compatibilidad Total con el medio ambiente</strong></p>
                    <p>Existe una demanda creciente para reducir el impacto de las industrias sobre el medio ambiente.<br />Los ACS880 pueden ayudarle a reducir el consumo de energ&iacute;a en una amplio espectro de aplicaciones.<br />Los nuevos convertidores incluyen una funci&oacute;n de optimizador de energ&iacute;a que garantiza el m&aacute;ximo par por amperio, lo que reduce la energ&iacute;a utilizada de la alimentaci&oacute;n. <br />Las calculadoras de rendimiento energ&eacute;tico integradas le ayudan a analizar y optimizar procesos.<br /><br /></p>
                    
<div class="widget" >
    <h5 class="title"><i class=""></i> Modelos de Convertidores de Frecuencia de ACS880-01 </h5>
    <div class="item">              
        <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-convertidores-acs880-1.png">
          <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-convertidores-acs880-1.png" data-src="img/productos-electricos/tablas/tabla-convertidores-acs880-1.png" alt="">
      </a>
    </div>  
    </div>
   
                </div>
               </div>   
               </div>
               </div>
               </section>

</body>
</html>