

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Convertidores de frecuencia ACS150 </li>
        </ul>
        <h2> Convertidores de frecuencia ACS150 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                  <p>El Microconvertidor ACS150 de ABB est&aacute; dise&ntilde;ado para ser incorporado en una amplia variedad de m&aacute;quinas tales como: mezcladoras,cintas de transporte,ventiladores,bombas o cualquier otra donde un motor de velocidad fija necesite ser modificado por uno de velocidad variable.</p>
                  <p><strong>Rango de Potencia:</strong></p>
                  <p>de 0.37 a 4Kw / de 0.5 a 5 cv</p>
                  <p><strong>Voltaje de Alimentaci&oacute;n: </strong>1-Fase, de 200 a 240 V &plusmn;10%<br /> 3-Fases, de 200 a 240 V &plusmn;10%<br /> 3-Fases, de 380 a 480 V &plusmn;10%<br /> <strong>Opciones</strong></p>
                  <ul>
                  <li>Herramienta FlashDrop</li>
                  <li>Filtro de harm&oacute;nicos para Entrada/Salida</li>
                  <li>Filtro C2 EMC</li>
                  <li>Kit de encapsulado NEMA 1</li>
                  </ul>
                  <p><strong>Aplicaciones</strong></p>
                  <ul>
                  <li>Cintas transportadoras</li>
                  <li>Mezcladoras</li>
                  <li>Manipulaci&oacute;n de materiales</li>
                  <li>Ventiladores y bombas</li>
                  </ul>
                  <p>&nbsp;</p>


                </div>
                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/ACS150.jpg" width="350px" height="350px" alt="">


                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
