<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> MaxPower Industrial Automation </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">

  <link href="css/products/font-awesome.min.css" rel="stylesheet">
  <link href="css/products/bootstrap.min.css" rel="stylesheet">  
  <link href="css/products/products.css" rel="stylesheet">     

</head>
 <body> 

    <!--================Categories Product Area =================-->
    <section class="categories_product_main p_80">
            <div class="container">
                <div class="categories_main_inner">
                    <div class="row row_disable">
                        <div class="col-lg-9 float-md-right">
                            <div class="categories_product_area">
                                <div class="row">
                                        {{#each prod}}
                                       <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="{{this.img}}" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="/{{this.href}}">Ver Producto</a></li>
                                                </ul>
                                                <h4>{{this.name}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                        {{/each}}


                                </div>

                                  <!-- NAVEGADOR -->

                            </div>
                        </div>


                                  <!-- CATEGORIAS -->


                      <div class="col-lg-3 float-md-right">
                            <div class="categories_sidebar">
                                <aside class="l_widgest l_menufacture_widget">
                                    <div class="l_w_title">
                                        <h3>Categorias</h3>
                                    </div>
                                    <ul>
                                        <li><a href="/arrancadores-suaves">Arrancadores Suaves</a></li>
                                        <li><a href="/contactores">Contactores</a></li>
                                        <li><a href="/convertidores-de-frecuencia">Convertidores de frecuencia</a></li> 
                                        <li><a href="/guardamotor">Guardamotor </a></li>   
                                        <li><a href="/interruptores-en-caja-moldeada">Interruptores en caja moldeada </a></li>                  
                                        <li><a href="/motores">Motores </a></li>
                                        <li><a href="/plc">PLC</a></li>
                                        <li><a href="/variadores">Variadores </a></li>
                                    </ul>
                                </aside>
                               


                                <aside class="l_widgest l_menufacture_widget">
                                    <div class="l_w_title">
                                        <h3>Fabricantes</h3>
                                    </div>
                                  
                                </aside>




                                        <!-- NUEVOS PRODUCTOS -->


                                <aside class="l_widgest l_feature_widget">
                                    <div class="l_w_title">
                                        <h3>Nuevos productos</h3>
                                    </div>
                                    <div class="media">

                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product Area =================-->
         

        <script src="js/products/jquery-3.2.1.min.js"></script>
        <script src="js/products/popper.min.js"></script>
        <script src="js/products/bootstrap.min.js"></script> 

 </body>
 </html>   