<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">

  <title>Guardamotores 3RV</title>

  <title> Variadores MICROMASTER 420 </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>

    <li class="breadcrumb-item active" aria-current="page"> Guardamotores 3RV</li>

    <li class="breadcrumb-item active" aria-current="page"> Variadores MICROMASTER 420 </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div><img class="img-responsive" src="../img/productos-electricos/example14.jpg"  alt=""></a></div>

    <div>
 <img src="../img/productos-electricos/example38.jpg">
    </div>


</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Guardamotores 3RV</h3>

	<h3 class="title mb-3"> Variadores MICROMASTER 420 </h3>


<dl>
  <dt>Descripcion</dt>
  <dd>

  <p>Los guardamotor guardamotores 3RV de la l&iacute;&shy;nea SIRIUS limitan da&ntilde;os en caso de corto circuito y sobrecarga.</p>					
  </dd>


       <p>Este convertidor de frecuencia es ideal para m&uacute;ltiples aplicaciones de accionamiento de velocidad variable, como bombas, ventiladores y sistemas de transporte<br /> (por ejemplo, cintas transportadoras), entre otras.</p>


  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">

             <p><strong>Guardamotores 3RV </strong>de 1 a 100 A con conexi&oacute;n por resorte o tornillo.</p>
                <ul>
                <li>Para la protecci&oacute;n de motores y distribuciones hasta 100 A</li>
                <li>Para combinaciones de arrancadores hasta 100 A</li>
                <li>Para la protecci&oacute;n de transformadores hasta 40 A</li>
                <li>Para la vigilancia de fusibles hasta 0,2 A</li>
                <li>Para protecci&oacute;n de motor con funci&oacute;n de rel&eacute; de sobrecarga hasta 100 A</li>
                </ul>
                <p>Estos equipos, a su vez, forman parte de los arrancadores exactos que, a trav&eacute;s de m&oacute;dulos de uni&oacute;n 3RA, son adaptables a un contacto para formar un arrancador y adem&aacute;s eliminar el cableado.</p>
                <p><strong>Ventajas</strong></p>
                <ul>
                <li>Para la vigilancia de fusibles hasta 0,2 A</li>
                <li>Para protecci&oacute;n de motor con funci&oacute;n de rel&eacute; de sobrecarga hasta 100A</li>
                </ul>
                <p><strong>C&oacute;digos de modelos seg&uacute;n rango de regulaci&oacute;n</strong></p>
                
                <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-1.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-1.png" alt="">
                                  </a>
                  </div>
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-2.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-2.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-2.png" alt="">
                                  </a>
                  </div>
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-3.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-3.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-3.png" alt="">
                                  </a>
                  </div>
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-4.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-4.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-4.png" alt="">
                                  </a>
                  </div>

                </div>
               </div>   
               </div>
               </div>
               </section>

		<h4> Descripcion detallada </h4>
	         	<p><strong>Caracter&iacute;sticas</strong><br /> Se caracteriza especialmente por su prestaci&oacute;n orientada al cliente y su facilidad de uso.<br /> Tiene un amplio rango de tensiones de trabajo que permite que sea utilizado en todo el mundo.</p>
                    <p><strong>Dise&ntilde;o</strong></p>
                    <p>El MICROMASTER 420 tiene un dise&ntilde;o modular. Los paneles de operaci&oacute;n y el m&oacute;dulo de conexi&oacute;n a PROFIBUS pueden ser colocados y retirados manualmente.</p>
                 
                    <p><strong>Caracter&iacute;sticas principales</strong></p>
                  
                    <li>Programaci&oacute;n sencilla.</li>
                    <li>Construcci&oacute;n modular que permite m&aacute;ximas configuraci&oacute;n y flexibilidad a trav&eacute;s de tres entradas digitales aisladas y programables.</li>
                    <li>Entrada escalonable anal&oacute;gica (0 V hasta 10 V) que puede ser usada como una cuarta entrada digital.</li>
                    <li>Salida anal&oacute;gica programable (0 mA hasta 20 mA).</li>
                    <li>Salida-rel&eacute; totalmente programable (30 V DC/5 A, resistivo, 250 V AC/2 A, inductivo).</li>
                    <li>Operaci&oacute;n de motor silenciosa cuando se utilizan altas frecuencia de maniobra de desconexi&oacute;n.</li>
                    <li>Protecci&oacute;n completa del inversor y del motor.</li>
                   
                    <p><strong>Opciones m&aacute;s importantes</strong></p>
                 
                    <li>Filtros EMC Clase A/B.</li>
                    <li>Reactancias de conmutaci&oacute;n de l&iacute;nea.</li>
                    <li>Reactancias de salida.</li>
                    <li>Placas de conexi&oacute;n.</li>
                    <li>BOP panel de operaci&oacute;n b&aacute;sico para parametrizaci&oacute;n e inversi&oacute;n.</li>
                    <li>AOP panel de operaci&oacute;n avanzado con display y texto multilenguaje.</li>
                    <li>M&oacute;dulo de comunicaci&oacute;n PROFIBUS_DP.</li>
                    <li>Kits de conexi&oacute;n a PC.</li>
                    <li>Kits para montaje de paneles de operaci&oacute;n en las puertas de los gabinetes de control.</li>
                    <li>Herramientas de configuraci&oacute;n en PC que utilizan entorno Windows 95/98 y NT/2000.</li>
                 
                    <p><strong>&nbsp;</strong><br /> <strong>Est&aacute;ndar internacional</strong></p>
                   
                    <li>El MICROMASTER 420 lleva la marca de la CE para las conformidades de la EMC y las normativas sobre baja tensi&oacute;n.</li>
                    <li>uL and cuL listed.</li>
                    <li>c-tick.</li>
                    
                    <p>&nbsp;</p>
                                  
                
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-variadores-420-1.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-variadores-420-1.png" data-src="img/productos-electricos/tablas/tabla-variadores-420-1.png" alt="">
                                          </a>
                                        </div>                                		
                                     </div>
<!-- 
                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
                    <ul class="check">
                    <li>ATV71HD18N4 VARIADOR VEL. TRIF. ALTO PAR 18,5KW </li>
                    <li>ATV71HD22N4 VARIADOR VEL. TRIF. ALTO PAR 22KW </li>
                    <li>ATV71HD30N4 VARIADOR VEL. TRIF. ALTO PAR 30KW </li>
                    <li>ATV71HD37N4 VARIADOR VEL. TRIF. ALTO PAR 37KW </li>
                    <li>ATV71HD45N4 VARIADOR VEL. TRIF. ALTO PAR 45KW </li>
                    <li>ATV71HD55N4 VARIADOR VEL. TRIF. ALTO PAR 55KW </li>
                    <li>ATV71HD75N4 VARIADOR VEL. TRIF. ALTO PAR 75KW </li>
                    <li>ATV71HD90N4 VARIADOR VEL. TRIF. ALTO PAR 90Kw </li>
                    <li>ATV71HC11N4 VARIADOR VEL. TRIF. ALTO PAR 110kW </li>
                    <li>ATV71HC13N4 VARIADOR VEL. TRIF. ALTO PAR 132kW </li>
                    <li>ATV71HC16N4 VARIADOR VEL. TRIF. ALTO PAR 160kW </li>
                    <li>ATV71HC20N4 VARIADOR VEL. TRIF. ALTO PAR 200kW </li>
                    </ul>
                  </div>                
                </div>     
                                              -->            
              </div>                
            </div>

            </article> 
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>


</body>
</html>