<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>CGuardamotores ABB</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Guardamotores ABB</li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img class="img-responsive" src="../img/productos-electricos/example12.jpg"  alt=""></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3"> Guardamotores ABB</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
    <p>Los guardamotores de ABB estan dise&ntilde;ados para accionar y proteger motores contrasobrecargas, cortocircuitos y falta de fase. La experiencia y conocimientos adquiridos por ABB en la fabricaci&oacute;n de guardamotores, hace posible presentar una completa gama con un poder de apertura extremadamente r&aacute;pido que evita da&ntilde;os a los motores.</p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 

<style> 
 strong {
	 color:black;
 }

</style>

<article class="card mt-3">
	<div class="card-body">
    <h4>Descripcion detallada </h4>
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotor-ms.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotor-ms.png" data-src="img/productos-electricos/tablas/tabla-guardamotor-ms.png" alt="">
                                          </a>
                                        </div>
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotor-ms-2.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotor-ms-2.png" data-src="img/productos-electricos/tablas/tabla-guardamotor-ms-2.png" alt="">
                                          </a>
                                        </div>                                        
    <p> Descripcion </p>

              <p><strong>Normas:</strong> Los guardamotores de ABB son fabricados bajo la norma IEC 60947 y presentan certificaci&oacute;n de los m&aacute;s exigentes organismos internacionales , como UL, CS A, entre otras<br /> Para grupo de motores</p>
                <p>La necesidad de aparatos de protecci&oacute;n contra cortocircuito individuales como los fusibles, se eliminan con las aplicaciones de grupo de motores; esto ahorra tanto en costes de la instalaci&oacute;n como espacio en el cuadro. La l&iacute;nea de guardamotores ABB cumple la normativa UL y pueden ser utilizados en instalaciones de grupos de motores.</p>
                <p><strong>Para un motor</strong></p>
                
                <li>Los guardamotores ABB protegen contra sobrecargas cumpliendo la normativa; art&iacute;culo 430 del C&oacute;digo Nacional El&eacute;ctrico. El Control se realiza mediante la operaci&oacute;n manual de los contactos; la protecci&oacute;n contra sobrecarga se realiza mediante el mecanismo de bimetal regulable.</li>
                <li>Rel&eacute; de sobrecarga regulable compensado Clase 10 (-20?C a +45?C ambos incluidos).</li>
                <li>Cajas que admiten los siguientes accesorios: cierre con candado y contacto de se&ntilde;alizaci&oacute;n.</li>
                <li>Hasta 30kA o 85kA sin fusibles de protecci&oacute;n de acompa&ntilde;amiento.</li>
                <li>Accesorios Incluidos.</li>
                
                <p>&nbsp;</p>
                <p><strong>Datos T&eacute;cnicos</strong></p>
                <p>De 0.1 a 63 A, la gama de guardamotores combina el control y la protecci&oacute;n del motor en un s&oacute;lo aparato que puede ser equipado con muchos otros accesorios. Para aplicaciones en peque&ntilde;as m&aacute;quinas herramienta, bombas, compresores&hellip;, etc.</p>
                <p><strong>Guardamotor MS116 para control motores 0,16 a 16A&nbsp;</strong></p>
                <p>MS 116 cubre las gamas bajas hasta 7.5kW / 16A y provee de la mejor eficiencia/coste de protecci&oacute;n del motor en m&uacute;ltiples aplicaciones. Caracterizado por su peque&ntilde;a anchura, ahorra tanto en costes de instalaci&oacute;n como espacio en el cuadro.</p>
                <p>Todos los guardamotores puede conmutar, desconectar y proteger el motor contra:</p>
                
                <li>Cortocircuitos</li>
                <li>Sobrecargas</li>
                <li>Fallos de fase</li>
                
                <p><strong>Descripci&oacute;n</strong>:</p>
                
                <li>Cumple la normativa UL &amp; CSA para instalaciones de grupos de motores de 1600A</li>
                <li>&nbsp;Se suministra con los contactos en posici&oacute;n abierto, taladros marcados</li>
                <li>&nbsp;Dise&ntilde;o seguro contra contactos: todos los terminales de conexi&oacute;n est&aacute;n protegidos contra contactos accidentales.</li>
                
                <p>Todos los guardamotores disponen de protecci&oacute;n t&eacute;rmica y protecci&oacute;n por fallo de fase. El montaje se realiza en carril DIN de 35mm.</p>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb.png" alt="">
                                </a>
                </div>
                <p><strong>MS132 Guardamotores&nbsp;</strong></p>
                <p>0.10 a 32 A, con protecci&oacute;n t&eacute;rmica y electromagn&eacute;tica</p>
                <p>Descripci&oacute;n</p>
                <p>Los guardamotores (MMS, manual motor starter) son dispositivos de protecci&oacute;n para el circuito principal.</p>
                <p>Combinan el control del motor y la protecci&oacute;n en un solo dispositivo. Los MMS se utilizan principalmente para activar o desactivar el motor manualmente y para proteger el motor y la instalaci&oacute;n sin fusibles ante cortocircuitos, sobrecargas y fallos de fase. La protecci&oacute;n sin fusibles con un sistema de arranque manual de motor ahorra costos y espacio, y garantiza una reacci&oacute;n r&aacute;pida en caso de cortocircuito, mediante la desactivaci&oacute;n del motor en milisegundos.</p>
                <p>MS132 es un rango compacto y potente para la protecci&oacute;n del motor de hasta 15.5 kW (400 V) o 32 A en un ancho de 45 mm. Otras funciones son la desconexi&oacute;n incorporada, la compensaci&oacute;n de temperatura, el mecanismo de desconexi&oacute;n libre y el mango giratorio con indicador de la posici&oacute;n del interruptor. El guardamotor es apto para aplicaciones monof&aacute;sicas y trif&aacute;sicas. El mango se puede bloquear para protegerlo contra cambios sin autorizaci&oacute;n. Contactos auxiliares y de se&ntilde;alizaci&oacute;n, unidades auxiliares de disparo, barras de bus trif&aacute;sicas, bloques de entrada de alimentaci&oacute;n.</p>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb-2.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb-2.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb-2.png" alt="">
                                </a>
                </div>
                <p>&nbsp;</p>
                <p><strong>MS 325</strong></p>
                <p>Es el guardamotor de altas prestaciones hasta 12,5kW / 25A at 400V con una gran capacidad ante cortocircuitos hasta 100KA con un bajo valor de &ldquo;energy let through&rdquo;.</p>
                <p>Alta capacidad de ruptura.</p>
                <ul>
                <li>Montaje sin fusibles previos hasta 50 &oacute; 100kA (ver table de selecci&oacute;n).</li>
                <li>Fijaci&oacute;n a riel DIN de 35mm.</li>
                <li>Elevado n&uacute;mero de maniobras.</li>
                <li>Posibilidad de regulaci&oacute;n de ajuste t&eacute;rmico.</li>
                <li>Montaje de accesorios por encastre.</li>
                </ul>
                <p>Los guardamotores MS325 cuentan con accesorios como:</p>
                <ul>
                <li>Contactos auxiliares HK.</li>
                <li>Contactos para se&ntilde;alizaci&oacute;n de fallas SK.</li>
                <li>Bobina de m&iacute;nima tensi&oacute;n.</li>
                <li>Bloqueo a candado en posici&oacute;n abierto.</li>
                <li>Unidad de control remoto RC.</li>
                </ul>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb-3.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb-3.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb-3.png" alt="">
                                </a>
                </div>
                <p>&nbsp;</p>
                <p><strong>MS 450 y MS 495</strong></p>
                <p>Para protecci&oacute;n de grandes motores, hasta 45kW y para otras &ldquo;aplicaciones&rdquo; hasta 100A.</p>
                <p>Alta capacidad de ruptura.</p>
                <ul>
                <li>Montaje sin fusibles previos hasta 50 &oacute; 100kA (ver table de selecci&oacute;n).</li>
                <li>Fijaci&oacute;n a riel DIN de 35mm.</li>
                <li>Elevado n&uacute;mero de maniobras.</li>
                <li>Posibilidad de regulaci&oacute;n de ajuste t&eacute;rmico.</li>
                <li>Montaje de accesorios por encastre.</li>
                </ul>
                <p>Los guardamotores MS4xx cuentan con accesorios como:</p>
                <ul>
                <li>Contactos auxiliares laterales y frontales HK.</li>
                <li>Contactos para se&ntilde;alizaci&oacute;n de fallas SK.</li>
                <li>Bobina de m&iacute;nima tensi&oacute;n UA.</li>
                </ul>
                <p>Todos los guardamotores puede conmutar, desconectar y proteger el motor contra:</p>
                <ul>
                <li>Cortocircuitos</li>
                <li>Sobrecargas</li>
                <li>Fallos de fase</li>
                </ul>
                <p>Descripci&oacute;n:</p>
                <ul>
                <li>Cumple la normativa UL &amp; CSA para instalaciones de grupos de motores de 1600A</li>
                <li>Se suministra con los contactos en posici&oacute;n abierto, taladros marcados</li>
                <li>Dise&ntilde;o seguro contra contactos: todos los terminales de conexi&oacute;n est&aacute;n protegidos contra contactos accidentales.</li>
                </ul>
                <p>Todos los guardamotores disponen de protecci&oacute;n t&eacute;rmica y protecci&oacute;n por fallo de fase. El montaje se realiza en carril DIN de 35mm.<br /> Para todos los guardamotores hay una amplia gama de accesorios.</p>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb-4.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb-4.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb-4.png" alt="">
                                </a>
                </div>
   
                </div>
               </div>   
               </div>
               </div>
               </section>

</body>
</html>