

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Guardamotores 3RV </li>
        </ul>
        <h2> Guardamotores 3RV </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Los guardamotor guardamotores 3RV de la l&iacute;&shy;nea SIRIUS limitan da&ntilde;os en caso de corto circuito y sobrecarga.</p>
 				<p><strong>Guardamotores 3RV </strong>de 1 a 100 A con conexi&oacute;n por resorte o tornillo.</p>
                <ul>
                <li>Para la protecci&oacute;n de motores y distribuciones hasta 100 A</li>
                <li>Para combinaciones de arrancadores hasta 100 A</li>
                <li>Para la protecci&oacute;n de transformadores hasta 40 A</li>
                <li>Para la vigilancia de fusibles hasta 0,2 A</li>
                <li>Para protecci&oacute;n de motor con funci&oacute;n de rel&eacute; de sobrecarga hasta 100 A</li>
                </ul>
                <p>Estos equipos, a su vez, forman parte de los arrancadores exactos que, a trav&eacute;s de m&oacute;dulos de uni&oacute;n 3RA, son adaptables a un contacto para formar un arrancador y adem&aacute;s eliminar el cableado.</p>
                <p><strong>Ventajas</strong></p>
                <ul>
                <li>Para la vigilancia de fusibles hasta 0,2 A</li>
                <li>Para protecci&oacute;n de motor con funci&oacute;n de rel&eacute; de sobrecarga hasta 100A</li>
                </ul>
                <p><strong>C&oacute;digos de modelos seg&uacute;n rango de regulaci&oacute;n</strong></p>
                
                <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-1.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-1.png" alt="">
                                  </a>
                  </div>
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-2.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-2.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-2.png" alt="">
                                  </a>
                  </div>
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-3.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-3.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-3.png" alt="">
                                  </a>
                  </div>
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-3rt-4.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-3rt-4.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-3rt-4.png" alt="">
                                  </a>
                  </div>


                <!--                 
<div class="widget" data-effect="slide-bottom">
    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
    <ul class="check">
    </ul>
    </div>
    -->
                </div>
                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example14.jpg" width="350px" height="350px" alt="">


                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 

 
 