

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Guardamotores ABB </li>
        </ul>
        <h2> Guardamotores ABB </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Los guardamotores de ABB estan dise&ntilde;ados para accionar y proteger motores contrasobrecargas, cortocircuitos y falta de fase. La experiencia y conocimientos adquiridos por ABB en la fabricaci&oacute;n de guardamotores, hace posible presentar una completa gama con un poder de apertura extremadamente r&aacute;pido que evita da&ntilde;os a los motores.</p>
      			<p><strong>Normas:</strong> Los guardamotores de ABB son fabricados bajo la norma IEC 60947 y presentan certificaci&oacute;n de los m&aacute;s exigentes organismos internacionales , como UL, CS A, entre otras<br /> Para grupo de motores</p>
                <p>La necesidad de aparatos de protecci&oacute;n contra cortocircuito individuales como los fusibles, se eliminan con las aplicaciones de grupo de motores; esto ahorra tanto en costes de la instalaci&oacute;n como espacio en el cuadro. La l&iacute;nea de guardamotores ABB cumple la normativa UL y pueden ser utilizados en instalaciones de grupos de motores.</p>
                <p><strong>Para un motor</strong></p>
                <ul>
                <li>Los guardamotores ABB protegen contra sobrecargas cumpliendo la normativa; art&iacute;culo 430 del C&oacute;digo Nacional El&eacute;ctrico. El Control se realiza mediante la operaci&oacute;n manual de los contactos; la protecci&oacute;n contra sobrecarga se realiza mediante el mecanismo de bimetal regulable.</li>
                <li>Rel&eacute; de sobrecarga regulable compensado Clase 10 (-20?C a +45?C ambos incluidos).</li>
                <li>Cajas que admiten los siguientes accesorios: cierre con candado y contacto de se&ntilde;alizaci&oacute;n.</li>
                <li>Hasta 30kA o 85kA sin fusibles de protecci&oacute;n de acompa&ntilde;amiento.</li>
                <li>Accesorios Incluidos.</li>
                </ul>
                <p>&nbsp;</p>
                <p><strong>Datos T&eacute;cnicos</strong></p>
                <p>De 0.1 a 63 A, la gama de guardamotores combina el control y la protecci&oacute;n del motor en un s&oacute;lo aparato que puede ser equipado con muchos otros accesorios. Para aplicaciones en peque&ntilde;as m&aacute;quinas herramienta, bombas, compresores&hellip;, etc.</p>
                <p><strong>Guardamotor MS116 para control motores 0,16 a 16A&nbsp;</strong></p>
                <p>MS 116 cubre las gamas bajas hasta 7.5kW / 16A y provee de la mejor eficiencia/coste de protecci&oacute;n del motor en m&uacute;ltiples aplicaciones. Caracterizado por su peque&ntilde;a anchura, ahorra tanto en costes de instalaci&oacute;n como espacio en el cuadro.</p>
                <p>Todos los guardamotores puede conmutar, desconectar y proteger el motor contra:</p>
                <ul>
                <li>Cortocircuitos</li>
                <li>Sobrecargas</li>
                <li>Fallos de fase</li>
                </ul>
                <p><strong>Descripci&oacute;n</strong>:</p>
                <ul>
                <li>Cumple la normativa UL &amp; CSA para instalaciones de grupos de motores de 1600A</li>
                <li>&nbsp;Se suministra con los contactos en posici&oacute;n abierto, taladros marcados</li>
                <li>&nbsp;Dise&ntilde;o seguro contra contactos: todos los terminales de conexi&oacute;n est&aacute;n protegidos contra contactos accidentales.</li>
                </ul>
                <p>Todos los guardamotores disponen de protecci&oacute;n t&eacute;rmica y protecci&oacute;n por fallo de fase. El montaje se realiza en carril DIN de 35mm.</p>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb.png" alt="">
                                </a>
                </div>
                <p><strong>MS132 Guardamotores&nbsp;</strong></p>
                <p>0.10 a 32 A, con protecci&oacute;n t&eacute;rmica y electromagn&eacute;tica</p>
                <p>Descripci&oacute;n</p>
                <p>Los guardamotores (MMS, manual motor starter) son dispositivos de protecci&oacute;n para el circuito principal.</p>
                <p>Combinan el control del motor y la protecci&oacute;n en un solo dispositivo. Los MMS se utilizan principalmente para activar o desactivar el motor manualmente y para proteger el motor y la instalaci&oacute;n sin fusibles ante cortocircuitos, sobrecargas y fallos de fase. La protecci&oacute;n sin fusibles con un sistema de arranque manual de motor ahorra costos y espacio, y garantiza una reacci&oacute;n r&aacute;pida en caso de cortocircuito, mediante la desactivaci&oacute;n del motor en milisegundos.</p>
                <p>MS132 es un rango compacto y potente para la protecci&oacute;n del motor de hasta 15.5 kW (400 V) o 32 A en un ancho de 45 mm. Otras funciones son la desconexi&oacute;n incorporada, la compensaci&oacute;n de temperatura, el mecanismo de desconexi&oacute;n libre y el mango giratorio con indicador de la posici&oacute;n del interruptor. El guardamotor es apto para aplicaciones monof&aacute;sicas y trif&aacute;sicas. El mango se puede bloquear para protegerlo contra cambios sin autorizaci&oacute;n. Contactos auxiliares y de se&ntilde;alizaci&oacute;n, unidades auxiliares de disparo, barras de bus trif&aacute;sicas, bloques de entrada de alimentaci&oacute;n.</p>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb-2.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb-2.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb-2.png" alt="">
                                </a>
                </div>
                <p>&nbsp;</p>
                <p><strong>MS 325</strong></p>
                <p>Es el guardamotor de altas prestaciones hasta 12,5kW / 25A at 400V con una gran capacidad ante cortocircuitos hasta 100KA con un bajo valor de &ldquo;energy let through&rdquo;.</p>
                <p>Alta capacidad de ruptura.</p>
                <ul>
                <li>Montaje sin fusibles previos hasta 50 &oacute; 100kA (ver table de selecci&oacute;n).</li>
                <li>Fijaci&oacute;n a riel DIN de 35mm.</li>
                <li>Elevado n&uacute;mero de maniobras.</li>
                <li>Posibilidad de regulaci&oacute;n de ajuste t&eacute;rmico.</li>
                <li>Montaje de accesorios por encastre.</li>
                </ul>
                <p>Los guardamotores MS325 cuentan con accesorios como:</p>
                <ul>
                <li>Contactos auxiliares HK.</li>
                <li>Contactos para se&ntilde;alizaci&oacute;n de fallas SK.</li>
                <li>Bobina de m&iacute;nima tensi&oacute;n.</li>
                <li>Bloqueo a candado en posici&oacute;n abierto.</li>
                <li>Unidad de control remoto RC.</li>
                </ul>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb-3.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb-3.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb-3.png" alt="">
                                </a>
                </div>
                <p>&nbsp;</p>
                <p><strong>MS 450 y MS 495</strong></p>
                <p>Para protecci&oacute;n de grandes motores, hasta 45kW y para otras &ldquo;aplicaciones&rdquo; hasta 100A.</p>
                <p>Alta capacidad de ruptura.</p>
                <ul>
                <li>Montaje sin fusibles previos hasta 50 &oacute; 100kA (ver table de selecci&oacute;n).</li>
                <li>Fijaci&oacute;n a riel DIN de 35mm.</li>
                <li>Elevado n&uacute;mero de maniobras.</li>
                <li>Posibilidad de regulaci&oacute;n de ajuste t&eacute;rmico.</li>
                <li>Montaje de accesorios por encastre.</li>
                </ul>
                <p>Los guardamotores MS4xx cuentan con accesorios como:</p>
                <ul>
                <li>Contactos auxiliares laterales y frontales HK.</li>
                <li>Contactos para se&ntilde;alizaci&oacute;n de fallas SK.</li>
                <li>Bobina de m&iacute;nima tensi&oacute;n UA.</li>
                </ul>
                <p>Todos los guardamotores puede conmutar, desconectar y proteger el motor contra:</p>
                <ul>
                <li>Cortocircuitos</li>
                <li>Sobrecargas</li>
                <li>Fallos de fase</li>
                </ul>
                <p>Descripci&oacute;n:</p>
                <ul>
                <li>Cumple la normativa UL &amp; CSA para instalaciones de grupos de motores de 1600A</li>
                <li>Se suministra con los contactos en posici&oacute;n abierto, taladros marcados</li>
                <li>Dise&ntilde;o seguro contra contactos: todos los terminales de conexi&oacute;n est&aacute;n protegidos contra contactos accidentales.</li>
                </ul>
                <p>Todos los guardamotores disponen de protecci&oacute;n t&eacute;rmica y protecci&oacute;n por fallo de fase. El montaje se realiza en carril DIN de 35mm.<br /> Para todos los guardamotores hay una amplia gama de accesorios.</p>
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-guardamotores-abb-4.png">
                                    <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-guardamotores-abb-4.png" data-src="img/productos-electricos/tablas/tabla-guardamotores-abb-4.png" alt="">
                                </a>
                </div>
                    

                </div>
                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example12.jpg" width="350px" height="350px" alt="">


                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
