<section id="home">
		<div class="overlay">
			<div class="flexslider">
				<ul class="slides">
      		<li> 
						<img src="img/slider/1.jpg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">               
              </div>
        		</div>
					</li>


            <li> 
						<img src="img/slider/2.jpg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">            
              </div>
        		</div>
					</li>

            <li> 
						<img src="img/slider/3.jpg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">                 
              </div>
        		</div>
					</li>

          <li> 
						<img src="img/slider/4.jpg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">                 
              </div>
        		</div>
					</li>
      	</ul>
			</div>
		</div>
    </section>

    <section id="desc_info">
      <div class="container-fluid">
          <div class="col-sm-12">
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner2">
                      <div class="feature-box-icon">       
                      <i class="fa fa-book" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Área de ventas </h4>
                      </div>   
                      <p>
                          Somos importadores de todo tipo de repuestos para la automatización industrial, otorgando el mejor servicio a nuestros clientes.
                      </p>
                  </div>
              </div>
               
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner2">
                      <div class="feature-box-icon">
                         <i class="fa fa-laptop" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Área de servicios </h4>
                      </div>   
                      <p>
                          Brindamos servicios de mantenimiento correctivo y preventivo de alta calidad a todo tipo de equipamiento industrial.
                      </p>
                  </div>
              </div>
             
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner">
                      <div class="feature-box-icon">
                          <i class="fa fa-bars" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Productos </h4>
                      </div>   
                      <p>
                          Contamos con un ámplio catálogo de productos con los cuales nos desempeñamos en el área de mantenimiento y reparación de los mismos.
                      </p>
                  </div>
              </div>
                
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner">
                      <div class="feature-box-icon">
                          <i class="fa fa-envelope" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Contacto </h4>
                      </div>    
                      <p>
                          Si tienes dudas o deseas realizar alguna consulta/sugerencia no dudes en hacerlo, nosotros te atenderemos.
                      </p>
                  </div>
              </div>
          </div>
      </div>     
    </section>

<section class="section10">
         <div class="general-title-a text-center">
          <h3> Conoce mas sobre nuestros servicios </h3>
          </br>
        </div>
</section>
    <div class="swiper-container">     
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/services/7.jpg" style="height:1000px;"/></div>
            <div class="swiper-slide"><img src="img/services/3.jpg" style="height:1000px;"/></div>
            <div class="swiper-slide"><img src="img/services/1.jpg" style="height:1000px;"/></div>
            <!--<div class="swiper-slide"><img src="img/services/9.jpg" style="height:500px;"/></div>-->
            <div class="swiper-slide"><img src="img/services/4.jpg" style="height:666px;"/></div>
            <!--<div class="swiper-slide"><img src="img/services/6.jpg" style="height:666px;"/></div>-->
            <!-- <div class="swiper-slide"><img src="img/services/7.jpg" style="height:666px;"/></div> -->         
        </div>
        <div class="swiper-pagination"></div>
    </div>
                            
  <section class="section2">
      <div class="container">
        <div class="message text-center">
          <h2 class="big-title"><span> MaxPower </span> es una empresa que brinda soluciones integrales a las industrias </h2>
          <p class="small-title">Buscamos a través de un servicio de asistencia en excelencia y eficiencia, apoyar el crecimiento y fortalecimiento del sector industrial, siendo asi una empresa líder en el mercado brindando soluciones tecnológicas con valor agregado para nuestros clientes.</p>
          <a class="button large" href="/productos"> PRODUCTOS </a>
          <a class="button large" href="/services"> SERVICIOS </a>
        </div>
      </div>  
     </section>  

  <section class="section4 text-center">
    <div class="general-title">
      <h3> Productos destacados </h3>
      <hr>
    </div>
    <div class="portfolio-wrapper">
      <div id="owl-demo" class="owl-carousel"> 
          <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/arrancadores_suaves_abb.png">
                        	<img class="lazyOwl" style="height: 336px; background: #fff;" src="img/destacados/arrancadores_suaves_abb.png" data-src="img/destacados/arrancadores_suaves_abb.png" alt="">
                        	<div>
                                <span> ARRANCADORES SUAVES ABB </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

     <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/barbijo_n95.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/barbijo_n95.png" data-src="img/destacados/barbijo_n95.png" alt="">
                        	<div>
                                <span> BARBIJO N95 8210 3M C/VALVULA </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

          <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/capacitores.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/capacitores.png" data-src="img/destacados/capacitores.png" alt="">
                        	<div>
                                <span> CAPACITORES DE ARRANQUE Y ELECTROLITICOS </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>
        
          <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/casco3m.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/casco3m.jpg" data-src="img/destacados/casco3m.jpg" alt="">
                        	<div>
                                <span> CASCO DE PROTECCION CRANEANA 3M </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

          <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/mameluco_descartable.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/mameluco_descartable.png" data-src="img/destacados/mameluco_descartable.png" alt="">
                        	<div>
                                <span> MAMELUCOS DESCARTABLES PARA PROTECCION </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

          <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/plc_logo.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/plc_logo.jpg" data-src="img/destacados/plc_logo.jpg" alt="">
                        	<div>
                                <span> PLC Logo! </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/variadores_de_velocidad.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/variadores_de_velocidad.png" data-src="img/destacados/variadores_de_velocidad.png" alt="">
                        	<div>
                                <span> VARIADORES DE VELOCIDAD ACS800 </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/proteccion_respiratoria.png">
                        	<img class="lazyOwl"  style="height: 336px;" src="img/destacados/proteccion_respiratoria.png" data-src="img/destacados/proteccion_respiratoria.png" alt="">
                        	<div>
                                <span> RESPIRADOR MEDIA CARA REUTILIZABLE 9000e </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

          <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/Interruptores termomagneticos.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/Interruptores termomagneticos.png" data-src="img/destacados/Interruptores termomagneticos.png" alt="">
                        	<div>
                                <span> INTERRUPTORES TERMOMAGNETICOS </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

          <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/casco_de_proteccion_facial.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/casco_de_proteccion_facial.png" data-src="img/destacados/casco_de_proteccion_facial.png" alt="">
                        	<div>
                                <span> CASCO DE PROTECCION FACIAL </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/fusibles ultra-rapidos.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/fusibles ultra-rapidos.png" data-src="img/destacados/fusibles ultra-rapidos.png" alt="">
                        	<div>
                                <span> FUSIBLES ULTRA-RAPIDOS </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/guardamotores.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/guardamotores.png" data-src="img/destacados/guardamotores.png" alt="">
                        	<div>
                                <span> GUARDAMOTORES ABB Y PRINCIPALES MARCAS  </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div> 

        <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/relays.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/relays.png" data-src="img/destacados/relays.png" alt="">
                        	<div>
                                <span> RELAYS </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>
        


        <div class="item">
          <a data-rel="prettyPhoto" href="img/destacados/motor.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/destacados/motor.png" data-src="img/destacados/motor.png" alt="">
                        	<div>
                                <span> MOTOR DE APLICACION GENERAL </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>


      </div>
    </div>

    <a class="button large" href="/productos"> PRODUCTOS </a>
    
  </section>

  <section class="section6 text-center">
      <div class="general-title">
          <h3> Nuestros Clientes </h3>
          <hr>
        </div>
  </section>
  <section class="section8"> 
      <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo1.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo2.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo3.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo4.png" height="300" width="300"></a>
            </div>
            
            <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo5.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo6.png" height="300" width="300"></a>
            </div>
            <div class="slide">
            <a  target="_blank"><img src="img/clientes/logo7.png"height="300" width="300"></a>
            </div>
            <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo8.png" height="300" width="300"></a>
            </div>
            <div class="slide">
                <a  target="_blank"><img src="img/clientes/logo9.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a  target="_blank"><img src="img/clientes/logo1.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a  target="_blank"><img src="img/clientes/logo2.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a target="_blank"><img src="img/clientes/logo3.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a  target="_blank"><img src="img/clientes/logo4.png" height="300" width="300"></a>
              </div>
              
              <div class="slide">
                <a  target="_blank"><img src="img/clientes/logo5.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a  target="_blank"><img src="img/clientes/logo6.png" height="300" width="300"></a>
              </div>
              <div class="slide">
              <a  target="_blank"><img src="img/clientes/logo7.png"height="300" width="300"></a>
              </div>
              <div class="slide">
                <a  target="_blank"><img src="img/clientes/logo8.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                  <a  target="_blank"><img src="img/clientes/logo9.png" height="300" width="300"></a>
                </div>
          </div>
        </div>
      </section>   

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css'><link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

<style>
.section10 {
  background: -webkit-linear-gradient(-10deg, #464646 45.6%, gray 0%);
}
.general-title-a h3 {
  font-weight: 600;
  color: white;
  letter-spacing: -0.65px;
  font-size: 31px;
  padding: 20px 0 0;
  text-transform: uppercase;
}

  @media only screen and (max-width: 400px){
    .swipper-wrapper img {
     width: 300px;
     height: 300px;
     
    } 
  

  .swiper-container{
    width: 100%;
    height: 500px;
    }
  .swiper-slide{
   width: 400px;
   height: 300px;   
  }
}

.swiper-container {
        width: 100%;
        height: 500px;
        background: -webkit-linear-gradient(-10deg, #464646 42%, gray 0%);
    }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: -webkit-linear-gradient(-10deg, #464646 42%, gray 0%);      
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img { max-height: 500px; max-width: 500px; }

.flexslider img {
    position: relative;
    width: 100%;
    height: 720px;
}

@media screen and (max-width: 800px) {
    .flexslider img {
      width: 100%; 
      height: 600px;
    }
  }

@media screen and (max-width: 600px)   {
    .flexslider img {
        width: 100%; 
        height: 500px;
      }
    }

    @media screen and (max-width: 400px)   {
        .flexslider img {
            width: 100%;
            height: 100%;
          }
        }

</style>

<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js'></script>
<script >var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
  spaceBetween: 0,
        //loop: true,
autoplay: 2500,
        autoplayDisableOnInteraction: false,
        slidesPerView: 4,
        coverflow: {
            rotate: 30,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
        }
    });
</script>