<section class="section5">
  <video id="vid1" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/maxpower/maxpower.mp4" type="video/mp4">
  </video>
  </section> 

<section id="home">
		<div class="overlay">
			<div class="flexslider">
				<ul class="slides">
					<li> 
						<img src="img/slider/11.jpeg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">            
								<h3 class="wow bounceIn"><span>MaxPower</span> Industrial Automation</h3>
                <h2 class="wow bounce"> ¡Nos encontramos en nuestra <span>etapa final</span> de diseño, <span>proximamente</span> en linea completa! </h2>                                 
              </div>			
        		</div>
					</li>
          <!-- FIN 1 SLIDER -->

      		<li> 
						<img src="img/slider/11.jpg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">            
                <h3 class="wow bounceIn"><span>MaxPower</span> Industrial Automation</h3>
                <h2 class="wow bounce"> ¡Nos encontramos en nuestra <span>etapa final</span> de diseño, <span>proximamente</span> en linea completa! </h2>                                 
              </div>
        		</div>
					</li>
         <!--  FIN 2 SLIDER -->

      		<li> 
						<img src="img/slider/9.jpg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">            
								<h3 class="wow bounceIn"><span>MaxPower</span> ¿Quienes somos? </h3>
                    <a class="btn" href="/about" method="get"> Sobre nosotros </a>
              </div>
        		</div>
					</li>
        <!--  FIN 3 SLIDER -->


      	</ul>
			</div>
		</div>
    </section>


    <section id="desc_info">
      <div class="container-fluid">
          <div class="col-sm-12">
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner">
                      <div class="feature-box-icon">       
                      <i class="fa fa-book" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Área de ventas </h4>
                      </div>   
                      <p>
                          Somos importadores de todo tipo de repuestos para la automatización industrial, otorgando el mejor servicio a nuestros clientes.
                      </p>
                  </div>
              </div>
               
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner">
                      <div class="feature-box-icon">
                         <i class="fa fa-laptop" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Área de servicios </h4>
                      </div>   
                      <p>
                          Brindamos servicios de mantenimiento correctivo y preventivo de alta calidad a todo tipo de equipamiento industrial.
                      </p>
                  </div>
              </div>
             
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner">
                      <div class="feature-box-icon">
                          <i class="fa fa-bars" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Productos </h4>
                      </div>   
                      <p>
                          Contamos con un ámplio catálogo de productos con los cuáles nos desempeñamos en el área de mantenimiento y reparación de los mismos.
                      </p>
                  </div>
              </div>
                
              <div class="col-sm-6 col-lg-3 feature-box">
                  <div class="feature-box-inner">
                      <div class="feature-box-icon">
                          <i class="fa fa-envelope" data-effect="slide-left"></i>
                      </div>
                      <div class="servicetitle">
                          <h4> Contacto </h4>
                      </div>    
                      <p>
                          Si tienes dudas o deseas realizar alguna consulta/sugerencia no dudes en hacerlo, nosotros te atenderemos.
                      </p>
                  </div>
              </div>
          </div>
      </div>
    </section>



<section class="section5">
  <video id="vid1" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/maxpower/maxpower.mp4" type="video/mp4">
  </video>

  <!--
  <video id="vid2" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/maxpower/maxpower.mp4" type="video/mp4">
  </video>
  -->
  </section> 

  <section class="section2">
      <div class="container">
        <div class="message text-center">
          <h2 class="big-title"><span> MaxPower </span> es una empresa que brinda soluciones integrales a las industrias </h2>
          <p class="small-title">Buscamos a través de un servicio de asistencia en excelencia y eficiencia, apoyar el crecimiento y fortalecimiento del sector industrial, siendo asi una empresa líder en el mercado brindando soluciones tecnológicas con valor agregado para nuestros clientes.</p>
          <a href ="/services" class = "button large"><span></span><span></span><span></span><span></span>Servicios </a>
          <a href ="/contact" class = "button large"><span></span><span></span><span></span><span></span>Contacto </a>
        </div>
      </div>  
     </section>  

  <section class="section4 text-center">
    <div class="general-title">
      <h3> Productos destacados </h3>
      <hr>
    </div>
    <div class="portfolio-wrapper">
      <div id="owl-demo" class="owl-carousel">

      
     <div class="item">
          <a data-rel="prettyPhoto" href="img/dinaloco/example0a.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/dinaloco/example0a.jpg" data-src="img/dinaloco/example0a.jpg" alt="">
                        	<div>
                                <span> Arrancadores Suaves ABB </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>
        <div class="item">
          <a data-rel="prettyPhoto" href="img/dinaloco/example4a.jpg">
                        	<img class="lazyOwl"  style="height: 336px;" src="img/dinaloco/example4a.jpg" data-src="img/dinaloco/example4a.jpg" alt="">
                        	<div>
                                <span> Arranque suave Altistar 48 </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>
        <div class="item">
          <a data-rel="prettyPhoto" href="img/dinaloco/example6a.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/dinaloco/example6a.jpg" data-src="img/dinaloco/example6a.jpg" alt="">
                        	<div>
                                <span> Contactores de vacio </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>


        <div class="item">
          <a data-rel="prettyPhoto" href="img/productos-electricos/example25.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/productos-electricos/example25.jpg" data-src="img/productos-electricos/example25.jpg" alt="">
                        	<div>
                                <span> Interruptores SACE Emax2 </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/productos-electronicos/example01.png">
                        	<img class="lazyOwl" style="height: 336px;" src="img/productos-electronicos/example01.png" data-src="img/productos-electronicos/example01.png" alt="">
                        	<div>
                                <span> Capacitores electrolíticos </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/productos-seguridad/calzados/zapato.png">
                        	<img class="lazyOwl" style="height: 336px; background: #fff;" src="img/productos-seguridad/calzados/zapato.png" data-src="img/productos-seguridad/calzados/zapato.png" alt="">
                        	<div>
                                <span> ZAPATO DE SEGURIDAD JANO </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>



        <div class="item">
          <a data-rel="prettyPhoto" href="img/productos-seguridad/proteccion-craneana/example07.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/productos-seguridad/proteccion-craneana/example07.jpg" data-src="img/productos-seguridad/proteccion-craneana/example07.jpg" alt="">
                        	<div>
                                <span> CASCO MILENIUM CLASS ALA ANCHA S/V BLANCO </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>


        <div class="item">
          <a data-rel="prettyPhoto" href="img/productos-seguridad/proteccion-ocular/example02.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/productos-seguridad/proteccion-ocular/example02.jpg" data-src="img/productos-seguridad/proteccion-ocular/example02.jpg" alt="">
                        	<div>
                                <span> ANTEOJOS 3M-HERMES-HG ANTIRAYA+ AF </span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/productos-seguridad/proteccion-respiratoria/example04.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/productos-seguridad/proteccion-respiratoria/example04.jpg" data-src="img/productos-seguridad/proteccion-respiratoria/example04.jpg" alt="">
                        	<div>
                                <span>MASCARA FULL FACE 3M 7800 SILICONA</span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>

        <div class="item">
          <a data-rel="prettyPhoto" href="img/productos-seguridad/proteccion-manos/example06.jpg">
                        	<img class="lazyOwl" style="height: 336px;" src="img/productos-seguridad/proteccion-manos/example06.jpg" data-src="img/productos-seguridad/proteccion-manos/example06.jpg" alt="">
                        	<div>
                                <span>GUANTES MOTEADOS DE 1 CARA</span>
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
        </div>
        


 

      </div>
    </div>

    <a class="button large" href="productos"> PRODUCTOS </a>
    
  </section>

  <section class="section3 text-center">
      <div class="general-title">
          <h3> Nuestros Clientes </h3>
          <hr>
        </div>
      </section>
      <section class="section8"> 
      <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo1.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo2.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo3.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo4.png" height="300" width="300"></a>
            </div>           
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo5.png" height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo6.png" height="300" width="300"></a>
            </div>
            <div class="slide">
            <a href="" target="_blank"><img src="img/clientes/logo7.png"height="300" width="300"></a>
            </div>
            <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo8.png" height="300" width="300"></a>
            </div>
            <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo9.png" height="300" width="300"></a>
              </div>

              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo1.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo2.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo3.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo4.png" height="300" width="300"></a>
              </div>
              
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo5.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo6.png" height="300" width="300"></a>
              </div>
              <div class="slide">
              <a href="" target="_blank"><img src="img/clientes/logo7.png"height="300" width="300"></a>
              </div>
              <div class="slide">
                <a href="" target="_blank"><img src="img/clientes/logo8.png" height="300" width="300"></a>
              </div>
              <div class="slide">
                  <a href="" target="_blank"><img src="img/clientes/logo9.png" height="300" width="300"></a>
                </div>          
          </div>
        </div>      
      </section>