<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Interruptores Tmax </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Interruptores Tmax </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example22.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Interruptores Tmax
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
  <p>Tmax es una familia completa de interruptores autom&aacute;ticos en caja moldeada.</p>
			<p>El sistema de interrupci&oacute;n del arco el&eacute;ctrico que se utiliza en los interruptores autom&aacute;ticos Tmax permite cortar con extrema rapidez las corrientes de cortocircuito de valor muy elevado. La considerable velocidad de apertura de los contactos, la acci&oacute;n de soplado din&aacute;mico ejercida por el campo magn&eacute;tico y la estructura de la c&aacute;mara de arco contribuyen a extinguir el arco el&eacute;ctrico en el menor tiempo posible, limitando notablemente de esta forma el valor de la energ&iacute;a espec&iacute;fica pasante y el pico de corriente.</p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		
		<h4> Descripcion detallada </h4>
    
    <h4> Modelos disponibles </h4>   
            <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-tmax-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-tmax-1.png" data-src="img/productos-electricos/tablas/tabla-interruptores-tmax-1.png" alt="">
                                  </a>
                                </div>
                            </br>
                                <div class="item">
                                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-tmax-2.png">
                                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-tmax-2.png" data-src="img/productos-electricos/tablas/tabla-interruptores-tmax-2.png" alt="">
                                                  </a>
                                                </div>
                                            </br>
                                                <div class="item">
                                                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-tmax-3.png">
                                                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-tmax-3.png" data-src="img/productos-electricos/tablas/tabla-interruptores-tmax-3.png" alt="">
                                                                  </a>
                                                                </div>
                    
    </div> 
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>