
    
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Interruptores manuales 3LD2 </li>
        </ul>
        <h2> Interruptores manuales 3LD2 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Los interruptores 3LD2 se utilizan para maniobrar circuitos principales y auxiliares pero tambi&eacute;n para maniobrar motores trif&aacute;sicos y otros consumidores en caso de mantenimiento y reparaci&oacute;n.</p>
    			<p><strong>Caracter&iacute;sticas</strong><br /> Conforme a las normas IEC 60 947-3/VDE 0660 parte 107 (EN 60 947-3) se trata de interruptores-seccionadores manuales que cumplen los requisitos de seccionamiento.</p>
                <p>Los interruptores 3LD2 pueden utilizarse como:</p>
                <ul>
                <li>Interruptores con/des (Marcha/Paro).</li>
                <li>Interruptores de Parada de emergencia.</li>
                <li>Interruptores principales.</li>
                </ul>
                <p><strong>Interruptores 3KA Y 3KL</strong><br /> Los interruptores-seccionadores sin fusibles 3KA se utilizan como interruptores principales, de parada de emergencia, de reparaci&oacute;n y de conmutaci&oacute;n de red en paneles de distribuci&oacute;n para edificios comerciales y de viviendas as&iacute; como en tableros/cuadros industriales. Las variantes de tres y cuatro polos garantizan el cierre y corte de la intensidad nominal asignada bajo carga. Tambi&eacute;n cumplen una funci&oacute;n de seguridad en todos los circuitos de baja tensi&oacute;n. Los interruptores-seccionadores con fusibles 3KL sirven de protecci&oacute;n contra sobrecarga y cortocircuito a modo de interruptores principales y de parada de emergencia en tableros/cuadros, paneles de distribuci&oacute;n, derivaciones de alimentaci&oacute;n y de motor. Combinados con fusibles de protecci&oacute;n de semiconductores SITOR de Siemens tambi&eacute;n se pueden aplicar en sistemas de alimentaci&oacute;n ininterrumpida, convertidores de frecuencia y sistemas de compensaci&oacute;n por condensador.</p>
                <p>Todos los modelos 3K poseen interrupci&oacute;n doble por contactos y un tramo de seccionamiento. Por eso los fusibles no est&aacute;n bajo tensi&oacute;n cuando los interruptores est&aacute;n abiertos.</p>
                <p>Normalmente, todos los interruptores-seccionadores 3K.5 se pueden bloquear en el eje con un candado para evitar su reconexi&oacute;n no autorizada.<br /> Los mismos accesorios para los interruptores-seccionadores con y sin fusibles 3KA, simplifican la gesti&oacute;n de repuestos.</p>
                <p><strong>Sin portafusibles y sin manijas</strong></p>
                <ul>
                <li>63 AMP. 3KA50 30&ndash;1AE01</li>
                <li>80 AMP. 3KA51 30&ndash;1AE01</li>
                <li>125 AMP. 3KA52 30&ndash;1AE01</li>
                <li>160 AMP. 3KA53 30&ndash;1AE01</li>
                <li>250 AMP. 3KA55 30&ndash;1AE01</li>
                <li>400 AMP. 3KA57 30&ndash;1AE01</li>
                <li>630 AMP. 3KA58 30&ndash;1AE01</li>
                </ul>
                <p><strong>Con portafusibles y sin manijas</strong></p>
                <ul>
                <li>63 AMP 3KL50 30&ndash;1AB01 PARA FUSIBLE NH00</li>
                <li>125 AMP 3KL52 30&ndash;1AB01 PARA FUSIBLE NH00</li>
                <li>160 AMP 3KL53 30&ndash;1AB01 PARA FUSIBLE NH00</li>
                <li>250 AMP 3KL55 30&ndash;1AB01 PARA FUSIBLE NH01</li>
                <li>400 AMP 3KL57 30&ndash;1AB01 PARA FUSIBLE NH02</li>
                <li>630 AMP 3KL61 30&ndash;1AB0 PARA FUSIBLE NH03</li>
                </ul>
      </div>
    
                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example27.jpg" width="350px" height="350px" alt="">


                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 