

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Interruptores SACE Emax2 </li>
        </ul>
        <h2> Interruptores SACE Emax2 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>SACE Emax 2 es el nuevo punto de referencia en el panorama de los interruptores de bastidor abierto.</p>
            	<p>Eficiente y f&aacute;cil de usar, ofrece soluciones innovadoras para las exigencias del mercado hoy en d&iacute;a y anticipa las del futuro. El interruptor de bastidor abierto se convierte en un Power Manager con prestaciones &uacute;nicas, id&oacute;neo para controlar la instalaci&oacute;n e integrarse f&aacute;cilmente en cualquier proyecto: desde los proyectos est&aacute;ndares hasta los sistemas m&aacute;s complejos y automatizados. Iluminando el futuro de la energ&iacute;a.</p>
                <p><strong>Interruptores abiertos en aire</strong><br /> <em>Tripolares (3p) &ndash; Para ejecuci&oacute;n fija (F), terminales anteriores (F) &ndash; Protecci&oacute;n electr&oacute;nica Ekip Dip con funciones L-I</em><br /> <em>Tripolares (3p) &ndash; Para ejecuci&oacute;n extra&iacute;ble (W), s&oacute;lo parte m&oacute;vil (MP) &ndash; Protecci&oacute;n electr&oacute;nica Ekip Dip con funciones L-I</em></p>
            <p><strong>E1.2B Icu = 42kA, Ics = 100% Icu @ 380VCA</strong></p>
            <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-emax-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-emax2-1.png" data-src="img/productos-electricos/tablas/tabla-interruptores-emax2-1.png" alt="">
                                  </a>
                                </div>
                            <p><strong> E1.2C Icu = 50kA, Ics = 100% Icu @ 380VCA </strong></p>
                            <div class="item">
                                <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-emax-2.png">
                                                  <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-emax2-2.png" data-src="img/productos-electricos/tablas/tabla-interruptores-emax2-2.png" alt="">
                                              </a>
                                            </div>
                                            <p><strong> E1.2N Icu = 66kA, Ics = 100% Icu @ 380VCA </strong></p>
                                            <div class="item">
                                                <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-emax2-3.png">
                                                                  <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-emax2-3.png" data-src="img/productos-electricos/tablas/tabla-interruptores-emax2-3.png" alt="">
                                                              </a>
                                                            </div>
                                                       <p><strong> Tripolares (3p) – Para ejecución fija (F), terminales posteriores orientables HR/VR – Protección electrónica Ekip Dip con funciones L-I
                                                        Tripolares (3p) – Para ejecución extraíble (W), sólo parte móvil (MP) – Protección electrónica Ekip Dip con funciones L-I
                                                        E2.2B Icu = 42kA, Ics = 100% Icu @ 380VCA 
                                                      </strong></p>
                                                        <div class="item">
                                                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-emax2-4.png">
                                                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-emax2-4.png" data-src="img/productos-electricos/tablas/tabla-interruptores-emax2-2.png" alt="">
                                                                          </a>
                                                                        </div>
                                                                                                            <!-- FALTAN MAS TABLAS/MODELOS -->
      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example25.jpg" width="350px" height="350px" alt="">
                   
   
                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 