<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Interruptores diferenciales </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Interruptores diferenciales </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example22.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Interruptores diferenciales
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
<p>El interruptor diferencial es un dispositivo amperom&eacute;trico de protecci&oacute;n que interviene cuando la instalaci&oacute;n presenta fugas de corriente a tierra, las que generalmente no son detectadas por los interruptores termomagn&eacute;ticos ni los fusibles.</p>
           	  	<p>B&aacute;sicamente, este aparato efect&uacute;a en forma cont&iacute;nua la suma vectorial de las corrientes de l&iacute;nea del sistema, y cuando el resultado de la suma supera el valor preestablecido en funci&oacute;n de la sensibilidad del aparato, interrumpe la alimentaci&oacute;n.</p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		{{!-- 
		<h4>Descripcion detallada </h4>
            <p> Descripcion </p>
    --}}
	    
                <p>En funci&oacute;n de la sensibilidad de intervenci&oacute;n se distinguen dos tipos de interruptores diferenciales:</p>
                <p><strong>Diferenciales de baja sensibilidad (IDn &gt; 30mA)</strong><br /> Se utilizan generalmente en instalaciones comerciales o industriales, donde se presentan fugas a tierra en forma normal (por ejemplo, industrias con motores que operan en ambientes h&uacute;medos). Protegen a la instalaci&oacute;n de fallas importantes a tierra, y a las personas de contactos indirectos, en coordinaci&oacute;n con un sistema de puesta a tierra adecuado.<br /> Tambi&eacute;n proporcionan una eficaz protecci&oacute;n contra incendios causados por deterioro o fallas en el material aislante de cables o equipos.</p>
                <p><strong>Diferenciales de alta sensibilidad (IDn 30mA)</strong><br /> Protegen contra contactos indirectos y proporcionan protecci&oacute;n complementaria contra los contactos directos (o sea el contacto con una parte normalmente bajo tensi&oacute;n).<br /> El requisito b&aacute;sico de la instalaci&oacute;n es que ninguna parte bajo tensi&oacute;n sea accesible, pero en el caso de que un usuario toque accidentalmente un elemento bajo tensi&oacute;n (oponiendo al paso de la corriente hacia tierra &uacute;nicamente la resistencia de su cuerpo), el interruptor diferencial interrumpe la corriente cuando &eacute;sta supera el valor umbral, en condiciones de seguridad para la vida de las personas y las mascotas.</p>
                <p><strong>Reglamentaciones vigentes</strong></p>
                <p>El Reglamento para la Ejecuci&oacute;n de Instalaciones El&eacute;ctricas en Inmuebles, emitido por la AEA, exige la obligatoriedad de la utilizaci&oacute;n de una protecci&oacute;n diferencial con una sensibilidad de 30mA como aparato de cabecera en el tablero principal o los tableros seccionales, como protecci&oacute;n contra contactos directos, indirectos e incendios de los circuitos.<br /> Los interruptores diferenciales ABB Tub&iacute;o cumplen con las normas IRAM 2103 e IEC 61008.</p>
                <p>&nbsp;</p>
                <p><strong>DIFERENCIAL F360</strong><br /> La permanente dedicaci&oacute;n de ABB Tub&iacute;o por mejorar la performance de sus productos ha dado nuevos resultados. Luego de un a&ntilde;o de desarrollo, ABB Tub&iacute;o lanza al mercado su nueva versi&oacute;n del conocido interruptor diferencial F360, el que presenta un nuevo aspecto f&iacute;sico en concordancia con sus nuevas y mayores capacidades.</p>
                <p>ABB Tub&iacute;o viene desarrollando un proceso de modernizaci&oacute;n y automatizaci&oacute;n de sus plantas industriales que abarca, entre otros aspectos, el avance en las caracter&iacute;sticas y capacidades de nuestros interruptores diferenciales. Esto incluye la utilizaci&oacute;n de nuevos componentes y partes de mayor capacidad, prestaciones y tama&ntilde;os&rdquo;, nos comenta Juan Carlos del Valle, Gerente General de la Compa&ntilde;&iacute;a.</p>
                <p>La suma de nueva tecnolog&iacute;a en la producci&oacute;n y nuevos componentes es la mayor novedad que esta &ldquo;modernizaci&oacute;n&rdquo; de la l&iacute;nea presenta.</p>
                <p>ABB Tub&iacute;o produce y provee desde su planta ubicada en Bella Vista, Provincia de Tucum&aacute;n, interruptores termomagn&eacute;ticos, seccionadores de l&iacute;nea y sistemas integrales de protecci&oacute;n para control de nivel con bomba.<br /> Tanto la planta ubicada en Tucum&aacute;n como la ubicada en Juana Koslay, Provincia de San Luis, donde se producen interruptores diferenciales, contactores, relevos t&eacute;rmicos, capacitores y accesorios de instalaci&oacute;n; cuentan con la certificaci&oacute;n ISO 9001:2000 para su Sistema de Gesti&oacute;n de Calidad e ISO 14001 para su Sistema de Gesti&oacute;n Medioambiental.</p>
                <p><strong>Sensibilidad adecuada a cada particularidad:</strong></p>
                <ul>
                <li>10 mA para ambientes h&uacute;medos,</li>
                <li>30 mA para proteger a las personas,</li>
                <li>300 mA para protecci&oacute;n contra riesgo de incendio.</li>
                </ul>
                <p>&nbsp;</p>
                <p>Caracter&iacute;sticas</p>
                <ul>
                <li>Apto para montaje en cualquier posici&oacute;n sobre riel DIN de 35 mm.</li>
                <li>Dimensiones modulares seg&uacute;n norma DIN 43880 de 68mm de profundidad.</li>
                <li>Sistemas de bornes bifunci&oacute;n: la parte superior para terminales planos o barras de interconexi&oacute;n y la parte inferior para cables conductores r&iacute;gidos (tipo caja o abrazadera).</li>
                <li>Protegido contra contactos accidentales (VDE 0106, parte 100).</li>
                <li>Presentado en 25,40.63,80,100 en bipolares y tetrapolares.</li>
                </ul>
                <p>&nbsp;</p>
                <p><strong>Interruptores Diferenciales &ndash; Sin posibilidad de utilizar accesorios &ndash; FH200 AC</strong></p>
                <p>Todos los guardamotores disponen de protecci&oacute;n t&eacute;rmica y protecci&oacute;n por fallo de fase. El montaje se realiza en carril DIN de 35mm.<br /> Para todos los guardamotores hay una amplia gama de accesorios.</p>
                <p><strong> Bipolares </strong> </p>
                <ul> 
                <li>1TMF202006R1250	FH202 AC-25/0,03	Interruptor diferencial bipolar In 25A. Sens = 30 mA </li>
                <li>1TMF202006R1400	FH202 AC-40/0,03	Interruptor diferencial bipolar In 40A. Sens = 30 mA </li>
                <li>1TMF202006R1630	FH202 AC-63/0,03	Interruptor diferencial bipolar In 63A. Sens = 30 mA </li>
                </ul>
                <p><strong> Tetrapolares </strong> </p>   
                <ul> 
                <li>1TMF204006R1250	FH204 AC-25/0,03	Interruptor diferencial tetrapolar In 25A. Sens = 30 m </li>
                <li>1TMF204006R1400	FH204 AC-40/0,03	Interruptor diferencial tetrapolar In 40A. Sens = 30 mA </li>
                <li>1TMF204006R1630	FH204 AC-63/0,03	Interruptor diferencial tetrapolar In 63A. Sens = 30 mA </li>
                </ul> 
                    
    </div> 
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>