

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Interruptores Tmax </li>
        </ul>
        <h2> Interruptores Tmax </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
            <p>Tmax es una familia completa de interruptores autom&aacute;ticos en caja moldeada.</p>
			<p>El sistema de interrupci&oacute;n del arco el&eacute;ctrico que se utiliza en los interruptores autom&aacute;ticos Tmax permite cortar con extrema rapidez las corrientes de cortocircuito de valor muy elevado. La considerable velocidad de apertura de los contactos, la acci&oacute;n de soplado din&aacute;mico ejercida por el campo magn&eacute;tico y la estructura de la c&aacute;mara de arco contribuyen a extinguir el arco el&eacute;ctrico en el menor tiempo posible, limitando notablemente de esta forma el valor de la energ&iacute;a espec&iacute;fica pasante y el pico de corriente.</p>
            <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-tmax-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-tmax-1.png" data-src="img/productos-electricos/tablas/tabla-interruptores-tmax-1.png" alt="">
                                  </a>
                                </div>
                            </br>
                                <div class="item">
                                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-tmax-2.png">
                                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-tmax-2.png" data-src="img/productos-electricos/tablas/tabla-interruptores-tmax-2.png" alt="">
                                                  </a>
                                                </div>
                                            </br>
                                                <div class="item">
                                                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-tmax-3.png">
                                                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-tmax-3.png" data-src="img/productos-electricos/tablas/tabla-interruptores-tmax-3.png" alt="">
                                                                  </a>
                                                                </div>

      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example23.jpg" width="350px" height="350px" alt="">
                   

                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
