
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Seccionadores tripolares bajo carga 3NP4 </li>
        </ul>
        <h2> Seccionadores tripolares bajo carga 3NP4 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Caracter&iacute;sticas Seg&uacute;n las normas DIN VDE 0660, Parte 107, IEC 60 947-1 e IEC 60 947-3. Tensi&oacute;n asignada 690 VCA. Para fusibles SITOR 3NE, NH. Resistente a influencias clim&aacute;ticas. Para montaje en tableros, gabinetes STAB/SIKUS, armarios para medidores y cajas 8HP. Los interruptores-seccionadores fusibles 3NP permiten conectar y desconectar de forma segura, a los consumidores [&hellip;]</p>
            	<p><strong>Caracter&iacute;sticas</strong></p>
                <p>Seg&uacute;n las normas DIN VDE 0660, Parte 107, IEC 60 947-1 e IEC 60 947-3.</p>
                <ul>
                <li>Tensi&oacute;n asignada 690 VCA.</li>
                <li>Para fusibles SITOR 3NE, NH.</li>
                <li>Resistente a influencias clim&aacute;ticas.</li>
                <li>Para montaje en tableros, gabinetes STAB/SIKUS, armarios para medidores y cajas 8HP.</li>
                </ul>
                <p>Los interruptores-seccionadores fusibles 3NP permiten conectar y desconectar de forma segura, a los consumidores el&eacute;ctricos conectados en serie que se encuentran bajo carga, independientemente de si el interruptor-seccionador se alimente por arriba o por abajo.</p>
                <p>Los interruptores 3NP son resistentes a efectos clim&aacute;ticos y cumplen las especificaciones de las normas IEC 60 947-1, IEC 60 947-3 y DIN VDE 0660 parte 107.</p>
                <p>Dependiendo de la versi&oacute;n, los interruptores-seccionadores fusibles 3NP se pueden utilizar para montaje superficial y empotrado, por ejemplo, en tableros/cuadros de distribuci&oacute;n STAB/SIKUS, en sistemas universales SIPRO y en sistemas de distribuci&oacute;n de material aislante 8HP; tambi&eacute;n se pueden montar en diferentes sistemas de barras.</p>
                <p>Los interruptores-seccionadores fusibles 3 NP40 10 y 3 NP40 70 tambi&eacute;n se pueden abrochar sobre un perfil de 35 mm.</p>
                <p><strong>Modelos</strong></p>
                <ul>
                <li>3NP4010-OCH01 TRIPOLAR 100 AMP. PARA NH000</li>
                <li>3NP4070-OCH01 TRIPOLAR 160 AMP. PARA NH00</li>
                <li>3NP4270-OCH01 TRIPOLAR 250 AMP. PARA NH01</li>
                <li>3NP4370-OCH01 TRIPOLAR 400 AMP. PARA NH02</li>
                <li>3NP4470-OCH01 TRIPOLAR 630 AMP. PARA NH03</li>
                </ul>
                
      </div>
    
                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example29.jpg" width="350px" height="350px" alt="">


                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 