

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Interruptores Termomagneticos </li>
        </ul>
        <h2> Interruptores Termomagneticos </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Los interruptores autom&aacute;ticos modulares en RIELl DIN protegen las instalaciones de sobrecargas y cortocircuitos, garantizando fiabilidad y seguridad para las operaciones.</p>
             	<p>La nueva serie System pro M compact S 200 satisface las necesidades m&aacute;s comunes de los interruptores autom&aacute;ticos DIN, permitiendo el uso de &eacute;stos en aplicaciones dom&eacute;sticas, industriales y comerciales.</p>
                <ul>
                <li>Para instalaciones dom&eacute;sticas/residenciales en mercados emergentes: capacidades de corte t&iacute;picas 3 / 4,5 / 6 kA.
                <ul>
                <li>Compact Home SH 200 T, SH 200 L, SH 200</li>
                </ul>
                </li>
                <li>Para instalaciones dom&eacute;sticas o peque&ntilde;as instalaciones comerciales: capacidad de corte de hasta 10 kA.
                <ul>
                <li>proM S190, S440,S950/970</li>
                <li>proM compact S200, S200 M</li>
                </ul>
                </li>
                <li>Para instalaciones industriales, capacidad de corte de hasta 25 kA y especiales
                <ul>
                <li>proM compact S200 P, S200 P-UC, S200 M.</li>
                </ul>
                </li>
                <li>Interruptores para utilidades especiales, selectivos, de apoyo, con elevada capacidad de corte (25 kA) y selectividad total a interruptores descendentes, gama S 700.</li>
                </ul>
                <p><strong>Interruptores Termomagn&eacute;ticos &ndash; Sin posibilidad de utilizar accesorios &ndash; SH200 L</strong></p>
                <p><em>Curva C &ndash; Icn: 4,5kA (IEC 60898)</em></p>
                
            <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-1.png" data-src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-1.png" alt="">
                                  </a>
                                </div>
                            </br>
                            <div class="item">
                                <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-2.png">
                                                  <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-2.png" data-src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-2.png" alt="">
                                              </a>
                                            </div>
                                            </br>
                                            <div class="item">
                                                <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-3.png">
                                                                  <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-3.png" data-src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-3.png" alt="">
                                                              </a>
                                                            </div>
                                                        </br>
                                                        <div class="item">
                                                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-4.png">
                                                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-4.png" data-src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos-4.png" alt="">
                                                                          </a>
                                                                        </div>

      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example24.jpg" width="350px" height="350px" alt="">
                   
                

                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
