
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Interruptores diferenciales </li>
        </ul>
        <h2> Interruptores diferenciales </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>El interruptor diferencial es un dispositivo amperom&eacute;trico de protecci&oacute;n que interviene cuando la instalaci&oacute;n presenta fugas de corriente a tierra, las que generalmente no son detectadas por los interruptores termomagn&eacute;ticos ni los fusibles.</p>
           		<p>B&aacute;sicamente, este aparato efect&uacute;a en forma cont&iacute;nua la suma vectorial de las corrientes de l&iacute;nea del sistema, y cuando el resultado de la suma supera el valor preestablecido en funci&oacute;n de la sensibilidad del aparato, interrumpe la alimentaci&oacute;n.</p>
                <p>En funci&oacute;n de la sensibilidad de intervenci&oacute;n se distinguen dos tipos de interruptores diferenciales:</p>
                <p><strong>Diferenciales de baja sensibilidad (IDn &gt; 30mA)</strong><br /> Se utilizan generalmente en instalaciones comerciales o industriales, donde se presentan fugas a tierra en forma normal (por ejemplo, industrias con motores que operan en ambientes h&uacute;medos). Protegen a la instalaci&oacute;n de fallas importantes a tierra, y a las personas de contactos indirectos, en coordinaci&oacute;n con un sistema de puesta a tierra adecuado.<br /> Tambi&eacute;n proporcionan una eficaz protecci&oacute;n contra incendios causados por deterioro o fallas en el material aislante de cables o equipos.</p>
                <p><strong>Diferenciales de alta sensibilidad (IDn 30mA)</strong><br /> Protegen contra contactos indirectos y proporcionan protecci&oacute;n complementaria contra los contactos directos (o sea el contacto con una parte normalmente bajo tensi&oacute;n).<br /> El requisito b&aacute;sico de la instalaci&oacute;n es que ninguna parte bajo tensi&oacute;n sea accesible, pero en el caso de que un usuario toque accidentalmente un elemento bajo tensi&oacute;n (oponiendo al paso de la corriente hacia tierra &uacute;nicamente la resistencia de su cuerpo), el interruptor diferencial interrumpe la corriente cuando &eacute;sta supera el valor umbral, en condiciones de seguridad para la vida de las personas y las mascotas.</p>
                <p><strong>Reglamentaciones vigentes</strong></p>
                <p>El Reglamento para la Ejecuci&oacute;n de Instalaciones El&eacute;ctricas en Inmuebles, emitido por la AEA, exige la obligatoriedad de la utilizaci&oacute;n de una protecci&oacute;n diferencial con una sensibilidad de 30mA como aparato de cabecera en el tablero principal o los tableros seccionales, como protecci&oacute;n contra contactos directos, indirectos e incendios de los circuitos.<br /> Los interruptores diferenciales ABB Tub&iacute;o cumplen con las normas IRAM 2103 e IEC 61008.</p>
                <p>&nbsp;</p>
                <p><strong>DIFERENCIAL F360</strong><br /> La permanente dedicaci&oacute;n de ABB Tub&iacute;o por mejorar la performance de sus productos ha dado nuevos resultados. Luego de un a&ntilde;o de desarrollo, ABB Tub&iacute;o lanza al mercado su nueva versi&oacute;n del conocido interruptor diferencial F360, el que presenta un nuevo aspecto f&iacute;sico en concordancia con sus nuevas y mayores capacidades.</p>
                <p>ABB Tub&iacute;o viene desarrollando un proceso de modernizaci&oacute;n y automatizaci&oacute;n de sus plantas industriales que abarca, entre otros aspectos, el avance en las caracter&iacute;sticas y capacidades de nuestros interruptores diferenciales. Esto incluye la utilizaci&oacute;n de nuevos componentes y partes de mayor capacidad, prestaciones y tama&ntilde;os&rdquo;, nos comenta Juan Carlos del Valle, Gerente General de la Compa&ntilde;&iacute;a.</p>
                <p>La suma de nueva tecnolog&iacute;a en la producci&oacute;n y nuevos componentes es la mayor novedad que esta &ldquo;modernizaci&oacute;n&rdquo; de la l&iacute;nea presenta.</p>
                <p>ABB Tub&iacute;o produce y provee desde su planta ubicada en Bella Vista, Provincia de Tucum&aacute;n, interruptores termomagn&eacute;ticos, seccionadores de l&iacute;nea y sistemas integrales de protecci&oacute;n para control de nivel con bomba.<br /> Tanto la planta ubicada en Tucum&aacute;n como la ubicada en Juana Koslay, Provincia de San Luis, donde se producen interruptores diferenciales, contactores, relevos t&eacute;rmicos, capacitores y accesorios de instalaci&oacute;n; cuentan con la certificaci&oacute;n ISO 9001:2000 para su Sistema de Gesti&oacute;n de Calidad e ISO 14001 para su Sistema de Gesti&oacute;n Medioambiental.</p>
                <p><strong>Sensibilidad adecuada a cada particularidad:</strong></p>
                <ul>
                <li>10 mA para ambientes h&uacute;medos,</li>
                <li>30 mA para proteger a las personas,</li>
                <li>300 mA para protecci&oacute;n contra riesgo de incendio.</li>
                </ul>
                <p>&nbsp;</p>
                <p>Caracter&iacute;sticas</p>
                <ul>
                <li>Apto para montaje en cualquier posici&oacute;n sobre riel DIN de 35 mm.</li>
                <li>Dimensiones modulares seg&uacute;n norma DIN 43880 de 68mm de profundidad.</li>
                <li>Sistemas de bornes bifunci&oacute;n: la parte superior para terminales planos o barras de interconexi&oacute;n y la parte inferior para cables conductores r&iacute;gidos (tipo caja o abrazadera).</li>
                <li>Protegido contra contactos accidentales (VDE 0106, parte 100).</li>
                <li>Presentado en 25,40.63,80,100 en bipolares y tetrapolares.</li>
                </ul>
                <p>&nbsp;</p>
                <p><strong>Interruptores Diferenciales &ndash; Sin posibilidad de utilizar accesorios &ndash; FH200 AC</strong></p>
                <p>Todos los guardamotores disponen de protecci&oacute;n t&eacute;rmica y protecci&oacute;n por fallo de fase. El montaje se realiza en carril DIN de 35mm.<br /> Para todos los guardamotores hay una amplia gama de accesorios.</p>
                <p><strong> Bipolares </strong> </p>
                <ul> 
                <li>1TMF202006R1250	FH202 AC-25/0,03	Interruptor diferencial bipolar In 25A. Sens = 30 mA </li>
                <li>1TMF202006R1400	FH202 AC-40/0,03	Interruptor diferencial bipolar In 40A. Sens = 30 mA </li>
                <li>1TMF202006R1630	FH202 AC-63/0,03	Interruptor diferencial bipolar In 63A. Sens = 30 mA </li>
                </ul>
                <p><strong> Tetrapolares </strong> </p>   
                <ul> 
                <li>1TMF204006R1250	FH204 AC-25/0,03	Interruptor diferencial tetrapolar In 25A. Sens = 30 m </li>
                <li>1TMF204006R1400	FH204 AC-40/0,03	Interruptor diferencial tetrapolar In 40A. Sens = 30 mA </li>
                <li>1TMF204006R1630	FH204 AC-63/0,03	Interruptor diferencial tetrapolar In 63A. Sens = 30 mA </li>
                </ul> 

      </div>
    
                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example22.jpg" width="350px" height="350px" alt="">


                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
