<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Interruptores manuales 3LD2 </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Interruptores manuales 3LD2 </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example27.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Interruptores manuales 3LD2
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
         <p>Los interruptores 3LD2 se utilizan para maniobrar circuitos principales y auxiliares pero tambi&eacute;n para maniobrar motores trif&aacute;sicos y otros consumidores en caso de mantenimiento y reparaci&oacute;n.</p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>
   		<p><strong>Caracter&iacute;sticas</strong><br /> Conforme a las normas IEC 60 947-3/VDE 0660 parte 107 (EN 60 947-3) se trata de interruptores-seccionadores manuales que cumplen los requisitos de seccionamiento.</p>
                <p>Los interruptores 3LD2 pueden utilizarse como:</p>
                
                <li>Interruptores con/des (Marcha/Paro).</li>
                <li>Interruptores de Parada de emergencia.</li>
                <li>Interruptores principales.</li>
             
                <p><strong>Interruptores 3KA Y 3KL</strong><br /> Los interruptores-seccionadores sin fusibles 3KA se utilizan como interruptores principales, de parada de emergencia, de reparaci&oacute;n y de conmutaci&oacute;n de red en paneles de distribuci&oacute;n para edificios comerciales y de viviendas as&iacute; como en tableros/cuadros industriales. Las variantes de tres y cuatro polos garantizan el cierre y corte de la intensidad nominal asignada bajo carga. Tambi&eacute;n cumplen una funci&oacute;n de seguridad en todos los circuitos de baja tensi&oacute;n. Los interruptores-seccionadores con fusibles 3KL sirven de protecci&oacute;n contra sobrecarga y cortocircuito a modo de interruptores principales y de parada de emergencia en tableros/cuadros, paneles de distribuci&oacute;n, derivaciones de alimentaci&oacute;n y de motor. Combinados con fusibles de protecci&oacute;n de semiconductores SITOR de Siemens tambi&eacute;n se pueden aplicar en sistemas de alimentaci&oacute;n ininterrumpida, convertidores de frecuencia y sistemas de compensaci&oacute;n por condensador.</p>
                <p>Todos los modelos 3K poseen interrupci&oacute;n doble por contactos y un tramo de seccionamiento. Por eso los fusibles no est&aacute;n bajo tensi&oacute;n cuando los interruptores est&aacute;n abiertos.</p>
                <p>Normalmente, todos los interruptores-seccionadores 3K.5 se pueden bloquear en el eje con un candado para evitar su reconexi&oacute;n no autorizada.<br /> Los mismos accesorios para los interruptores-seccionadores con y sin fusibles 3KA, simplifican la gesti&oacute;n de repuestos.</p>
                <p><strong>Sin portafusibles y sin manijas</strong></p>
               
                <li>63 AMP. 3KA50 30&ndash;1AE01</li>
                <li>80 AMP. 3KA51 30&ndash;1AE01</li>
                <li>125 AMP. 3KA52 30&ndash;1AE01</li>
                <li>160 AMP. 3KA53 30&ndash;1AE01</li>
                <li>250 AMP. 3KA55 30&ndash;1AE01</li>
                <li>400 AMP. 3KA57 30&ndash;1AE01</li>
                <li>630 AMP. 3KA58 30&ndash;1AE01</li>
               
                <p><strong>Con portafusibles y sin manijas</strong></p>
                
                <li>63 AMP 3KL50 30&ndash;1AB01 PARA FUSIBLE NH00</li>
                <li>125 AMP 3KL52 30&ndash;1AB01 PARA FUSIBLE NH00</li>
                <li>160 AMP 3KL53 30&ndash;1AB01 PARA FUSIBLE NH00</li>
                <li>250 AMP 3KL55 30&ndash;1AB01 PARA FUSIBLE NH01</li>
                <li>400 AMP 3KL57 30&ndash;1AB01 PARA FUSIBLE NH02</li>
                <li>630 AMP 3KL61 30&ndash;1AB0 PARA FUSIBLE NH03</li>
                
      </div>
                    
    </div> 
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>