

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Interruptor compacto Sentron </li>
        </ul>
        <h2> Interruptor compacto Sentron</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Caracter&iacute;sticas Pocos componentes como base de miles de combinaciones: Eso es SENTRON. Una nueva generaci&oacute;n de interruptores de potencia &ndash; de 16 hasta 6300 A -, que permiten dada su modularidad cualquier aplicaci&oacute;n imaginable en la distribuci&oacute;n de energ&iacute;a. De ahorro de costos, de proyecci&oacute;n flexible por medio de comunicaci&oacute;n integrable, en soluciones de sistemas. [&hellip;]</p>
				<p><strong>Caracter&iacute;sticas</strong><br /> Pocos componentes como base de miles de combinaciones: Eso es SENTRON. Una nueva generaci&oacute;n de interruptores de potencia &ndash; de 16 hasta 6300 A -, que permiten dada su modularidad cualquier aplicaci&oacute;n imaginable en la distribuci&oacute;n de energ&iacute;a. De ahorro de costos, de proyecci&oacute;n flexible por medio de comunicaci&oacute;n integrable, en soluciones de sistemas. Todo se vuelve posible.</p>
                <p>Nuestros accesorios universales se instalan en su emplazamiento con un solo click. Esta flexibilidad significa que cualquier unidad de la serie SENTRON VL puede readaptarse en campo con incre&iacute;ble facilidad .Adem&aacute;s para simplificar el inventario, con solo dos grupos de accesorios internos comunes se cubre completamente con la serie SENTRON VL. Una serie que se adapta inmediatamente a sus necesidades en cada momento. SENTRON VL: La soluci&oacute;n apta para sistemas, optimiza procesos de distribuci&oacute;n de energ&iacute;a y ahorra costos a gran escala.</p>
                <p><strong> Resumen del programa Sentron</strong></p>
                <ul>
                <ul>
                <li>Interruptores compactos en caja moldeada, Sentron VL</li>
                <li>Desde 630A hasta 6300A.</li>
                <li>Fijos y extra&iacute;bles.</li>
                <li>Con disparo termomagn&eacute;tico y disparo electr&oacute;nico.</li>
                <li>Tri y Tetrapolares.</li>
                <li>Accesorios comunes.</li>
                <li>Comunicables</li>
                </ul>
                </ul>
                <p><strong><br /> Interruptores abiertos Sentron WL</strong></p>
                <ul>
                <li>Desde 16A hasta 1600A.</li>
                <li>Fijos y extra&iacute;bles.</li>
                <li>Con disparadores electr&oacute;nicos.</li>
                <li>Tri y Tetrapolares.</li>
                <li>Accesorios comunes.</li>
                <li>Comunicables.</li>
                </ul>
                <p><strong>Selecci&oacute;n de interruptores seg&uacute;n regulaci&oacute;n .</strong></p>         
            <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-1.png" data-src="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-1.png" alt="">
                                  </a>
                                </div>
                            </br>
                                <div class="item">
                                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-2.png">
                                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-2.png" data-src="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-2.png" alt="">
                                                  </a>
                                                </div>
                                            </br>
                                                <div class="item">
                                                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-3.png">
                                                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-3.png" data-src="img/productos-electricos/tablas/tabla-interruptor-compacto-sentron-3.png" alt="">
                                                                  </a>
                                                                </div>

      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example28.jpg" width="350px" height="350px" alt="">
                   
                

                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
