<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Interruptor de posicion SIGUARD </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Interruptor de posicion SIGUARD </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example30.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Interruptor de posicion SIGUARD
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
        <p>Conforme a la pr&aacute;ctica en el rudo trato industrial Los interruptores de posici&oacute;n SIGUARD se pueden aplicar, debido a los innumerables accionamientos orientados a la pr&aacute;ctica, para: La supervisi&oacute;n de dispositivos de protecci&oacute;n con articulaciones como ser puertas basculantes, clapetas, tapas, etc. La supervisi&oacute;n de dispositivos de protecci&oacute;n deslizantes como puertas corredizas, rejas de protecci&oacute;n, [&hellip;]</p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<style> 
 strong {
	 color:black;
 }

</style>

<article class="card mt-3">
	<div class="card-body">
    <h4>Descripcion detallada </h4>
                  
    <h4> Modelos disponibles </h4>   
            <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-pos.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-pos.png" data-src="img/productos-electricos/tablas/tabla-interruptores-pos.png" alt="">
                                  </a>
                                </div>

     	<p><strong>Conforme a la pr&aacute;ctica en el rudo trato industrial</strong><br /> Los interruptores de posici&oacute;n SIGUARD se pueden aplicar, debido a los innumerables accionamientos orientados a la pr&aacute;ctica, para:</p>
              
                <li>La supervisi&oacute;n de dispositivos de protecci&oacute;n con articulaciones como ser puertas basculantes, clapetas, tapas, etc.</li>
                <li>La supervisi&oacute;n de dispositivos de protecci&oacute;n deslizantes como puertas corredizas, rejas de protecci&oacute;n, etc.</li>
                <li>El registro de movimientos peligrosos de partes de maquinarias.</li>
                <li>Las dimensiones, los puntos de fijaci&oacute;n y los datos caracter&iacute;sticos corresponden en su mayor&iacute;a a las normas EN 50 047 y EN 50 041, respectivamente.</li>
               
                <p><strong>Alta confiabilidad</strong><br /> Los contactos m&oacute;viles dobles aseguran una muy alta seguridad de contacto con valores de corriente y de tensi&oacute;n extremadamente bajos, como p.ej. 5<br /> VCC/1 mA, pero tambi&eacute;n son aptos para una corriente permanente de 10 A.</p>
                <p>Estos interruptores de posici&oacute;n pueden ser maniobrados, sin ninguna limitaci&oacute;n, en circuitos de hasta 380V con diferentes potenciales, dado que los contactos m&oacute;viles dobles est&aacute;n separados galv&aacute;nicamente entre si.</p>
                <p><strong>Apertura forzada de los contactos</strong><br /> (Norma EN 60 947-5-1) La apertura forzada es exigida por la norma VDE 0660 parte 200, id&eacute;ntica con la IEC 60 947-5-1 y EN 60 947-5-1, respectivamente.<br /> Para el equipamiento el&eacute;ctrico de m&aacute;quinas se exige expresamente la apertura forzada de los contactos normalmente cerrados NC (de apertura) en todos los circuitos de seguridad. Esto est&aacute; identificado de acuerdo a la norma IEC 60 947-5-1 con el s&iacute;mbolo (Funci&oacute;n de protecci&oacute;n de las personas).</p>
                <p>Con el empleo de interruptores de posici&oacute;n SIGUARD se logra la categor&iacute;a 4 seg&uacute;n la norma EN 60 954-1. Es importante para ello la correcta selecci&oacute;n y aplicaci&oacute;n de los aparatos y su interacci&oacute;n con aparatos de evaluaci&oacute;n sin errores como p.ej. 3TK28, AS-Interface Safety at Work, SIMATIC &oacute; SINUMERIK, respectivamente.</p>
                <p>Criterio de selecci&oacute;n para interruptores est&aacute;ndar de posici&oacute;n Siguard</p>
               
                <li>Ejecuci&oacute;n de la carcaza &ndash; para todas las condiciones ambientales no encapsulado IP 20: para ambientes libre de polvo.</li>
                <li>encapsulado en pl&aacute;stico IP 66/IP 67: para ambientes h&uacute;medos y con solicitaciones mec&aacute;nicas.</li>
                <li>encapsulado met&aacute;lico IP 67: para solicitaciones t&eacute;rmicas adicionales.</li>
                <li>en distintos anchos de montaje: 31 mm, 40 mm, 50 mm, 56 mm.</li>
                <li>Contactos &ndash; para diferentes funciones de mando.</li>
                <li>Contacto de salto (contacto NC y NA operan simult&aacute;neamente).</li>
                <li>Contacto deslizante (diferencia de recorrido entre que el contacto NC abre y el NA cierra).</li>
                <li>Contacto deslizante con solapamiento (apto para iniciar una segunda funci&oacute;n, en un programa de mando, antes que se desconecte la primera funci&oacute;n).</li>
               
                <p><strong>Tipos de accionamiento &ndash; para diferentes situaciones de arranque y de operaci&oacute;n.</strong><br /> Se deben observar:<br /> a) la direcci&oacute;n de arranque.<br /> b) la velocidad de operaci&oacute;n.<br /> c) forma del elemento de accionamiento.<br /> d) adecuada constelaci&oacute;n de los materiales.</p>
                <p><strong>V&aacute;stago simple, prolongado y de rodillo.</strong><br /> a) Arranque en direcci&oacute;n de la carrera o con regla de maniobra en &aacute;ngulo recto al eje de la carrera.<br /> b) V&aacute;stagos prolongados y de rodillo tienen una carrera adicional, por lo tanto un recorrido mayor para actuar.<br /> c) En caso de un accionar lateral y recorrido relativamente largo se debe recomendar el v&aacute;stago de rodillo.<br /> d) El v&aacute;stago de rodillo puede ser desplazado en 90&deg;, para permitir arrancar desde 4 direcciones en forma de &aacute;ngulo recto a la direcci&oacute;n del v&aacute;stago.</p>
                <p><strong>Palanca de rodillo y de rodillo angular.</strong><br /> a) Para elevadas velocidades de arranque (vm&aacute;x= 2,5 m/s).<br /> b) Seg&uacute;n la direcci&oacute;n de arranque (de izquierda o de derecha), son posibles diferentes &aacute;ngulos de arranque (a = 30) o de desarrollo (g = 45).<br /> c) El accionamiento puede ser desplazado en 90&deg; en cada caso.<br /> d) Para elementos de accionamiento de acero rectificado en forma de levas, regletas o discos de leva.<br /> e) Muy elevada vida &uacute;til mec&aacute;nica.</p>
                <p><strong>Palanca basculante y de barra.</strong><br /> a) Para elevadas velocidades de arranque (vm&aacute;x = 3 m/s).<br /> b) M&uacute;ltiples posibilidades de arranque.<br /> c) Insensible contra aceite, polvo abrasivo, hielo, suciedad y material granulado grueso.<br /> d) Con palanca basculante el &aacute;ngulo m&aacute;x. de arranque es igual al &aacute;ngulo m&aacute;x. de desarrollo.<br /> e) Palanca de barra &ndash; cuando ning&uacute;n elemento de accionamiento con &aacute;ngulo de arranque y de desarrollo es posible.</p>
                <p><strong>Barra flexible</strong><br /> a) Utilizable en accionamientos no definidos y con condiciones variables de arranque.<br /> b) Arranque desde todas las direcciones.</p>
      </div>
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>