<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Interruptores Termomagneticos </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Interruptores Termomagneticos </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example31.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Interruptores Termomagneticos
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
        <p>Los interruptores termomagn&eacute;ticos (t&eacute;rmicas) se utilizan, en primer t&eacute;rmino, para proteger contra sobrecargas y cortocircuitos a los cables y conductores el&eacute;ctricos. De esa manera asumen la protecci&oacute;n de medios el&eacute;ctricos contra calentamientos excesivos seg&uacute;n la norma DIN VDE0100 parte 430.</p>
  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<style> 
 strong {
	 color:black;
 }

</style>

<article class="card mt-3">
	<div class="card-body">
    <h4>Descripcion detallada </h4>
                  
    <p>Bajo determinadas condiciones los interruptores termomagn&eacute;ticos (termica) tambi&eacute;n garantizan la protecci&oacute;n contra descargas peligrosas por tensiones excesivas de contacto originadas por defectos de aislamiento seg&uacute;n la norma DIN VDE 0100 parte 410.</p>
                <p>Por medio de los ajustes fijos de corrientes de dise&ntilde;o tambi&eacute;n se posibilita una protecci&oacute;n restringida de motores el&eacute;ctricos.<br /> Para las aplicaciones en la industria y en instalaciones el&eacute;ctricas se complementan los interruptores termomagn&eacute;ticos con componentes adicionales de sencillo montaje acoplado, como por ejemplo: contactos auxiliares, contactos de se&ntilde;alizaci&oacute;n<br /> de fallas o alarma, bobinas de apertura, bobinas de m&iacute;&shy;nima tensi&oacute;n, bloques diferenciales y accesorios de f&aacute;cil montaje, como sistemas de barras colectoras y piezas de montaje.</p>
                <p><strong>Principio de funcionamiento</strong><br /> Debido a la extrema velocidad de separaci&oacute;n de los contactos en caso de fallas y a la r&aacute;pida extinci&oacute;n en las c&aacute;maras apagachispas, del arco voltaico generado, los interruptores termomagn&eacute;ticos desconectan con seguridad, limitando fuertemente la intensidad de la corriente.<br /> Con ello se bajan, por lo general, los valores l&iacute;&shy;mites admisibles de I2t de la clase 3 de limitaci&oacute;n de energ&iacute;&shy;a seg&uacute;n la norma DIN VDE 0641 parte 11, en un 50%. Esto garantiza una muy buena selectividad en los dispositivos de protecci&oacute;n de sobrecorriente conectados aguas arriba.<br /> <strong><br /> Ventajas para 5SX</strong></p>
                <ul>
                <li>Apto especialmente para el montaje en tableros de distribuci&oacute;n de poca profundidad en instalaciones domiciliarias o de edificios.</li>
                <li>Segura y r&aacute;pida conexi&oacute;n de los conductores de alimentaci&oacute;n por el desplazamiento de las barras colectoras hacia la parte posterior.</li>
                <li>Bornes id&eacute;nticos en ambos lados, para la alimentaci&oacute;n alternativa por la parte superior o inferior indistintamente.</li>
                <li>Montaje y desmontaje sin herramientas.</li>
                <li>Una r&aacute;pida y c&oacute;moda separaci&oacute;n del sistema de interconexi&oacute;n es posible.</li>
                <li>Sistema variable de identificaci&oacute;n.</li>
                <li>Indicaci&oacute;n &oacute;ptica separada de la posici&oacute;n del interruptor.</li>
                </ul>
                <p>&nbsp;</p>
                
                
            <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-1.png">
                                      <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-1.png" data-src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-1.png" alt="">
                                  </a>
                                </div>
                            </br>
                            <div class="item">
                                <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-2.png">
                                                  <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-2.png" data-src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-2.png" alt="">
                                              </a>
                                            </div>
                                            </br>
                                            <div class="item">
                                                <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-3.png">
                                                                  <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-3.png" data-src="img/productos-electricos/tablas/tabla-interruptores-termomagneticos2-3.png" alt="">
                                                              </a>
                                                            </div>
                                                        </br>


      </div>
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>