

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Motores de aplicación general en hierro fundido </li>
        </ul>
        <h2> Motores de aplicación general en hierro fundido </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">    
          <div class="tab-content">
            <div class="tab-pane active" id="abb">
              <h5 class="title"><i class=""></i>  Motores de aplicación general en hierro fundido </h5>
              <div class="row">
                <div class="col-lg-6">
                  <p> Dentro de su portafolio ABB ofrece motores y generadores AC y DC, acorde a los estándares IEC y NEMA. Fabricando motores asíncronos y sincrónicos para cada aplicación con una amplia gama de motores para baja y media tensión. Los motores eléctricos de ABB son ampliamente reconocidos a nivel mundial por ser productos altamente eficientes.</p> 
                  <p> Los motores de ABB de aplicación general han sido diseñados para aplicaciones de uso general. Sin embargo, éstos pueden ser modificados localmente para atender la mayoría de las aplicaciones. Construídos con los más altos estándares internacionales de fabricación y con los mejores materiales disponibles, los motores de aplicación general de ABB ofrecen competitividad de precios, calidad, confiabilidad, disponibilidad y una red de profesionales que le darán un rápido soporte en todo el proceso de venta.</p>

                
                  <p>  Ejemplos sobre pedidos </p>
                  <p> 1) Diseño EstándarCuando vaya a ordenar un motor, por favor tome en cuenta los siguientes datos como mínimo en su orden: </p>              
                     <li>Tipo del Motor: M2QA200L2B</li> 
                     <li>Código del Producto: 3GQA201502-AXA </li>
                     <li>Velocidad Nominal: 2955 r/min                    </li> 
                     <li>Potencia Nominal: 37 kW </li> 
                     <li>Tipo de Montaje: IM B3 </li> 
                     <li>Voltaje de Alimentación: 230/380 VD </li> 
                     <li>Frecuencia: 50 Hz</li> 
                     <li>Grado de Protección: IP 55 </li> 
                     <li> Clase de Aislamiento: F</li>
                    </p>
                 
                </div>

                <div class="col-lg-6">
                 <div class="image-product"> 
              <img class="img-responsive" src="../img/productos-electricos/example15.jpg" width="350px" height="350px" alt="">
   
              <div class="general-title text-center">
                  <h3> Modelos </h3>
                  <hr>
                </div>
                <div class="divider"></div>
                <div id="popularitems" class="owl-carousel">
                  <div class="col-lg-12">
                    <div class="he-wrap tpl6 market-item">
                        <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                          <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                        </div>
                      </div>
                    </div>
                  </div>
               
                  <div class="col-lg-12">
                    <div class="he-wrap tpl6 market-item">
                        <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                          <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                        </div>
                      </div>
                    </div>
                  </div>
                   
                  <div class="col-lg-12">
                    <div class="he-wrap tpl6 market-item">
                        <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                          <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                        </div>
                      </div>
                    </div>
                  </div>
               
                  <div class="col-lg-12">
                    <div class="he-wrap tpl6 market-item">
                        <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                          <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                        </div>
                      </div>
                    </div>
                  </div>          
               
                  <div class="col-lg-12">
                    <div class="he-wrap tpl6 market-item">
                        <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                          <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
               </div>   
               </div>
               </div>
               </section>
