<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Motores de aplicación general en hierro fundido </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Motores de aplicación general en hierro fundido </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example15.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Motores de aplicación general en hierro fundido
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
  <p> Dentro de su portafolio ABB ofrece motores y generadores AC y DC, acorde a los estándares IEC y NEMA. Fabricando motores asíncronos y sincrónicos para cada aplicación con una amplia gama de motores para baja y media tensión. Los motores eléctricos de ABB son ampliamente reconocidos a nivel mundial por ser productos altamente eficientes.</p> 
  <p> Los motores de ABB de aplicación general han sido diseñados para aplicaciones de uso general. Sin embargo, éstos pueden ser modificados localmente para atender la mayoría de las aplicaciones. Construídos con los más altos estándares internacionales de fabricación y con los mejores materiales disponibles, los motores de aplicación general de ABB ofrecen competitividad de precios, calidad, confiabilidad, disponibilidad y una red de profesionales que le darán un rápido soporte en todo el proceso de venta.</p>  </dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<style> 
 strong {
	 color:black;
 }

</style>

<article class="card mt-3">
	<div class="card-body">
    <h4>Descripcion detallada </h4>
                  
    <h4> Modelos disponibles </h4>   
            <div class="item">
        <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-motores-hierro.png">
        <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-motores-hierro.png" data-src="img/productos-electricos/tablas/tabla-motores-hierro.png" alt="">
                                  </a>
                                </div>

 <p>  Ejemplos sobre pedidos </p>
                  <p> 1) Diseño Estándar cuando vaya a ordenar un motor, por favor tome en cuenta los siguientes datos como mínimo en su orden: </p>              
                     <li>Tipo del Motor: M2QA200L2B</li> 
                     <li>Código del Producto: 3GQA201502-AXA </li>
                     <li>Velocidad Nominal: 2955 r/min                    </li> 
                     <li>Potencia Nominal: 37 kW </li> 
                     <li>Tipo de Montaje: IM B3 </li> 
                     <li>Voltaje de Alimentación: 230/380 VD </li> 
                     <li>Frecuencia: 50 Hz</li> 
                     <li>Grado de Protección: IP 55 </li> 
                     <li> Clase de Aislamiento: F</li>
                    </p>
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>