<!DOCTYPE html>
<html lang="es">
   <head>
      <!-- Bootstrap CSS -->
      <link href="css/notices/bootstrap.min.css" rel="stylesheet">
      <!--Template Styles CSS-->
      <link rel="stylesheet" type="text/css" href="css/notices/style.css" media="all" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
      <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
       
  </head>
    <body>  

<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Noticias </li>
        </ul>
        <h2> Noticias </h2>
      </div>
    </div>
  </section>

    <section class="blog-area ptb-140 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap mb-30">
                            <div class="blog-img">
                                <img src="img/notice/14.jpg" alt="">
                            </div>
                            <div class="blog-content wow fadeInUp">
                                
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Administrador </a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> New </a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Share </a></li>
                                    </ul>
                                </div>
                            
                                <h3> Lanzamiento de nuestro video institucional</h3>
                                <p> ¡La noticia tan esperada, el lanzamiento de nuestro video institucional!</p>
                                <a href="/notice" class="btn btn-default btn_font_10">Leer mas</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap mb-30">
                            <div class="blog-img">
                                <img src="img/notice/13.jpg" alt="">
                            </div>
                            <div class="blog-content wow fadeInUp">
                                
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Administrador </a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> New </a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Share </a></li>
                                    </ul>
                                </div>
                            
                                <h3> Conoce mas sobre nuestro laboratorio </h3>
                                <p> Una de nuestras areas mas importantes, es nuestro laboratorio.. </p>
                                <a href="" class="btn btn-default btn_font_10">Leer mas</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap mb-30">
                            <div class="blog-img">
                                <img src="img/notice/22.jpg" alt="">
                            </div>
                            <div class="blog-content wow fadeInUp">
                                
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Administrador </a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> New </a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Share </a></li>
                                    </ul>
                                </div>
                            
                                <h3> Visitas a futuras ferias tecnologicas </h3>
                                <p> ¡Pronto estaremos visitando distintas ferias y comunicando nuestra experiencia!</p>
                                <a href="" class="btn btn-default btn_font_10">Leer mas</a>
                            </div>
                        </div>
                    </div>




                                  </div>
                              </div>
                      </section>   
   </body>
</html>