<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" href="css/notice/font-awesome.min.css">
    <link rel="stylesheet" href="css/notice/bootstrap.css">
    <link rel="stylesheet" href="css/notice/main.css">


</head>
<body>

    <!-- 
    <header class="default-header">
        <div class="menutop-wrap">
            <div class="menu-top container"> 
                <div class="d-flex justify-content-end align-items-center">
                    <ul class="list">
                        <li><a href="tel:++880 1234 654 953">+880 1234 654 953</a></li>
                        <li><a href="#">Sell / Rent Property</a></li>
                        <li><a href="#">login / register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
-->


    <!-- 
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex text-center align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <p class="text-white link-nav"><a href="index.html">Home </a>
                        <span class="lnr lnr-arrow-right"></span>
                        <a href="blog-home.html">
                            Blog
                        </a>
                        <span class="lnr lnr-arrow-right"></span>
                        <a href="single-blog.html">
                            Blog Details
                        </a>
                        </p>
                    <h1 class="text-white">
                        Blog Details
                    </h1>
                </div>
            </div>
        </div>
    </section>
     -->

    <!--  Blog Area -->
    <section class="blog_area single-post-area p_120">
        <div class="container">
            <div class="row mt-80">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="img/notice/14.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Noticias;</a>
                                    <a class="active" href="#">Video industrial</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li>
                                        <a href="#">Administrador                   
                                            <i class="fa fa-user"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">5 Septiembe, 2019
                                            <i class="fa fa-calendar-full"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">5 Views
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">New
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2> Presentacion de nuestro video industrial </h2>
                            <p class="excert">
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repudiandae eaque dolores nobis sint cumque mollitia est facere veniam incidunt, quis consequuntur, velit in! Illum quos adipisci minima voluptates ad.
                            </p>
                            <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, magni aspernatur placeat blanditiis sapiente fuga.
                            </p>
                            <p>
                             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus facilis tempore voluptate error magni. Sint, possimus laboriosam? Aliquam quod reprehenderit, earum iusto tempore, voluptatibus hic eos eveniet voluptas rerum labore?
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda explicabo nesciunt laboriosam, asperiores saepe non?
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="img/notice/23.jpg" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="img/notice/8.jpg" alt="">
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sapiente debitis quibusdam velit veritatis culpa excepturi totam ratione voluptates, eos voluptatum perferendis nihil possimus molestias dignissimos nesciunt quae, aliquam veniam?
                                    </p>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora at eveniet in. Dolorem est consectetur animi aliquid repellendus cumque, maiores quos officia molestiae dolores numquam fuga. Possimus corrupti enim commodi!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

             
                    <div class="comment-form">             
                        <form>
             
                        </form>
                    </div>
                </div>




                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <!-- 
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Posts">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="lnr lnr-magnifier"></i>
                                    </button>
                                </span>
                            </div>
                            -->
                            <!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="img/logo/logo.PNG" alt="">
                            <h4> Administrador </h4>
                            <p> Community Manager </p>
                            <div class="social_icon">
                                <a href="https://www.facebook.com/MaxPower-Industrial-Automation-100690231314367/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/maxpower.industrial/?igshid=1q4yb71nbyhec">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/maxpower-industrial-automation-8186903a">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <p>Ofrecemos asesoramiento especilizado en las diferentes áreas de las empresas anticipándonos a sus necesidades actuales y futuras, mejorando el funcionamiento de los procesos continuos a través de la excelencia y la calidad.
                            </p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title"> Otras Notiicas </h3>
                            <!-- 
                            <div class="media post_item">
                                <img src="img/popular-post/post1.jpg" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>Noticia 1</h3>
                                    </a>
                                    <p> Hace 02 horas </p>
                                </div>
                            </div>

                            <div class="media post_item">
                                <img src="img/popular-post/post2.jpg" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>Noticia 1</h3>
                                    </a>
                                    <p> Hace 02 horas </p>
                                </div>
                            </div>

                            <div class="media post_item">
                                <img src="img/popular-post/post3.jpg" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>Noticia 1</h3>
                                    </a>
                                    <p> Hace 02 horas </p>
                                </div>
                            </div>

                            <div class="media post_item">
                                <img src="img/popular-post/post4.jpg" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>Noticia 1</h3>
                                    </a>
                                    <p> Hace 02 horas </p>
                                </div>
                            </div>
-->
                            <div class="br"></div>
                        </aside>


                        <!-- 
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Technology</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Lifestyle</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Fashion</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Art</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Food</p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Architecture</p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Adventure</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
-->                  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Blog Area -->

    <script src="js/notice/bootstrap.min.js"></script> 
    
</body>

</html>