

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Miniautómata LOGO!  </li>
        </ul>
        <h2> Miniautómata LOGO!  </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Sinopsis la soluci&oacute;n compacta, f&aacute;cil de usar y econ&oacute;mica para tareas de mando simples compacto, f&aacute;cil de manejar, de aplicaci&oacute;n universal sin necesidad de accesorios &ldquo;Todo en uno&rdquo;: pantalla y teclado integrado bastan un par de pulsaciones para combinar 29 funciones diferentes; en total hasta 56 veces cambios de funciones con s&oacute;lo pulsar una tecla; [&hellip;]</p>
          		<p><strong>Sinopsis</strong></p>
                <ul>
                <li>la soluci&oacute;n compacta, f&aacute;cil de usar y econ&oacute;mica para tareas de mando simples</li>
                <li>compacto, f&aacute;cil de manejar, de aplicaci&oacute;n universal sin necesidad de accesorios</li>
                <li>&ldquo;Todo en uno&rdquo;: pantalla y teclado integrado</li>
                <li>bastan un par de pulsaciones para combinar 29 funciones diferentes; en total hasta 56 veces</li>
                <li>cambios de funciones con s&oacute;lo pulsar una tecla; se prescinde del recableado costoso.</li>
                </ul>
                <p><strong>Campo de aplicaci&oacute;n</strong><br /> El m&oacute;dulo l&oacute;gico LOGO! es la soluci&oacute;n compacta f&aacute;cil de usar y econ&oacute;mica para tareas de mando simples. LOGO! es de aplicaci&oacute;n universal, por ejemplo:</p>
                <ul>
                <li>instalaciones dom&eacute;sticas (iluminaciones, persianas, toldos, portales, control de entrada, barreras, instalaciones de aire condicionado&hellip;)</li>
                <li>cuadros/tableros el&eacute;ctricos</li>
                <li>maquinaria y equipos (bombas, prensas peque&ntilde;as, compresores&hellip;)</li>
                <li>control especial para invernaderos dom&eacute;sticos e industriales</li>
                <li>nav&iacute;os; homologaciones concedidas por (variantes AS-Interface en preparaci&oacute;n):- American Bureau of Shipping<br /> &ndash; Bureau Veritas<br /> &ndash; Des Norske Veritas<br /> &ndash; Germanischer Lloyd<br /> &ndash; Lloyds Register of Shipping</li>
                <li>preprocesamiento de se&ntilde;ales para otros controles.</li>
                </ul>
                <p><strong>Caracter&iacute;sticas</strong><br /> LOGO! es simple:</p>
                <ul>
                <li>teclado y visualizador en un aparato; no se precisa otros auxiliares</li>
                <li>funciones b&aacute;sicas integradas; (por ejemplo. Y, O) funciones especiales (por ejemplo,. rel&eacute; de autorretenci&oacute;n) t&iacute;picas de la electrotecnia.</li>
                <li>creaci&oacute;n del programa por simple combinaci&oacute;n, pulsando teclas, de las funciones integradas.</li>
                <li>memorizaci&oacute;n no vol&aacute;til del programa y de valores (por ejemplo, temporizaciones) gracias a EEPROM integrada.</li>
                <li>f&aacute;cil y simple duplicaci&oacute;n del programa a trav&eacute;s de un m&oacute;dulo de programa opcional.</li>
                <li>LOGO! ocupa poco lugar: por ejemplo, LOGO! 230RC: 72 x 90 x 55mm (A x A x P). Tama&ntilde;o apto para cajas de distribuci&oacute;n (mismo ancho y alto que un diferencial).</li>
                <li>de adaptaci&oacute;n flexible gracias a reconfiguraci&oacute;n de funciones pulsando teclas; reemplaza tediosos recableados.</li>
                <li>manejo opcional desde una PC; creaci&oacute;n, simulaci&oacute;n y archivo de programa desde PC, incluso posibilidad de documentaci&oacute;n.</li>
                </ul>
                <p><strong>LOGO! puede comunicarse:</strong></p>
                <ul>
                <li>variantes con conexi&oacute;n interface AS (esclavo)</li>
                </ul>
                <p><strong>Composici&oacute;n</strong><br /> Ofrece diferentes variantes para las tensiones de alimentaci&oacute;n m&aacute;s diversas (12 V DC, 24 V DC; AC 115/230 V):</p>
                <ul>
                <li>variantes b&aacute;sicas</li>
                <li>variantes L con entradas/salidas adicionales</li>
                <li>variante L con capacidad de comunicaci&oacute;n por puerto AS-Interface</li>
                </ul>
      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example20.png" width="350px" height="350px" alt="">
                   
                
               
                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
 
