

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> PLC SIMATIC S7-300  </li>
        </ul>
        <h2> PLC-SIMATIC S7-300 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>Hasta ahora el SIMATIC se le ha llamado control programable o PLC. Ahora se presenta bajo el nombre de &ldquo;Totally Integrated Automation&rdquo; SIMATIC, que es la Integraci&oacute;n Total en Automatizaci&oacute;n.</p>
    			<p><strong>Caracter&iacute;sticas</strong></p>
                <ul>
                <li>El sistema de miniaut&oacute;matas modulares para las gamas baja y media.</li>
                <li>Con una amplia gama de m&oacute;dulos para una adaptaci&oacute;n &oacute;ptima a la tarea de automatizaci&oacute;n en particular.</li>
                <li>De aplicaci&oacute;n flexible gracias a la posibilidad de realizar estructuras descentralizadas e interconexiones por red.</li>
                <li>C&oacute;modo de aplicar gracias a su facilidad de uso y a su instalaci&oacute;n simple y sin necesidad de ventilaci&oacute;n.</li>
                <li>Ampliable sin problemas en el caso de que aumenten las tareas.</li>
                <li>Potente gracias a la gran cantidad de funciones integradas</li>
                </ul>
                <p><strong>Caracter&iacute;siticas de la CPU</strong></p>
                <ul>
                <li>La CPU de seguridad con gran memoria de programa y capacidad funcional para aplicaciones sofisticadas.</li>
                <li>Para configurar un sistema de automatizaci&oacute;n de seguridad positiva para instalaciones con altos requisitos de seguridad.</li>
                <li>Conforme a los requisitos de seguridad hasta SIL 3 seg&uacute;n IEC 61508, AK6 conforme a DIN V 19250 y cat. 4 seg&uacute;n EN 954-1.</li>
                <li>No requiere un cableado adicional de la periferia orientada a la seguridad.</li>
                <li>1 interfaz maestro/esclavo PROFIBUS DP y 1 interfaz DP maestro/esclavo/MPI.</li>
                <li>Ambos interfaces utilizables para la conexi&oacute;n de m&oacute;dulos de seguridad.</li>
                <li>M&oacute;dulos perif&eacute;ricos de seguridad de ET 200S PROFIsafe conectables de forma descentralizada. M&oacute;dulos perif&eacute;ricos de seguridad de ET 200M conectables de forma centralizada y descentralizada.</li>
                <li>M&oacute;dulos est&aacute;ndar para aplicaciones no de seguridad utilizables de forma centralizada y descentralizada.</li>
                </ul>
                <p><strong>CPU 312C</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales.</li>
                <li>Para peque&ntilde;as aplicaciones que exigen gran capacidad de procesamiento.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                </ul>
                <p><strong>CPU 313C</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales y anal&oacute;gicas integradas.</li>
                <li>Para sistemas que requieren gran velocidad de procesamiento y breves tiempos de reacci&oacute;n.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                </ul>
                <p><strong>CPU 313C-2 PtP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales integradas y un segundo puerto serie.</li>
                <li>Para sistemas que requieren gran velocidad de procesamiento y de reacci&oacute;n.</li>
                <li>Con funciones tecnol&oacute;gicas</li>
                </ul>
                <p><strong>CPU 313C-2 DP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales integradas y un puerto PROFIBUS-DP maestro/esclavo.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                <li>Para tareas con funciones especiales.</li>
                <li>Para conectar periferia distribuida.</li>
                </ul>
                <p><strong>CPU 314C-2 PtP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales y anal&oacute;gicas integradas y un segundo puerto serie.</li>
                <li>Para sistemas que requieren gran velocidad de procesamiento y de reacci&oacute;n.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                </ul>
                <p><strong>CPU 314C-2 DP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales y anal&oacute;gicas integradas y un puerto PROFIBUS DP maestro/esclavo.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                <li>Para tareas con funciones especiales.</li>
                <li>Para conectar periferia distribuida.</li>
                </ul>
                <p><strong>M&oacute;dulos de entradas digitales SM321</strong></p>
                <ul>
                <li>Entradas digitales.</li>
                <li>Permite conectar contactos y detectores de proximidad a 2 hilos (BERO).</li>
                </ul>
                <p><strong>M&oacute;dulos de salidas digitales SM322</strong></p>
                <ul>
                <li>Salidas digitales.</li>
                <li>Permite conectar electrov&aacute;lvulas, contactores, peque&ntilde;os motores, l&aacute;mparas y arrancadores de motor.</li>
                </ul>
                <p><strong>M&oacute;dulos de entradas y salidas digitales SM323/SM327</strong></p>
                <ul>
                <li>Entradas y salidas digitales.</li>
                <li>Permite conectar contactos, detectores de proximidad a 2 hilos (BERO), electrov&aacute;lvulas, contactores, peque&ntilde;os.</li>
                <li>Motores, l&aacute;mparas y arrancadores de motor.</li>
                </ul>
                <p><strong>M&oacute;dulos de entradas anal&oacute;gicas SM331</strong></p>
                <ul>
                <li>Entradas anal&oacute;gicas</li>
                <li>Para conectar sensores con se&ntilde;al de tensi&oacute;n y de corriente (intensidad), termopares, resistencias y termoresistencias.</li>
                </ul>
                <p><strong>M&oacute;dulos de salidas anal&oacute;gicas SM332</strong></p>
                <ul>
                <li>Salidas anal&oacute;gicas.</li>
                <li>Para conectar actuadores anal&oacute;gicos.</li>
                </ul>

      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example17.jpg" width="350px" height="350px" alt="">
                   
                
               
                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
 
