<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Fuentes SITOP </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Fuentes SITOP </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div><img aling="middle" src="../img/productos-electricos/example21.jpg"></a></div>

</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
	<h3 class="title mb-3"> Fuentes SITOP </h3>

<dl>
  <dt>Descripcion</dt>
  <dd>

                <p>La l&iacute;nea SITOP de fuentes de alimentaci&oacute;n de 24Vcc principalmente, y en corrientes de 0,5 hasta 40A, est&aacute;n dise&ntilde;adas para su montaje sobre riel DIN y responden a las exigencias industriales, como condiciones de instalaci&oacute;n arduas con vibraciones, temperaturas fluctuantes y extremas, y variaciones abruptas de la tensi&oacute;n de red.</p>


  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>

 	<p><strong>Caracter&iacute;sticas</strong><br /> Las fuentes son del tipo switching, por lo que pueden regular con exactitud la corriente requerida por la carga, mantener una tensi&oacute;n de salida fija y autobloquearse ante cortocircuitos. Asimismo, la unidad de potencia se puede expandir con m&oacute;dulos de se&ntilde;alizaci&oacute;n o backup, e incluso se pueden conectar en paralelo para incrementar la potencia entregada. Otras caracter&iacute;sticas incluyen control a distancia para el reset de la fuente y salida ajustable en un +/-20%.</p>
                <p>Al estar avaladas por la mayor&iacute;a de las normativas el&eacute;ctricas mundiales, junto a su extenso rango de tensi&oacute;n de alimentaci&oacute;n, las fuentes SITOP garantizan su uso en equipamientos en cualquier parte del mundo, asegurando calidad industrial y reposici&oacute;n global. Adicionalmente, Siemens dispone de productos complementarios en 24Vcc como dispositivos de selectividad y sistemas UPS.</p>
                <p><strong>La nueva generaci&oacute;n de fuentes SITOP</strong><br /> M&aacute;s de un mill&oacute;n de fuentes de poder SITOP se han vendido alrededor del mundo y c&oacute;mo consecuencia se ha creado una nueva generaci&oacute;n de fuentes de poder con mayores prestaciones y m&aacute;s compactas, Ahora su construcci&oacute;n es tan robusta que es posible utilizar la misma fuente en Am&eacute;rica, Europa, Asia o en cualquier parte del mundo.</p>
                <p>Se ha reducido el volumen y el peso hasta en un 50% de manera que usted disponga de m&aacute;s espacio en su aplicaci&oacute;n, y ahorre en costos de transportaci&oacute;n.<br /> El sistema de montaje quita-pon en un riel DIN de 35mm &oacute; sujeci&oacute;n fija por tornillo, complementa las ventajas de nuestras fuentes de poder.</p>

                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
                    <ul class="check">
                <li>FUENTE MONOF. MOD. 120/230-500VCA 5AMP 6ED1333-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230-500VCA 10AMP 6ED1334-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230 20AMP 6ED1336-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230-500VCA 40AMP 6ED1337-3BA00</li>
                <li>FUENTE TRIF. MOD. 3X400 20AMP MOD 6EP14363BA00</li>
                <li>FUENTE TRIF. MOD. 3X400 40AMP MOD 6EP14373BA00</li>
                    </ul>
                  </div>                
                </div>                                                 
              </div>                
            </div>

            </article> 
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>