

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>PLC SIMATIC S7-200  </li>
        </ul>
        <h2>PLC SIMATIC S7-200 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                 <p>Hasta ahora el SIMATIC se le ha llamado control programable o PLC. Ahora se presenta bajo el nombre de &ldquo;Totally Integrated Automation&rdquo; SIMATIC, que es la Integraci&oacute;n Total en Automatizaci&oacute;n.</p>
            	<p><strong>Caracter&iacute;sticas</strong></p>
                <ul>
                <li>El micro-PLC para el m&aacute;ximo efecto de automatizaci&oacute;n al m&iacute;nimo coste.</li>
                <li>Montaje, programaci&oacute;n y uso particularmente f&aacute;ciles.</li>
                <li>De alta escala de integraci&oacute;n, requiere poco espacio, potente.</li>
                <li>Aplicable tanto para los controles m&aacute;s simples como tambi&eacute;n para tareas complejas de automatizaci&oacute;n.</li>
                <li>Aplicable aislado, interconectado en red o en configuraciones descentralizadas.</li>
                <li>El PLC tambi&eacute;n para campos donde, por motivos econ&oacute;micos, no se aplicaban hasta ahora aut&oacute;matas programables.</li>
                <li>Con destacadas prestaciones de tiempo real y potentes posibilidades de comunicaci&oacute;n (PPI, PROFIBUS-DP, AS-Interface).</li>
                </ul>
                <p><strong>CPU 221<br /> </strong></p>
                <ul>
                <li>La soluci&oacute;n compacta inteligente.</li>
                <li>Con 10 entradas/salidas a bordo.</li>
                <li>No ampliables.</li>
                </ul>
                <p><strong>CPU 222</strong></p>
                <ul>
                <li>La soluci&oacute;n compacta m&aacute;s elegante.</li>
                <li>Con 14 entradas/salidas a bordo.</li>
                <li>Ampliable con hasta un m&aacute;x de 2 m&oacute;dulos de ampliaci&oacute;n.</li>
                </ul>
                <p><strong>CPU 224</strong></p>
                <ul>
                <li>La CPU compacta de alto rendimiento.</li>
                <li>Con 24 entradas/salidas a bordo.</li>
                <li>Ampliable con hasta un m&aacute;x de 7 m&oacute;dulos de ampliaci&oacute;n.</li>
                </ul>
                <p><strong>CPU 224XP</strong></p>
                <ul>
                <li>La CPU de lata potancia.</li>
                <li>Con 24 entradas/salidas digitales y 3 anal&oacute;gicas integradas.</li>
                <li>Ampliable con hasta un m&aacute;x. de 7 m&oacute;dulos de ampliaci&oacute;n.</li>
                </ul>
                <p><strong>CPU 226</strong></p>
                <ul>
                <li>El m&aacute;s potente para ejecutar tareas t&eacute;cnicas de envergadura</li>
                <li>Con puerto PPI adicional que proporciona m&aacute;s flexibilidad Y posibilidades de comunicaci&oacute;n. Con 40 entradas/salidas a bordo. Ampliable con m&aacute;x. 7 m&oacute;dulos de ampliaci&oacute;n.</li>
                </ul>
                <p><strong>M&oacute;dulos digitales</strong><br /> Entradas/salidas digitales para complementar la periferia integrada de las CPUs.<br /> Para adaptar flexiblemente el aut&oacute;mata a la tarea respectiva.<br /> Para ampliar posteriormente la instalaci&oacute;n con entradas/salidas adicionales.</p>
                <p><strong>M&oacute;dulo de entrada digital SIPLUS EM 221<br /> </strong>(rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
                <ul>
                <li>8 entradas, 24 V DC, con aislamiento galv&aacute;nico, tipo p/m A) 6AG1 221-1BF22-2XB0.</li>
                <li>16 entradas, 24 V DC, con aislamiento galv&aacute;nico, tipo p/m A).</li>
                </ul>
                <p><strong>M&oacute;dulo de salida digital SIPLUS EM 222</strong><br /> (rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
                <ul>
                <li>8 salidas, 24 V DC; 0,75 A, con aislamiento galv&aacute;nico A) 6AG1 222-1BF22-2XB0.</li>
                <li>8 salidas, 24 V DC/ 24 a 230 V AC; 2 A, con aislamiento galv&aacute;nico, salidas de rel&eacute; A).</li>
                </ul>
                <p><strong>M&oacute;dulo de entrada/salida digital SIPLUS EM 223</strong><br /> (rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
                <ul>
                <li>4 entradas 24 V DC, 4 salidas 24 V DC; 0,75 A, con aislamiento galv&aacute;nico<br /> A) 6AG1 223-1BF22-2XB0</li>
                <li>8 entradas, 24 V DC, 8 salidas, 24 V DC; 0,75 A, con aislamiento galv&aacute;nico<br /> A) 6AG1 223-1BH22-2XB0</li>
                <li>16 entradas, 24 V DC, 16 salidas, 24 V DC; 0,75 A, con aislamiento galv&aacute;nico A) 6AG1 223-1BL22-2XB0</li>
                </ul>
                <p><strong>M&oacute;dulo de entrada/salida digital SIPLUS EM 223</strong><br /> (rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
                <ul>
                <li>4 entradas 24 V DC, 4 salidas, rel&eacute;s<br /> A) 6AG1 223-1HF22-2XB0</li>
                <li>8 entradas 24 V DC, 8 salidas, rel&eacute;s<br /> A)6AG1 223-1PH22-2XB0</li>
                <li>16 entradas 24 V DC, 16 salidas, rel&eacute;s</li>
                </ul>
                <p><strong>M&oacute;dulos anal&oacute;gicos</strong></p>
                <ul>
                <li>Entradas/salidas anal&oacute;gicas para SIMATIC S7-200.</li>
                <li>Con tiempos de conversi&oacute;n extremadamente cortos.</li>
                <li>Para conectar, sensores anal&oacute;gicos y actuadores sin necesidad de amplificador adicional.</li>
                <li>Para solucionar incluso tareas de automatizaci&oacute;n complejas.</li>
                </ul>
                <p><strong>Modulo EM231</strong><br /> Para la captaci&oacute;n confortable de temperaturas con una alta precisi&oacute;n.</p>
                <ul>
                <li>Aplicables 7 tipos de termopares convencionales.</li>
                <li>Tambi&eacute;n para la medici&oacute;n de se&ntilde;ales anal&oacute;gicos de nivel bajo (0.80 mV)</li>
                <li>Reequipable f&aacute;cilmente en la instalaci&oacute;n existente.</li>
                </ul>

      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example18.jpg" width="350px" height="350px" alt="">
                   
                
               
                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
 
