<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Pantallas Gráficas SIMATIC HMI </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Pantallas Gráficas SIMATIC HMI  </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example19.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">Pantallas Gráficas SIMATIC HMI
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
       <p>La pantalla gr&aacute;fica ofrece una presentaci&oacute;n gr&aacute;fica del proceso, por ejemplo, con mapas de bits o gr&aacute;ficos de barras. Para &oacute;ptima legibilidad, incluso a gran distancia, puede cambiarse el tama&ntilde;o de los textos.</p>
</dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>
 	<p>Para identificar las teclas de funci&oacute;n pueden usarse gr&aacute;ficos en lugar de textos. Esto permite interfaces de usuario m&aacute;s intuitivas y ahorra gastos de traducci&oacute;n.</p>
                <p><strong>Conexi&oacute;n al PLC</strong><br /> Los OP 73 y OP 77A son compatibles con los SIMATIC S7-200/-300/-400.<br /> Para el SIMATIC S7-200 existe una variante especial: OP 73micro. El OP 77B ofrece drivers para la conexi&oacute;n a los PLCs m&aacute;s diversos. Las interfaces necesarias ya est&aacute;n integradas.</p>
                <p><strong>Configuraci&oacute;n, muy sencilla con SIMATIC WinCC flexible</strong><br /> Los OP73/OP77A y OP77B forma parte de una l&iacute;nea de paneles completa y homog&eacute;nea de SIMATIC HMI, que se configura con el software de ingenier&iacute;a SIMATIC WinCC flexible. Pueden configurarse incluso con el paquete m&aacute;s econ&oacute;mico: WinCC flexible Compact.</p>
                <p>En base a la innovadora herramienta de ingenier&iacute;a WinCC flexible, los paneles de operador ofrecen potentes prestaciones como, por ejemplo, avisos anal&oacute;gicos (s&oacute;lo el OP 77B), sistema de alarmas, 5 idiomas online, ideogramas asi&aacute;ticos y mucho m&aacute;s.</p>
                <p>Con WinCC flexible y el OP 77B se pueden configurar libremente informes y editar de antemano registros de recetas. Una amplia librer&iacute;a de gr&aacute;ficos con im&aacute;genes predeterminadas garantiza la edici&oacute;n r&aacute;pida de im&aacute;genes.</p>
                <p>Los proyectos para OP3/OP7 ya existentes pueden migrarse en WinCC flexible para su aplicaci&oacute;n en OP 73/OP 77. De este modo se preserva la ingenier&iacute;a ya realizada.</p>
                <p>En OP 77B, adem&aacute;s: Manipulaci&oacute;n de datos sencilla. Usando una tarjeta de memoria (MMC) convencional puede aumentarse considerablemente la memoria disponible para datos de recetas y backup de proyectos en el OP 77B.</p>
                <p>Como las recetas se guardan en un formato est&aacute;ndar (CSV), esto permite editarlas despu&eacute;s en el PC, por ejemplo, con MS Excel. La posibilidad de hacer una copia de seguridad y de recuperar (backup / restore) todo el proyecto OP hace que el intercambio de datos, por ejemplo para el servicio t&eacute;cnico, resulte de lo m&aacute;s sencillo.</p>
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>