<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Miniautómata LOGO! </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Miniautómata LOGO! </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div><img aling="middle" src="../img/productos-electricos/example20.png"></a></div>

</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
	<h3 class="title mb-3"> Miniautómata LOGO! </h3>

<dl>
  <dt>Descripcion</dt>
  <dd>

  <p>Sinopsis la soluci&oacute;n compacta, f&aacute;cil de usar y econ&oacute;mica para tareas de mando simples compacto, f&aacute;cil de manejar, de aplicaci&oacute;n universal sin necesidad de accesorios &ldquo;Todo en uno&rdquo;: pantalla y teclado integrado bastan un par de pulsaciones para combinar 29 funciones diferentes; en total hasta 56 veces cambios de funciones con s&oacute;lo pulsar una tecla; [&hellip;]</p>

  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 

<style> 
 strong {
	 color:black;
 }

</style>

<article class="card mt-3">
	<div class="card-body">
    <h4>Descripcion detallada </h4>
                  
    <h4> Modelos disponibles </h4>   
            <div class="item">
        <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-plc-logo.png">
        <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-plc-logo.png" data-src="img/productos-electricos/tablas/tabla-plc-logo.png" alt="">
                                  </a>
                                </div>

          		<p><strong>Sinopsis</strong></p>
             
                <li>la soluci&oacute;n compacta, f&aacute;cil de usar y econ&oacute;mica para tareas de mando simples</li>
                <li>compacto, f&aacute;cil de manejar, de aplicaci&oacute;n universal sin necesidad de accesorios</li>
                <li>&ldquo;Todo en uno&rdquo;: pantalla y teclado integrado</li>
                <li>bastan un par de pulsaciones para combinar 29 funciones diferentes; en total hasta 56 veces</li>
                <li>cambios de funciones con s&oacute;lo pulsar una tecla; se prescinde del recableado costoso.</li>
              
                <p><strong>Campo de aplicaci&oacute;n</strong><br /> El m&oacute;dulo l&oacute;gico LOGO! es la soluci&oacute;n compacta f&aacute;cil de usar y econ&oacute;mica para tareas de mando simples. LOGO! es de aplicaci&oacute;n universal, por ejemplo:</p>
               
                <li>instalaciones dom&eacute;sticas (iluminaciones, persianas, toldos, portales, control de entrada, barreras, instalaciones de aire condicionado&hellip;)</li>
                <li>cuadros/tableros el&eacute;ctricos</li>
                <li>maquinaria y equipos (bombas, prensas peque&ntilde;as, compresores&hellip;)</li>
                <li>control especial para invernaderos dom&eacute;sticos e industriales</li>
                <li>nav&iacute;os; homologaciones concedidas por (variantes AS-Interface en preparaci&oacute;n):- American Bureau of Shipping<br /> &ndash; Bureau Veritas<br /> &ndash; Des Norske Veritas<br /> &ndash; Germanischer Lloyd<br /> &ndash; Lloyds Register of Shipping</li>
                <li>preprocesamiento de se&ntilde;ales para otros controles.</li>
               
                <p><strong>Caracter&iacute;sticas</strong><br /> LOGO! es simple:</p>
                
                <li>teclado y visualizador en un aparato; no se precisa otros auxiliares</li>
                <li>funciones b&aacute;sicas integradas; (por ejemplo. Y, O) funciones especiales (por ejemplo,. rel&eacute; de autorretenci&oacute;n) t&iacute;picas de la electrotecnia.</li>
                <li>creaci&oacute;n del programa por simple combinaci&oacute;n, pulsando teclas, de las funciones integradas.</li>
                <li>memorizaci&oacute;n no vol&aacute;til del programa y de valores (por ejemplo, temporizaciones) gracias a EEPROM integrada.</li>
                <li>f&aacute;cil y simple duplicaci&oacute;n del programa a trav&eacute;s de un m&oacute;dulo de programa opcional.</li>
                <li>LOGO! ocupa poco lugar: por ejemplo, LOGO! 230RC: 72 x 90 x 55mm (A x A x P). Tama&ntilde;o apto para cajas de distribuci&oacute;n (mismo ancho y alto que un diferencial).</li>
                <li>de adaptaci&oacute;n flexible gracias a reconfiguraci&oacute;n de funciones pulsando teclas; reemplaza tediosos recableados.</li>
                <li>manejo opcional desde una PC; creaci&oacute;n, simulaci&oacute;n y archivo de programa desde PC, incluso posibilidad de documentaci&oacute;n.</li>
           
                <p><strong>LOGO! puede comunicarse:</strong></p>
              
                <li>variantes con conexi&oacute;n interface AS (esclavo)</li>
               
                <p><strong>Composici&oacute;n</strong><br /> Ofrece diferentes variantes para las tensiones de alimentaci&oacute;n m&aacute;s diversas (12 V DC, 24 V DC; AC 115/230 V):</p>
                
                <li>variantes b&aacute;sicas</li>
                <li>variantes L con entradas/salidas adicionales</li>
                <li>variante L con capacidad de comunicaci&oacute;n por puerto AS-Interface</li>
               
 
             
                </div>                                                 
              </div>                
            </div>

            </article>
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>