<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> PLC SIMATIC S7-200 </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> PLC SIMATIC S7-200  </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div><img aling="middle" src="../img/productos-electricos/example18.jpg"></a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">PLC SIMATIC S7-200 
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
            <p>Hasta ahora el SIMATIC se le ha llamado control programable o PLC. Ahora se presenta bajo el nombre de &ldquo;Totally Integrated Automation&rdquo; SIMATIC, que es la Integraci&oacute;n Total en Automatizaci&oacute;n.</p>
</dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<style> 
 strong {
	 color:black;
 }

</style>

<article class="card mt-3">
	<div class="card-body">
    <h4>Descripcion detallada </h4>
                  
    <h4> Modelos disponibles </h4>   
            <div class="item">
        <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-plc-s7200.png">
        <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-plc-s7200.png" data-src="img/productos-electricos/tablas/tabla-plc-s7200.png" alt="">
                                  </a>
                                </div>

 	<p><strong>Caracter&iacute;sticas</strong></p>
                
                <li>El micro-PLC para el m&aacute;ximo efecto de automatizaci&oacute;n al m&iacute;nimo coste.</li>
                <li>Montaje, programaci&oacute;n y uso particularmente f&aacute;ciles.</li>
                <li>De alta escala de integraci&oacute;n, requiere poco espacio, potente.</li>
                <li>Aplicable tanto para los controles m&aacute;s simples como tambi&eacute;n para tareas complejas de automatizaci&oacute;n.</li>
                <li>Aplicable aislado, interconectado en red o en configuraciones descentralizadas.</li>
                <li>El PLC tambi&eacute;n para campos donde, por motivos econ&oacute;micos, no se aplicaban hasta ahora aut&oacute;matas programables.</li>
                <li>Con destacadas prestaciones de tiempo real y potentes posibilidades de comunicaci&oacute;n (PPI, PROFIBUS-DP, AS-Interface).</li>
            
                <p><strong>CPU 221<br /> </strong></p>
                
                <li>La soluci&oacute;n compacta inteligente.</li>
                <li>Con 10 entradas/salidas a bordo.</li>
                <li>No ampliables.</li>
            
                <p><strong>CPU 222</strong></p>
               
                <li>La soluci&oacute;n compacta m&aacute;s elegante.</li>
                <li>Con 14 entradas/salidas a bordo.</li>
                <li>Ampliable con hasta un m&aacute;x de 2 m&oacute;dulos de ampliaci&oacute;n.</li>
             
                <p><strong>CPU 224</strong></p>
               
                <li>La CPU compacta de alto rendimiento.</li>
                <li>Con 24 entradas/salidas a bordo.</li>
                <li>Ampliable con hasta un m&aacute;x de 7 m&oacute;dulos de ampliaci&oacute;n.</li>
              
                <p><strong>CPU 224XP</strong></p>
               
                <li>La CPU de lata potancia.</li>
                <li>Con 24 entradas/salidas digitales y 3 anal&oacute;gicas integradas.</li>
                <li>Ampliable con hasta un m&aacute;x. de 7 m&oacute;dulos de ampliaci&oacute;n.</li>
              
                <p><strong>CPU 226</strong></p>
               
                <li>El m&aacute;s potente para ejecutar tareas t&eacute;cnicas de envergadura</li>
                <li>Con puerto PPI adicional que proporciona m&aacute;s flexibilidad Y posibilidades de comunicaci&oacute;n. Con 40 entradas/salidas a bordo. Ampliable con m&aacute;x. 7 m&oacute;dulos de ampliaci&oacute;n.</li>
           
                <p><strong>M&oacute;dulos digitales</strong><br /> Entradas/salidas digitales para complementar la periferia integrada de las CPUs.<br /> Para adaptar flexiblemente el aut&oacute;mata a la tarea respectiva.<br /> Para ampliar posteriormente la instalaci&oacute;n con entradas/salidas adicionales.</p>
                <p><strong>M&oacute;dulo de entrada digital SIPLUS EM 221<br /> </strong>(rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
               
                <li>8 entradas, 24 V DC, con aislamiento galv&aacute;nico, tipo p/m A) 6AG1 221-1BF22-2XB0.</li>
                <li>16 entradas, 24 V DC, con aislamiento galv&aacute;nico, tipo p/m A).</li>
               
                <p><strong>M&oacute;dulo de salida digital SIPLUS EM 222</strong><br /> (rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
               
                <li>8 salidas, 24 V DC; 0,75 A, con aislamiento galv&aacute;nico A) 6AG1 222-1BF22-2XB0.</li>
                <li>8 salidas, 24 V DC/ 24 a 230 V AC; 2 A, con aislamiento galv&aacute;nico, salidas de rel&eacute; A).</li>
                
                <p><strong>M&oacute;dulo de entrada/salida digital SIPLUS EM 223</strong><br /> (rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
                
                <li>4 entradas 24 V DC, 4 salidas 24 V DC; 0,75 A, con aislamiento galv&aacute;nico<br /> A) 6AG1 223-1BF22-2XB0</li>
                <li>8 entradas, 24 V DC, 8 salidas, 24 V DC; 0,75 A, con aislamiento galv&aacute;nico<br /> A) 6AG1 223-1BH22-2XB0</li>
                <li>16 entradas, 24 V DC, 16 salidas, 24 V DC; 0,75 A, con aislamiento galv&aacute;nico A) 6AG1 223-1BL22-2XB0</li>
                
                <p><strong>M&oacute;dulo de entrada/salida digital SIPLUS EM 223</strong><br /> (rango de temperatura ampliado) para CPU 222/224/224 XP/226</p>
              
                <li>4 entradas 24 V DC, 4 salidas, rel&eacute;s<br /> A) 6AG1 223-1HF22-2XB0</li>
                <li>8 entradas 24 V DC, 8 salidas, rel&eacute;s<br /> A)6AG1 223-1PH22-2XB0</li>
                <li>16 entradas 24 V DC, 16 salidas, rel&eacute;s</li>
                
                <p><strong>M&oacute;dulos anal&oacute;gicos</strong></p>
                
                <li>Entradas/salidas anal&oacute;gicas para SIMATIC S7-200.</li>
                <li>Con tiempos de conversi&oacute;n extremadamente cortos.</li>
                <li>Para conectar, sensores anal&oacute;gicos y actuadores sin necesidad de amplificador adicional.</li>
                <li>Para solucionar incluso tareas de automatizaci&oacute;n complejas.</li>
               
                <p><strong>Modulo EM231</strong><br /> Para la captaci&oacute;n confortable de temperaturas con una alta precisi&oacute;n.</p>
                
                <li>Aplicables 7 tipos de termopares convencionales.</li>
                <li>Tambi&eacute;n para la medici&oacute;n de se&ntilde;ales anal&oacute;gicos de nivel bajo (0.80 mV)</li>
                <li>Reequipable f&aacute;cilmente en la instalaci&oacute;n existente.</li>
               
</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>