<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> PLC SIMATIC S7-300 </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> PLC SIMATIC S7-300 </li>
</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >
    <div>
        <img aling="middle" src="../img/productos-electricos/example17.jpg">
    </a></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">

	<h3 class="title mb-3">PLC SIMATIC S7-300
	</h3>


<dl>
  <dt>Descripcion</dt>
  <dd>
                <p>Hasta ahora el SIMATIC se le ha llamado control programable o PLC. Ahora se presenta bajo el nombre de &ldquo;Totally Integrated Automation&rdquo; SIMATIC, que es la Integraci&oacute;n Total en Automatizaci&oacute;n.</p>
</dd>
</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>
     	<p><strong>Caracter&iacute;sticas</strong></p>
                <ul>
                <li>El sistema de miniaut&oacute;matas modulares para las gamas baja y media.</li>
                <li>Con una amplia gama de m&oacute;dulos para una adaptaci&oacute;n &oacute;ptima a la tarea de automatizaci&oacute;n en particular.</li>
                <li>De aplicaci&oacute;n flexible gracias a la posibilidad de realizar estructuras descentralizadas e interconexiones por red.</li>
                <li>C&oacute;modo de aplicar gracias a su facilidad de uso y a su instalaci&oacute;n simple y sin necesidad de ventilaci&oacute;n.</li>
                <li>Ampliable sin problemas en el caso de que aumenten las tareas.</li>
                <li>Potente gracias a la gran cantidad de funciones integradas</li>
                </ul>
                <p><strong>Caracter&iacute;siticas de la CPU</strong></p>
                <ul>
                <li>La CPU de seguridad con gran memoria de programa y capacidad funcional para aplicaciones sofisticadas.</li>
                <li>Para configurar un sistema de automatizaci&oacute;n de seguridad positiva para instalaciones con altos requisitos de seguridad.</li>
                <li>Conforme a los requisitos de seguridad hasta SIL 3 seg&uacute;n IEC 61508, AK6 conforme a DIN V 19250 y cat. 4 seg&uacute;n EN 954-1.</li>
                <li>No requiere un cableado adicional de la periferia orientada a la seguridad.</li>
                <li>1 interfaz maestro/esclavo PROFIBUS DP y 1 interfaz DP maestro/esclavo/MPI.</li>
                <li>Ambos interfaces utilizables para la conexi&oacute;n de m&oacute;dulos de seguridad.</li>
                <li>M&oacute;dulos perif&eacute;ricos de seguridad de ET 200S PROFIsafe conectables de forma descentralizada. M&oacute;dulos perif&eacute;ricos de seguridad de ET 200M conectables de forma centralizada y descentralizada.</li>
                <li>M&oacute;dulos est&aacute;ndar para aplicaciones no de seguridad utilizables de forma centralizada y descentralizada.</li>
                </ul>
                <p><strong>CPU 312C</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales.</li>
                <li>Para peque&ntilde;as aplicaciones que exigen gran capacidad de procesamiento.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                </ul>
                <p><strong>CPU 313C</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales y anal&oacute;gicas integradas.</li>
                <li>Para sistemas que requieren gran velocidad de procesamiento y breves tiempos de reacci&oacute;n.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                </ul>
                <p><strong>CPU 313C-2 PtP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales integradas y un segundo puerto serie.</li>
                <li>Para sistemas que requieren gran velocidad de procesamiento y de reacci&oacute;n.</li>
                <li>Con funciones tecnol&oacute;gicas</li>
                </ul>
                <p><strong>CPU 313C-2 DP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales integradas y un puerto PROFIBUS-DP maestro/esclavo.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                <li>Para tareas con funciones especiales.</li>
                <li>Para conectar periferia distribuida.</li>
                </ul>
                <p><strong>CPU 314C-2 PtP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales y anal&oacute;gicas integradas y un segundo puerto serie.</li>
                <li>Para sistemas que requieren gran velocidad de procesamiento y de reacci&oacute;n.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                </ul>
                <p><strong>CPU 314C-2 DP</strong></p>
                <ul>
                <li>La CPU compacta con entradas y salidas digitales y anal&oacute;gicas integradas y un puerto PROFIBUS DP maestro/esclavo.</li>
                <li>Con funciones tecnol&oacute;gicas.</li>
                <li>Para tareas con funciones especiales.</li>
                <li>Para conectar periferia distribuida.</li>
                </ul>
                <p><strong>M&oacute;dulos de entradas digitales SM321</strong></p>
                <ul>
                <li>Entradas digitales.</li>
                <li>Permite conectar contactos y detectores de proximidad a 2 hilos (BERO).</li>
                </ul>
                <p><strong>M&oacute;dulos de salidas digitales SM322</strong></p>
                <ul>
                <li>Salidas digitales.</li>
                <li>Permite conectar electrov&aacute;lvulas, contactores, peque&ntilde;os motores, l&aacute;mparas y arrancadores de motor.</li>
                </ul>
                <p><strong>M&oacute;dulos de entradas y salidas digitales SM323/SM327</strong></p>
                <ul>
                <li>Entradas y salidas digitales.</li>
                <li>Permite conectar contactos, detectores de proximidad a 2 hilos (BERO), electrov&aacute;lvulas, contactores, peque&ntilde;os.</li>
                <li>Motores, l&aacute;mparas y arrancadores de motor.</li>
                </ul>
                <p><strong>M&oacute;dulos de entradas anal&oacute;gicas SM331</strong></p>
                <ul>
                <li>Entradas anal&oacute;gicas</li>
                <li>Para conectar sensores con se&ntilde;al de tensi&oacute;n y de corriente (intensidad), termopares, resistencias y termoresistencias.</li>
                </ul>
                <p><strong>M&oacute;dulos de salidas anal&oacute;gicas SM332</strong></p>
                <ul>
                <li>Salidas anal&oacute;gicas.</li>
                <li>Para conectar actuadores anal&oacute;gicos.</li>
                </ul>

</article> 

{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 
					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>