

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li> Fuentes SITOP  </li>
        </ul>
        <h2> Fuentes SITOP  </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                <p>La l&iacute;nea SITOP de fuentes de alimentaci&oacute;n de 24Vcc principalmente, y en corrientes de 0,5 hasta 40A, est&aacute;n dise&ntilde;adas para su montaje sobre riel DIN y responden a las exigencias industriales, como condiciones de instalaci&oacute;n arduas con vibraciones, temperaturas fluctuantes y extremas, y variaciones abruptas de la tensi&oacute;n de red.</p>
          		<p><strong>Caracter&iacute;sticas</strong><br /> Las fuentes son del tipo switching, por lo que pueden regular con exactitud la corriente requerida por la carga, mantener una tensi&oacute;n de salida fija y autobloquearse ante cortocircuitos. Asimismo, la unidad de potencia se puede expandir con m&oacute;dulos de se&ntilde;alizaci&oacute;n o backup, e incluso se pueden conectar en paralelo para incrementar la potencia entregada. Otras caracter&iacute;sticas incluyen control a distancia para el reset de la fuente y salida ajustable en un +/-20%.</p>
                <p>Al estar avaladas por la mayor&iacute;a de las normativas el&eacute;ctricas mundiales, junto a su extenso rango de tensi&oacute;n de alimentaci&oacute;n, las fuentes SITOP garantizan su uso en equipamientos en cualquier parte del mundo, asegurando calidad industrial y reposici&oacute;n global. Adicionalmente, Siemens dispone de productos complementarios en 24Vcc como dispositivos de selectividad y sistemas UPS.</p>
                <p><strong>La nueva generaci&oacute;n de fuentes SITOP</strong><br /> M&aacute;s de un mill&oacute;n de fuentes de poder SITOP se han vendido alrededor del mundo y c&oacute;mo consecuencia se ha creado una nueva generaci&oacute;n de fuentes de poder con mayores prestaciones y m&aacute;s compactas, Ahora su construcci&oacute;n es tan robusta que es posible utilizar la misma fuente en Am&eacute;rica, Europa, Asia o en cualquier parte del mundo.</p>
                <p>Se ha reducido el volumen y el peso hasta en un 50% de manera que usted disponga de m&aacute;s espacio en su aplicaci&oacute;n, y ahorre en costos de transportaci&oacute;n.<br /> El sistema de montaje quita-pon en un riel DIN de 35mm &oacute; sujeci&oacute;n fija por tornillo, complementa las ventajas de nuestras fuentes de poder.</p>
                <div class="widget" data-effect="slide-bottom">
                        
                    <h5 class="title"><i class=""></i> Modelos disponibles </h5>
                    <ul class="check">
                <ul>
                <li>FUENTE MONOF. MOD. 120/230-500VCA 5AMP 6ED1333-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230-500VCA 10AMP 6ED1334-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230 20AMP 6ED1336-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230-500VCA 40AMP 6ED1337-3BA00</li>
                <li>FUENTE TRIF. MOD. 3X400 20AMP MOD 6EP14363BA00</li>
                <li>FUENTE TRIF. MOD. 3X400 40AMP MOD 6EP14373BA00</li>
                </ul>
        </div>
      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example21.jpg" width="350px" height="350px" alt="">
                   
                
               
                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
 
