<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> MaxPower Industrial Automation </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">

  <link href="css/products/font-awesome.min.css" rel="stylesheet">
  <link href="css/products/bootstrap.min.css" rel="stylesheet">  
  <link href="css/products/products.css" rel="stylesheet">     

  

</head>
 <body> 

    <!--================Categories Product Area =================-->
    <section class="categories_product_main p_80">
            <div class="container">
                <div class="categories_main_inner">
                    <div class="row row_disable">
                        <div class="col-lg-9 float-md-right">
                            <div class="categories_product_area">
                                <div class="row">
                                       <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example0.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="arrancadores-suaves-1">Ver Producto</a></li>
                                                </ul>
                                                <h4>Arrancadores Suaves</h4>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example1.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4>Arranque Suave Altistar 01</h4>     
                                            </div>
                                        </div>
                                    </div>

                                      <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example4.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4>Arranque Suave Altistar 48</h4>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example2.png" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4>Arranque Suave Estandar Sirius3RW44</h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example3.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4>Arranque Suave Estandar Sirius3RW30</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example5.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Contactores A-Line </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example6.jpg" alt="">           
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Contactores de Vacio S10,S12,S14 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example7.png" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4>Contactores tripolares 3RT</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example8.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4>Contactores tripolares 3RT Mini</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>



                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example9.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4>Contactores Serie F</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example10.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4>Contactores Serie D</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>



                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example11.jpeg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4>Contactor Telemecanique</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example12a.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Minicontactores Telemecanique  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Espacio entre productos -->
                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item_space">
                                        </div>
                                     </div>
                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item_space">
                                        </div>
                                     </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/ACS150.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Convertidores de frecuencia ACS150  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/ACS355.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Convertidores de frecuencia ACS355  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/ACS880.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Convertidores de frecuencia ACS880  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                       <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example12.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="guardamotor-1">Ver Producto</a></li>
                                                </ul>
                                                <h4> Guardamotores MS </h4>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example13.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Gaurdamotores Telemcanique GV </h4>     
                                            </div>
                                        </div>
                                    </div>

                                      <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example14.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Gaurdamotores 3RV</h4>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example22.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Interruptores diferenciales </h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example23.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Interruptores TMax </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example24.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Interruptores Termomagneticos </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example25.jpg" alt="">           
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Interruptores Sace Emax 2 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example26.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Interruptores Automaticos Merlin-Gerin </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example27.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Interruptor Manual 3LD2 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>



                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example28.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Interruptores Compactos Sentron </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example29.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Seccionadores Tripolares 3NP4 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>



                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example30.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Interruptor de Posicion SIGUARD </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example31.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Interruptores Termomagneticos  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example15.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Motor de aplicacion en Hierro fundido  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Espacio entre productos -->
                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item_space">
                                        </div>
                                     </div>

                                       <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example16.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="">Ver Producto</a></li>
                                                </ul>
                                                <h4> PLC Zeilo Logic - Reles programables </h4>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example17.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> PLC Simatic S7-300 </h4>     
                                            </div>
                                        </div>
                                    </div>

                                      <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example18.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> PLC Simatic S7-200 </h4>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example19.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Pantallas Graficas SIMATIC-HMI </h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example20.png" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Miniautomata LOGO! </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example21.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Fuentes SITOP </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example33.jpg" alt="">           
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Variador ATV21 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example34.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Variador ATV312</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example35.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Variador ATV12 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>



                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example36.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Variadores Process ATV600 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Espacio entre productos -->
                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item_space">
                                        </div>
                                     </div>
                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item_space">
                                        </div>
                                     </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example39.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Variadores SINAMICS G110 </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>



                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example38.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Variadores MICROMASTER 430  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electricos/example39.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Variadores MICROMASTER 420  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                              
                            </div>
                        </div>


                                  <!-- CATEGORIAS -->


                      <div class="col-lg-3 float-md-right">
                            <div class="categories_sidebar">
                                <aside class="l_widgest l_menufacture_widget">
                                    <div class="l_w_title">
                                        <h3>Categorias</h3>
                                    </div>
                                    <ul>
                                        <li><a href="#">Arrancadores Suaves</a></li>
                                        <li><a href="#">Contactores</a></li>
                                        <li><a href="#">Convertidores de frecuencia</a></li> 
                                        <li><a href="#">Guardamotor </a></li>   
                                        <li><a href="#">Interruptores en caja moldeada </a></li>                  
                                        <li><a href="#">Motores </a></li>
                                        <li><a href="#">Variadores </a></li>
                                    </ul>
                                </aside>
                               

                                <!-- 
                                <aside class="l_widgest l_fillter_widget">
                                    <div class="l_w_title">
                                        <h3>Filter section</h3>
                                    </div>
                                    <div id="slider-range" class="ui_slider"></div>
                                    <label for="amount">Price:</label>
                                    <input type="text" id="amount" readonly>
                                </aside>
                            -->

                                <aside class="l_widgest l_menufacture_widget">
                                    <div class="l_w_title">
                                        <h3>Fabricantes</h3>
                                    </div>
                                    <ul>
                                        <li><a href="products-1.html">ABB</a></li>
                                        <li><a href="#">Schneider Electric</a></li>
                                        <li><a href="#">Siemens</a></li>                      
                                    </ul>
                                </aside>




                                        <!-- NUEVOS PRODUCTOS -->


                                <aside class="l_widgest l_feature_widget">
                                    <div class="l_w_title">
                                        <h3>Nuevos productos</h3>
                                    </div>
                                    <div class="media">
                                        <!-- 
                                        <div class="d-flex">
                                            <img src="img/product/featured-product/" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Jeans with <br /> Frayed Hems</h4>
                                            <h5>$45.05</h5>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/product/featured-product/" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Crysp Denim<br />Montana</h4>
                                            <h5>$45.05</h5>
                                        </div>
                                        -->
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product Area =================-->
         

        <script src="js/products/jquery-3.2.1.min.js"></script>
        <script src="js/products/popper.min.js"></script>
        <script src="js/products/bootstrap.min.js"></script> 

 </body>
 </html>   