 <!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> MaxPower Industrial Automation </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">

  <link href="css/products/font-awesome.min.css" rel="stylesheet">
  <link href="css/products/bootstrap.min.css" rel="stylesheet">  
  <link href="css/products/products.css" rel="stylesheet">     

  

</head>
 <body> 

<!-- 
 <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Productos eléctricos </li>
        </ul>
        <h2> Productos eléctricos </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search 
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="" placeholder="Search..."  onkeypress="search(event)" onfocus="showList(true)" onfocusout="showList(false)" onkeydown="search(event)"/>
              <!--CAMBIAR!!!!!<div id="list"></div>
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar 

      </div>
    </div>
  </section>
-->

 <section class="categories_product_main p_80">
            <div class="container">
                <div class="categories_main_inner">
                    <div class="row row_disable">
                        <div class="col-lg-9 float-md-right">
                            <div class="showing_fillter">
                                <div class="row m0">
                                    <!-- 
                                    <div class="first_fillter">
                                        <h4>Showing 1 to 12 of 30 total</h4>
                                    </div>
                                    <div class="secand_fillter">
                                        <h4>SORT BY :</h4>
                                        <select class="selectpicker">
                                            <option>ABB</option>
                                            <option>Schneider Electric</option>
                                            <option>Siemens</option>
                                        </select>
                                    </div>
                                    <div class="third_fillter">
                                        <h4>Show : </h4>
                                        <select class="selectpicker">
                                            <option>15</option>
                                            <option>30</option>
                                            <option>60</option>
                                        </select>
                                    </div>
                                    <div class="four_fillter">
                                        <h4>View</h4>
                                        <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                                        <a href="#"><i class="icon_grid-3x3"></i></a>
                                    </div>
                                -->
                                </div>
                            </div>

                            <div class="categories_product_area">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example01.jpeg" alt="">
                                                <h5 class="discount">Descuento</h5>
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="">Ver Producto</a></li>
                                                </ul>
                                                <h4>Capacitores electrolíticos</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example02.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4>Controladores de lazo 4-20 mA </h4>     
                                            </div>
                                        </div>
                                    </div>

                                      <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example03.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4>Diodos rectificadores</h4>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example04.jpg" alt="">
                                                <h5 class="outstanding">Destacado</h5>
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Fusibles ultra-rápidos </h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example05.jpg" alt="">
                                                <h5 class="new">Nuevo</h5>
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Fusible ultra-rápido Serie 170M </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example06.png" alt="">
                                                <h5 class="new">Nuevo</h5>
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Interruptor termico 8GDB1-35A </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example07.jpg" alt="">           
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Puentes de diodos </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example08.jpg" alt="">
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>
                                                <h4> Relays electromecánicos </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example09.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Relays de estado sólido </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example10.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores capacitivos </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example11.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores de posición </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example12.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores de presión </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example13.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores de proximidad COMUS   </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example14.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores de ultrasonido </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example15.png" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores inductivos  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example16.png" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores magnéticos  </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example17.jpeg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sensores de vacío </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>                                    

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example18.png" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Tiristores (SCR)</h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>    

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example99.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Sopladores para AC y DC </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>    

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example100.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Termostatos bimetálicos </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>    

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example101.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Transistores IGBT </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>   

                                     <div class="col-lg-4 col-sm-6">
                                        <div class="l_product_item">
                                            <div class="l_p_img">
                                                <img src="img/productos-electronicos/example102.jpg" alt="">               
                                            </div>
                                            <div class="l_p_text">
                                               <ul>
                                                    <li><a class="view_product_btn" href="#">Ver Producto</a></li>
                                                </ul>    
                                                <h4> Ventiladores Industriales </h4>
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>   



                                    <!-- FIN DE LOS PRODUCTOS LISTADOS -->
                                    
                                </div>

                                  <!-- NAVEGADOR -->

                                <nav aria-label="Page navigation example" class="pagination_area">
                                  <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                  </ul>
                                </nav>
                            </div>
                        </div>


                                  <!-- CATEGORIAS -->


                        <div class="col-lg-3 float-md-right">
                            <div class="categories_sidebar">
                                <aside class="l_widgest l_p_categories_widget">
                                    <div class="l_w_title">
                                        <h3>Categorias</h3>
                                    </div>
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="">Capacitores electroliticos
                                                <i class="icon_plus" aria-hidden="true"></i>
                                            <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Controladores de Lazo 4-20 mA
                                            <i class="icon_plus" aria-hidden="true"></i>
                                            <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Diodos rectificadores
                                                <i class="icon_plus" aria-hidden="true"></i>
                                            <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Fusibles ultra-rapidos
                                                <i class="icon_plus" aria-hidden="true"></i>
                                            <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="nav-item"><a class="nav-link" href="#">Fusible ultra-rapido Serie 170M</a></li>   
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Interruptor termico 8GDB1-35A
                                                <i class="icon_plus" aria-hidden="true"></i>
                                                <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Puentes de diodos
                                                <i class="icon_plus" aria-hidden="true"></i>
                                                <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Relays electromecánicos
                                                <i class="icon_plus" aria-hidden="true"></i>
                                                <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Relays de estado solido
                                                <i class="icon_plus" aria-hidden="true"></i>
                                                <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Sensores
                                                <i class="icon_plus" aria-hidden="true"></i>
                                                <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="nav-item"><a class="nav-link" href="#"> Sensores capacitivos </a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"> Sensores de posicion  </a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"> Sensores de presion  </a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"> Sensores de proximidad COMUS </a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"> Sensores de ultrasonido  </a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"> Sensores magneticos </a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"> Sensores de vacio  </a></li>
                                            </ul>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Tiristores (SCR)
                                               <i class="icon_plus" aria-hidden="true"></i>
                                               <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Sopladores para AC y DC
                                               <i class="icon_plus" aria-hidden="true"></i>
                                               <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Termostatos bimetalicos
                                               <i class="icon_plus" aria-hidden="true"></i>
                                               <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Transistores IGBT
                                               <i class="icon_plus" aria-hidden="true"></i>
                                               <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Ventiladores Industriales
                                               <i class="icon_plus" aria-hidden="true"></i>
                                               <i class="icon_minus-06" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </aside>



                                <!-- 
                                <aside class="l_widgest l_fillter_widget">
                                    <div class="l_w_title">
                                        <h3>Filter section</h3>
                                    </div>
                                    <div id="slider-range" class="ui_slider"></div>
                                    <label for="amount">Price:</label>
                                    <input type="text" id="amount" readonly>
                                </aside>
                            -->


                                       <!-- FABRICANTE-->

                                <aside class="l_widgest l_menufacture_widget">
                                    <div class="l_w_title">
                                        <h3>Fabricantes</h3>
                                    </div>
  
                                </aside>


                                        <!-- NUEVOS PRODUCTOS -->


                                <aside class="l_widgest l_feature_widget">
                                    <div class="l_w_title">
                                        <h3>Nuevos productos</h3>
                                    </div>
                                    <div class="media">
                                        <!-- 
                                        <div class="d-flex">
                                            <img src="img/product/featured-product/" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Jeans with <br /> Frayed Hems</h4>
                                            <h5>$45.05</h5>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/product/featured-product/" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Crysp Denim<br />Montana</h4>
                                            <h5>$45.05</h5>
                                        </div>
                                        -->
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="js/products/jquery-3.2.1.min.js"></script>
        <script src="js/products/popper.min.js"></script>
        <script src="js/products/bootstrap.min.js"></script> 

 </body>
 </html>   