<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Productos </li>
        </ul>
        <h2> Productos por categoria </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
      </div>
    </div>
  </section>

<section id="home">
		<div class="overlay">
			<div class="flexslider">
				<ul class="slides">
					<li> 
						<img src="img/slider/14.jpg">
						<div class="slider-caption">
							<div class="maxpower_homewrapper">            
								<h3 class="wow bounceIn"><span>MaxPower</span> Industrial Automation</h3>
                 <a class="btn" href="/productos" method="get"> Productos </a>
              </div>			
        		</div>
					</li>
        </ul>
     </div>
   </div>
</section>

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">   
      <div class="general-title text-center">
          <h3> Productos por categoría </h3>
          <p> Nuestros productos se categorizan en 3 distintas areas:</p>
          <hr>
        </div>

        <div class="category_products">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-left">
                <a href="productos-electricos" method="get" class=""> <i class="dm-icon fa fa-sliders fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4>Productos Eléctricos </h4>
              </div>
              <p></p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="productos-electronicos" method="get" class=""> <i class="dm-icon fa fa-microchip fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4>Productos Electrónicos</h4>   
              </div>
              <p></p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="productos-seguridad" method="get" class=""> <i class="dm-icon fa fa-shield fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4>Productos de Seg. Industrial</h4>    
              </div>
              <p></p>
            </div>
          </div>
        </div>

      
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-left">
                <a href="contact" method="get" class=""> <i class="dm-icon fa fa-phone fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4> Contactanos </h4>
              </div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
  </section>
