 <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Productos eléctricos </li>
        </ul>
        <h2> Productos eléctricos </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="" placeholder="Search..."  onkeypress="search(event)" onfocus="showList(true)" onfocusout="showList(false)" onkeydown="search(event)"/>
              <!--CAMBIAR!!!!!--><div id="list"></div>
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->

      </div>
    </div>
  </section>
  

  <section class="section1">
    <div class="container clearfix">
      <div class=" col-lg-12 col-md-12 col-sm-12 clearfix">

        <div class="divider"></div>

        <nav class="portfolio-filter clearfix">
          <ul>
            <li><a href="#" class="dmbutton2" data-filter="*"> Todos </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".abb"> ABB </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".scheneider-electric"> Schneider Electric </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".siemens"> Siemens </a></li>
          </ul>
        </nav>

        <div class="portfolio-centered">
          <div class="recentitems portfolio">


            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-electricos/example0.jpg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Arrancadores Suaves ABB </h3>
                    <a href="arrancadores-suaves-1" method="get" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Arrancadores Suaves </h3>
              <p> Descripción producto </p>
            </div>

        <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
          <div class="he-wrap tpl6 market-item">
            <img src="img/productos-electricos/example1.JPG " alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="big a1" data-animate="fadeInDown"> AS Altistar 01 </h3>
                <a href="arrancadores-suaves-2" method="get" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                <div class="portfolio_category text-center a2" data-animate="fadeIn">
                </div>
           </div>
         </div>
      </div>
      <h3 class="title"> Arranque Suave Altistar 01 </h3>
      <p> Descripción prducto </p>
    </div>

    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
      <div class="he-wrap tpl6 market-item">
        <img src="img/productos-electricos/example4.JPG " alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="big a1" data-animate="fadeInDown"> AS Altistar 48 </h3>
            <a href="arrancadores-suaves-3" method="get" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
            <div class="portfolio_category text-center a2" data-animate="fadeIn">
            </div>
       </div>
     </div>
  </div>
  <h3 class="title"> Arranque Suave Altistar 48 </h3>
  <p> Descripción prducto </p>
</div>

    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
        <div class="he-wrap tpl6 market-item">
          <img src="img/productos-electricos/example2.png" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="big a1" data-animate="fadeInDown"> SIRIUS 3RW44  </h3>
              <a href="arrancadores-suaves-4" method="get" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
              <div class="portfolio_category text-center a2" data-animate="fadeIn">
              </div>
         </div>
       </div>
    </div>
    <h3 class="title"> Arranque Suave Exigente SIRIUS 3RW44</h3>
    <p> Descripción prducto </p>
  </div>


    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
      <div class="he-wrap tpl6 market-item">
        <img src="img/productos-electricos/example3.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="big a1" data-animate="fadeInDown">Sirius3RW30</h3>
            <a href="arrancadores-suaves-5" method="get" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
            <div class="portfolio_category text-center a2" data-animate="fadeIn">
            </div>
       </div>
     </div>
  </div>
  <h3 class="title">Arranque Suave Estándar SIRIUS 3RW30</h3>
  <p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example5.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Contactores ABB </h3>
        <a href="contactores-1" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Contactores A-Line</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item"> 
    <img src="img/productos-electricos/example6.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Contactores-Vacío </h3>
        <a href="contactores-2" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Contactores de vacío </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example7.png" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Contactores-Tripolares </h3>
        <a href="contactores-3" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Contactores tripolares 3RT </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example8.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Coctactores-Tripolares Mini</h3>
        <a href="contactores-4" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Contactores tripolares 3RT Mini</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">


    <img src="img/productos-electricos/example9.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Conctactores-Serie F</h3>
        <a href="contactores-5" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Contactores Serie F</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example10.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">Contactores-Serie D</h3>
        <a href="contactores-6" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Contactores Serie D</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example11.jpeg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">Contactor-Telemecanique</h3>
        <a href="contactores-7" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Contactor Telemecanique </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example12a.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">Minicontactores-Telemecanique </h3>
        <a href="contactores-8" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Minicontactores Telemecanique </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
    <div class="he-wrap tpl6 market-item">
      <img src="img/productos-electricos/ACS150.jpg" alt="">
      <div class="he-view">
        <div class="bg a0" data-animate="fadeIn">
          <h3 class="big a1" data-animate="fadeInDown"> ACS150 </h3>
          <a href="convertidor-1" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
          <div class="portfolio_category text-center a2" data-animate="fadeIn">
          </div>
     </div>
   </div>
  </div>
  <h3 class="title"> Convertidores de frecuencia ACS150 </h3>
  <p> Descripción prducto </p>
  </div>

  <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
      <div class="he-wrap tpl6 market-item">
        <img src="img/productos-electricos/ACS355.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="big a1" data-animate="fadeInDown"> ACS355 </h3>
            <a href="convertidor-2" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
            <div class="portfolio_category text-center a2" data-animate="fadeIn">
            </div>
       </div>
     </div>
    </div>
    <h3 class="title"> Convertidores de frecuencia ACS355 </h3>
    <p> Descripción prducto </p>
    </div>

    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
        <div class="he-wrap tpl6 market-item">
          <img src="img/productos-electricos/ACS880.jpg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="big a1" data-animate="fadeInDown"> ACS880 </h3>
              <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
              <div class="portfolio_category text-center a2" data-animate="fadeIn">
              </div>
         </div>
       </div>
      </div>
      <h3 class="title"> Convertidores de frecuencia ACS880 </h3>
      <p> Descripción prducto </p>
      </div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example12.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">Guardamotores ABB</h3>
        <a href="guardamotor-1" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Guardamotores </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example13.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Telemecanique GV </h3>
        <a href="guardamotor-2" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Guardamotores Telemecanique GV</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example14.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">3RV</h3>
        <a href="guardamotor-3" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Guardamotores 3RV </h3>
<p> Descripción prducto </p>
</div>


<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example22.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Diferenciales </h3>
        <a href="interruptor-1" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Interruptores Diferenciales </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
    <div class="he-wrap tpl6 market-item">
      <img src="img/productos-electricos/example23.jpg" alt="">
      <div class="he-view">
        <div class="bg a0" data-animate="fadeIn">
          <h3 class="big a1" data-animate="fadeInDown"> TMax </h3>
          <a href="interruptor-2" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
          <div class="portfolio_category text-center a2" data-animate="fadeIn">
          </div>
     </div>
   </div>
  </div>
  <h3 class="title"> Interruptor Tmax </h3>
  <p> Descripción prducto </p>
  </div>

  <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
      <div class="he-wrap tpl6 market-item">
        <img src="img/productos-electricos/example24.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="big a1" data-animate="fadeInDown"> Termomagneticos </h3>
            <a href="interruptor-3" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
            <div class="portfolio_category text-center a2" data-animate="fadeIn">
            </div>
       </div>
     </div>
    </div>
    <h3 class="title"> Interruptores termomagnéticos </h3>
    <p> Descripción prducto </p>
    </div>

    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
        <div class="he-wrap tpl6 market-item">
          <img src="img/productos-electricos/example25.jpg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="big a1" data-animate="fadeInDown">  Sace Emax 2 </h3>
              <a href="interruptor-4" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
              <div class="portfolio_category text-center a2" data-animate="fadeIn">
              </div>
         </div>
       </div>
      </div>
      <h3 class="title">  SACE Emax 2 </h3>
      <p> Descripción prducto </p>
      </div>

      <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
          <div class="he-wrap tpl6 market-item">
            <img src="img/productos-electricos/example26.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="big a1" data-animate="fadeInDown">Interruptores Merlin-Gerin </h3>
                <a href="interruptor-5" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                <div class="portfolio_category text-center a2" data-animate="fadeIn">
                </div>
           </div>
         </div>
        </div>
        <h3 class="title"> Interruptor automático Merlin-Gerin </h3>
        <p> Descripción prducto </p>
        </div>

        <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
            <div class="he-wrap tpl6 market-item">
              <img src="img/productos-electricos/example27.jpg" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <h3 class="big a1" data-animate="fadeInDown"> 3LD2 </h3>
                  <a href="interruptor-6" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                  <div class="portfolio_category text-center a2" data-animate="fadeIn">
                  </div>
             </div>
           </div>
          </div>
          <h3 class="title"> Interruptores manuales 3LD2 </h3>
          <p> Descripción prducto </p>
          </div>

          <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-electricos/example28.jpg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Sentron </h3>
                    <a href="interruptor-7" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>
               </div>
             </div>
            </div>
            <h3 class="title"> Interruptor compacto Sentron </h3>
            <p> Descripción prducto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
                <div class="he-wrap tpl6 market-item">
                  <img src="img/productos-electricos/example29.jpg" alt="">
                  <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                      <h3 class="big a1" data-animate="fadeInDown"> Tripolares NP4 </h3>
                      <a href="interruptor-8" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                      <div class="portfolio_category text-center a2" data-animate="fadeIn">
                      </div>
                 </div>
               </div>
              </div>
              <h3 class="title"> Seccionadores tripolares 3NP4 </h3>
              <p> Descripción prducto </p>
              </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
                  <div class="he-wrap tpl6 market-item">
                    <img src="img/productos-electricos/example30.jpg" alt="">
                    <div class="he-view">
                      <div class="bg a0" data-animate="fadeIn">
                        <h3 class="big a1" data-animate="fadeInDown"> Posicion SIGUARD </h3>
                        <a href="interruptor-9" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                        <div class="portfolio_category text-center a2" data-animate="fadeIn">
                        </div>
                   </div>
                 </div>
                </div>
                <h3 class="title"> Interruptor de posición SIGUARD  </h3>
                <p> Descripción prducto </p>
                </div>

                <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
                    <div class="he-wrap tpl6 market-item">
                      <img src="img/productos-electricos/example31.jpg" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="big a1" data-animate="fadeInDown"> Termomagneticos </h3>
                          <a href="interruptor-10" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                          <div class="portfolio_category text-center a2" data-animate="fadeIn">
                          </div>
                     </div>
                   </div>
                  </div>
                  <h3 class="title"> Interruptores Termomagnéticos </h3>
                  <p> Descripción prducto </p>
                  </div>

                  <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
                    <div class="he-wrap tpl6 market-item">
                      <img src="img/productos-electricos/example15.jpg" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="big a1" data-animate="fadeInDown">Motor ABB </h3>
                          <a href="motores" method="get" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                          <div class="portfolio_category text-center a2" data-animate="fadeIn">
                          </div>
                     </div>
                   </div>
                  </div>
                  <h3 class="title"> Motor de aplicación en Hierro Fundido </h3>
                  <p> Descripción prducto </p>
                  </div>
                  

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example16.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">Zeilo Logic</h3>
        <a href="plc-1" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> PLC Zeilo logic - Relés programables</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example17.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">S7-300</h3>
        <a href="plc-2" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> PLC Simatic S7-300</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">

    <img src="img/productos-electricos/example18.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">S7-200</h3>
        <a href="plc-3" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> PLC Simatic S7-200</h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">
    <br>
    <img src="img/productos-electricos/example19.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> SIMATIC-HMI </h3>
        <a href="plc-4" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Pantallas gráficas SIMATIC-HMI </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example20.png" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Miniautomata LOGO </h3>
        <a href="plc-5" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Miniautómata LOGO </h3>
<p> Descripción prducto </p>
</div>


<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electricos/example21.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Fuentes SITOP </h3>
        <a href="plc-6" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Fuentes SITOP</h3>
<p> Descripción prducto </p>
</div>


                    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
                        <div class="he-wrap tpl6 market-item">
                          <img src="img/productos-electricos/example32.jpg" alt="">
                          <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                              <h3 class="big a1" data-animate="fadeInDown">Baja tensión </h3>
                              <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                              <div class="portfolio_category text-center a2" data-animate="fadeIn">
                              </div>
                         </div>
                       </div>
                      </div>
                      <h3 class="title"> Convertidores de frecuencia de baja tensión de CA  </h3>
                      <p> Descripción prducto </p>
                      </div>


                      <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                          <div class="he-wrap tpl6 market-item">
                            <img src="img/productos-electricos/example33.jpg" alt="">
                            <div class="he-view">
                              <div class="bg a0" data-animate="fadeIn">
                                <h3 class="big a1" data-animate="fadeInDown">ATV71</h3>
                                <a href="variador-2" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                                <div class="portfolio_category text-center a2" data-animate="fadeIn">
                                </div>
                           </div>
                         </div>
                        </div>
                        <h3 class="title"> Variador ATV71  </h3>
                        <p> Descripción prducto </p>
                        </div>
  
                        <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                            <div class="he-wrap tpl6 market-item">
                              <img src="img/productos-electricos/example34.jpg" alt="">
                              <div class="he-view">
                                <div class="bg a0" data-animate="fadeIn">
                                  <h3 class="big a1" data-animate="fadeInDown">ATV312</h3>
                                  <a href="variador-3" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                                  <div class="portfolio_category text-center a2" data-animate="fadeIn">
                                  </div>
                             </div>
                           </div>
                          </div>
                          <h3 class="title"> Variador ATV312  </h3>
                          <p> Descripción prducto </p>
                          </div>

                          <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                              <div class="he-wrap tpl6 market-item">
                                <img src="img/productos-electricos/example35.jpg" alt="">
                                <div class="he-view">
                                  <div class="bg a0" data-animate="fadeIn">
                                    <h3 class="big a1" data-animate="fadeInDown">ATV12</h3>
                                    <a href="variador-4" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                                    </div>
                               </div>
                             </div>
                            </div>
                            <h3 class="title"> Variador ATV12  </h3>
                            <p> Descripción prducto </p>
                            </div>

                            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                                <div class="he-wrap tpl6 market-item">
                                  <img src="img/productos-electricos/example36.jpg" alt="">
                                  <div class="he-view">
                                    <div class="bg a0" data-animate="fadeIn">
                                      <h3 class="big a1" data-animate="fadeInDown">ATV600</h3>
                                      <a href="variador-5" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                                      <div class="portfolio_category text-center a2" data-animate="fadeIn">
                                      </div>
                                 </div>
                               </div>
                              </div>
                              <h3 class="title">  Variadores Process ATV600  </h3>
                              <p> Descripción prducto </p>
                              </div>

                              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
                                <div class="he-wrap tpl6 market-item">
                                  <img src="img/productos-electricos/example39.jpg" alt="">
                                  <div class="he-view">
                                    <div class="bg a0" data-animate="fadeIn">
                                      <h3 class="big a1" data-animate="fadeInDown">SINAMICS G110</h3>
                                      <a href="variador-6" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                                      <div class="portfolio_category text-center a2" data-animate="fadeIn">
                                      </div>
                                 </div>
                               </div>
                              </div>
                              <h3 class="title">  Variadores SINAMICS G110  </h3>
                              <p> Descripcion prducto </p>
                              </div>

                              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
                                <div class="he-wrap tpl6 market-item">
                                  <img src="img/productos-electricos/example37.png" alt="">
                                  <div class="he-view">
                                    <div class="bg a0" data-animate="fadeIn">
                                      <h3 class="big a1" data-animate="fadeInDown">MICROMASTER 430</h3>
                                      <a href="variador-7" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                                      <div class="portfolio_category text-center a2" data-animate="fadeIn">
                                      </div>
                                 </div>
                               </div>
                              </div>
                              <h3 class="title">  Variadores MICROMASTER 430  </h3>
                              <p> Descripcion prducto </p>
                              </div>

                              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
                                <div class="he-wrap tpl6 market-item">
                                  <img src="img/productos-electricos/example38.jpg" alt="">
                                  <div class="he-view">
                                    <div class="bg a0" data-animate="fadeIn">
                                      <h3 class="big a1" data-animate="fadeInDown">MICROMASTER 420</h3>
                                      <a href="variador-8" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                                      <div class="portfolio_category text-center a2" data-animate="fadeIn">
                                      </div>
                                 </div>
                               </div>
                              </div>
                              <h3 class="title">  Variadores MICROMASTER 420  </h3>
                              <p> Descripcion prducto </p>
                              </div>
            </div>
           </div>    
          </div>
       </div>
      </div>
   </section>

  <section class="section3">
      <div class="container withpadding">
        <div class="message">
          <div class="col-lg-9 col-md-9 col-sm-9">
          </div>
        </div>  
      </div> 
    </section>