<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Protecciones</li>
        </ul>
        <h2>Protecciones</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  

  <section class="section1">
    <div class="container clearfix">       
            <div class="general-title text-center">
              <h3> Protecciones </h3>
            </div>
    </section>

            <section class="section4 text-center">
              <div class="general-title">
                <h2> Proteccion Auditiva </h2>
                <hr>
              </div>
              <div class="portfolio-wrapper">
                <div id="owl-demo" class="owl-carousel">
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/example33.jpg">
                                    <img class="lazyOwl" src="img/productos-electricos/example33.jpg" data-src="img/productos-electricos/example33.jpg" alt="">
                                    <div>
                                    </br>
                                      <h3> PSR </h3>       
                                    </div>
                                  </a>
                  </div>
          
                  <div class="item">
                      <a data-rel="prettyPhoto" href="img/productos-electricos/example34.jpg">
                                    <img class="lazyOwl" src="img/productos-electricos/example34.jpg" data-src="img/productos-electricos/example34.jpg" alt="">
                                    <div>
                                      </br>
                                        <h3> PSR </h3>       
                                      </div>
                                  </a>
                  </div>
          
                  <div class="item">
                      <a data-rel="prettyPhoto" href="img/productos-electricos/example16.jpg">
                                    <img class="lazyOwl" src="img/productos-electricos/example16.jpg" data-src="img/productos-electricos/example16.jpg" alt="">
                                    <div>
                                      </br>
                                        <h3> PSR </h3>       
                                      </div>
                                  </a>
                  </div>
          
          
                  <div class="item">
                      <a data-rel="prettyPhoto" href="img/productos-electricos/example24.jpg">
                                    <img class="lazyOwl" src="img/productos-electricos/example24.jpg" data-src="img/productos-electricos/example24.jpg" alt="">
                                    <div>
                                      </br>
                                        <h3> PSR </h3>       
                                      </div>
                                  </a>
                  </div>
          
                  <div class="item">
                    <a data-rel="prettyPhoto" href="img/productos-electricos/example25.jpg">
                                  <img class="lazyOwl" src="img/productos-electricos/example25.jpg" data-src="img/productos-electricos/example25.jpg" alt="">
                                  <div>
                                    </br>
                                      <h3> PSR </h3>       
                                    </div>
                                </a>
                </div>
          
                <div class="item">
                  <a data-rel="prettyPhoto" href="img/productos-electricos/example15.jpg">
                                <img class="lazyOwl" src="img/productos-electricos/example15.jpg" data-src="img/productos-electricos/example15.jpg" alt="">
                                <div>
                                  </br>
                                    <h3> PSR </h3>       
                                  </div>
                              </a>
              </div>
          
              <div class="item">
                <a data-rel="prettyPhoto" href="img/productos-electricos/example18.jpg">
                              <img class="lazyOwl" src="img/productos-electricos/example18.jpg" data-src="img/productos-electricos/example18.jpg" alt="">
                              <div>
                                </br>
                                  <h3> PSR </h3>       
                                </div>
                            </a>
            </div>
          
          <div class="item">
            <a data-rel="prettyPhoto" href="img/productos-electricos/example36.jpg">
                          <img class="lazyOwl" src="img/productos-electricos/example36.jpg" data-src="img/productos-electricos/example36.jpg" alt="">
                          <div>
                            </br>
                              <h3> PSR </h3>       
                            </div>
                        </a>
          </div>
          
          <div class="item">
            <a data-rel="prettyPhoto" href="img/productos-electricos/exampleACS880.jpg">
                          <img class="lazyOwl" src="img/productos-electricos/exampleACS880.jpg" data-src="img/productos-electricos/ACS880.jpg" alt="">
                          <div>
                            </br>
                              <h3> PSR </h3>       
                            </div>
                        </a>
                 </div>
                </div>
              </div>             
            </section>
