<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Productos eléctricos </li>
        </ul>
        <h2> Productos eléctricos </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="" placeholder="Search..." onkeypress="search(event)" onfocus="showList(true)" onfocusout="showList(false)" onkeydown="search(event)"/>
              <!--CAMBIAR!!!!!--><div id="list"></div>
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->

      </div>
    </div>
  </section>
  

  <section class="section1">
    <div class="container clearfix">
      <div class=" col-lg-12 col-md-12 col-sm-12 clearfix">

        <div class="divider"></div>

        <nav class="portfolio-filter clearfix">
          <ul>
            <li><a href="#" class="dmbutton2" data-filter="*"> Todos </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".asd"> ABB </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".scheneider-electric"> Schneider Electric </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".siemens"> Siemens </a></li>
          </ul>
        </nav>

        <div class="portfolio-centered">
          <div class="recentitems portfolio">

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 abb">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-electronicos/example01.jpeg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Capacitores eléctricos </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Capacitores electrolíticos </h3>
              <p> Descripción producto </p>
            </div>
           
           

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 siemens">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-electronicos/example02.jpg " alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Lazo 4-20mA</h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>
               </div>
             </div>
          </div>
          <h3 class="title"> Controladores de lazo 4-20 mA </h3>
          <p> Descripción prducto </p>
        </div>

        <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
          <div class="he-wrap tpl6 market-item">
            <img src="img/productos-electronicos/example03.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="big a1" data-animate="fadeInDown"> Diodos Rectificadores </h3>
                <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                <div class="portfolio_category text-center a2" data-animate="fadeIn">
                </div>
           </div>
         </div>
      </div>
      <h3 class="title"> Diodos rectificadores </h3>
      <p> Descripción prducto </p>
    </div>

    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
      <div class="he-wrap tpl6 market-item">
        <img src="img/productos-electronicos/example04.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="big a1" data-animate="fadeInDown"> Fusibles ultra-rápidos  </h3>
            <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
            <div class="portfolio_category text-center a2" data-animate="fadeIn">
            </div>
       </div>
     </div>
  </div>
  <h3 class="title"> Fusibles ultra-rápidos </h3>
  <p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electronicos/example05.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Serie 170M </h3>
        <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Fusible ultra-rápido Serie 170M </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electronicos/example06.png" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> 8GDB1-35A  </h3>
        <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Interruptor termico 8GDB1-35A </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
    <div class="he-wrap tpl6 market-item">
      <img src="img/productos-electronicos/example07.jpg" alt="">
      <div class="he-view">
        <div class="bg a0" data-animate="fadeIn">
          <h3 class="big a1" data-animate="fadeInDown"> Puentes de diodos </h3>
          <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
          <div class="portfolio_category text-center a2" data-animate="fadeIn">
          </div>
     </div>
   </div>
  </div>
  <h3 class="title"> Puentes de diodos </h3>
  <p> Descripción prducto </p>
  </div>
  <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
    <div class="he-wrap tpl6 market-item">
      <img src="img/productos-electronicos/example08.jpg" alt="">
      <div class="he-view">
        <div class="bg a0" data-animate="fadeIn">
          <h3 class="big a1" data-animate="fadeInDown"> Relays electromecánicos </h3>  
          <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
          <div class="portfolio_category text-center a2" data-animate="fadeIn">
          </div>
     </div>
   </div>
  </div>
  <h3 class="title"> Relays electromecánicos </h3>
  <p> Descripción prducto </p>
  </div>

  <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
      <div class="he-wrap tpl6 market-item">
        <img src="img/productos-electronicos/example09.jpg" alt="">
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="big a1" data-animate="fadeInDown"> Relays de estado sólido </h3>  
            <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
            <div class="portfolio_category text-center a2" data-animate="fadeIn">
            </div>
       </div>
     </div>
    </div>
    <h3 class="title"> Relays de estado sólido </h3>
    <p> Descripción prducto </p>
    </div>
    
    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
        <div class="he-wrap tpl6 market-item">
          <img src="img/productos-electronicos/example10.jpg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="big a1" data-animate="fadeInDown"> Sensores capacitivos </h3>  
              <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
              <div class="portfolio_category text-center a2" data-animate="fadeIn">
              </div>
         </div>
       </div>
      </div>
      <h3 class="title"> Sensores capacitivos </h3>
      <p> Descripción prducto </p>
      </div>

      <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
          <div class="he-wrap tpl6 market-item">
            <img src="img/productos-electronicos/example11.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="big a1" data-animate="fadeInDown"> Sensores de posición </h3>  
                <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                <div class="portfolio_category text-center a2" data-animate="fadeIn">
                </div>
           </div>
         </div>
        </div>
        <h3 class="title"> Sensores de posición </h3>
        <p> Descripción prducto </p>
        </div>

        <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
            <div class="he-wrap tpl6 market-item">
              <img src="img/productos-electronicos/example12.jpg" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <h3 class="big a1" data-animate="fadeInDown"> Sensores de presión </h3>  
                  <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                  <div class="portfolio_category text-center a2" data-animate="fadeIn">
                  </div>
             </div>
           </div>
          </div>
          <h3 class="title"> Sensores de presión </h3>
          <p> Descripción prducto </p>
          </div>
          
          <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-electronicos/example13.jpg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Sensores de proximidad COMUS  </h3>  
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>
               </div>
             </div>
            </div>
            <h3 class="title"> Sensores de proximidad COMUS  </h3>
            <p> Descripción prducto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                <div class="he-wrap tpl6 market-item">
                  <img src="img/productos-electronicos/example14.jpg" alt="">
                  <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                      <h3 class="big a1" data-animate="fadeInDown"> Ultra-sonido  </h3>  
                      <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                      <div class="portfolio_category text-center a2" data-animate="fadeIn">
                      </div>
                 </div>
               </div>
              </div>
              <h3 class="title"> Sensores de ultrasonido  </h3>
              <p> Descripción prducto </p>
              </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                  <div class="he-wrap tpl6 market-item">
                    <img src="img/productos-electronicos/example15.png" alt="">
                    <div class="he-view">
                      <div class="bg a0" data-animate="fadeIn">
                        <h3 class="big a1" data-animate="fadeInDown"> Ultra-sonido  </h3>  
                        <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                        <div class="portfolio_category text-center a2" data-animate="fadeIn">
                        </div>
                   </div>
                 </div>
                </div>
                <h3 class="title"> Sensores inductivos </h3>
                <p> Descripción prducto </p>
                </div>

                <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                    <div class="he-wrap tpl6 market-item">
                      <img src="img/productos-electronicos/example16.png" alt="">
                      <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                          <h3 class="big a1" data-animate="fadeInDown"> Magnéticos  </h3>  
                          <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                          <div class="portfolio_category text-center a2" data-animate="fadeIn">
                          </div>
                     </div>
                   </div>
                  </div>
                  <h3 class="title"> Sensores magnéticos</h3>
                  <p> Descripción prducto </p>
                  </div>

                  <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                      <div class="he-wrap tpl6 market-item">
                        <img src="img/productos-electronicos/example17.jpeg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="big a1" data-animate="fadeInDown"> Sensores de vacío </h3>  
                            <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                            <div class="portfolio_category text-center a2" data-animate="fadeIn">
                            </div>
                       </div>
                     </div>
                    </div>
                    <h3 class="title"> Sensores de vacío </h3>
                    <p> Descripción prducto </p>
                    </div>
                  
                    <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
                        <div class="he-wrap tpl6 market-item">
                          <img src="img/productos-electronicos/example18.png" alt="">
                          <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                              <h3 class="big a1" data-animate="fadeInDown"> SCR </h3>  
                              <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                              <div class="portfolio_category text-center a2" data-animate="fadeIn">
                              </div>
                         </div>
                       </div>
                      </div>
                      <h3 class="title"> Tiristores (SCR)</h3>
                      <p> Descripción prducto </p>
                      </div>



<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electronicos/example99.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Sopladores AC y DC </h3>
        <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Sopladores para AC y DC </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electronicos/example100.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown">Termostatos Bimetálicos</h3>
        <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Termostatos bimetálicos </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electronicos/example101.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Transistores IGBT  </h3>  <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Transistores IGBT </h3>
<p> Descripción prducto </p>
</div>

<div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 scheneider-electric">
  <div class="he-wrap tpl6 market-item">
    <img src="img/productos-electronicos/example102.jpg" alt="">
    <div class="he-view">
      <div class="bg a0" data-animate="fadeIn">
        <h3 class="big a1" data-animate="fadeInDown"> Ventiladores Industriales  </h3>
        <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
        <div class="portfolio_category text-center a2" data-animate="fadeIn">
        </div>
   </div>
 </div>
</div>
<h3 class="title"> Ventiladores Industriales </h3>
<p> Descripción prducto </p>
</div>




            </div>
           </div>    
          </div>
       </div>
      </div>
   </section>



  

  <section class="section3">
      <div class="container withpadding">
        <div class="message">
          <div class="col-lg-9 col-md-9 col-sm-9">
          </div>
        </div>  
      </div> 
    </section>