<!DOCTYPE html>
<html lang="es">
  <head>

    <title> Servicios </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/services/bootstrap.min.css">
    <link rel="stylesheet" href="css/services/aos.css">
    <link rel="stylesheet" href="css/services/style.css">

    
    <link href="css/style.css" rel="stylesheet">
  </head>

<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Servicios </li>
        </ul>
        <h2> Nuestros Servicios </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
      </div>
    </div>
  </section>

    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3"> Servicios </h2>
          </div>
        </div>

        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
                <div class="unit-4 d-block">
                  <div class="unit-4-icon mb-3">
                    <span class="icon-wrap"><span class="text-primary icon-wrench"></span></span>
                  </div>
                  <div>
                    <h3> Reparaciones </h3>
                    <p> Contamos con un laboratorio electronico especializado en reparaciones para la automatización industrial, ofreciendo reparación de placas electrónicas .</p>
                  <p> &nbsp; </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
                  <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                      <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
                    </div>
                    <div>
                      <h3> Mantenimiento </h3>
                      <p> Realizamos mantenimientos preventivos en planta, dando servicio de reparación de emergencia, ofreciendo una excelente calidad y eficiencia en nuestro trabajo.</p>
                   <p> &nbsp; </p>
                    </div>
                  </div>
                </div>   
                
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
                    <div class="unit-4 d-block">
                      <div class="unit-4-icon mb-3">
                        <span class="icon-wrap"><span class="text-primary icon-spinner"></span></span>
                      </div>
                      <div>
                        <h3> Diagnostico </h3>
                        <p> Contamos también con nuestro servicio de diagnóstico y cotización de equipos sin cargo para nuestros clientes brindando el mejor servicio para ellos.</p>
                     <p> &nbsp; </p>
                      </div>
                    </div>
                  </div>  


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
              </div>
              <div>
                <h3> Capacitaciones</h3>
                <p>Realizamos capacitaciones en cuanto a la programación y puesta en marcha de variadores de velocidad, arrancadores suaves y PLC.  Ademas, se capacita en el armado y construcción de tableros eléctricos, haciendo pruebas de aislación y funcionamiento del mismo.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
              </div>
              <div>
                <h3> Medicion de armonicos </h3>
                <p> Realizamos toma de mediciones en diferentes puntos de prueba, y en base a los resultado de la misma se conforma un informe técnico donde se brindaran recomendaciones sobre el sistema eléctrico tratado previamente por nuestro determinado departamento. </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" >
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-wrench"></span></span>
              </div>
              <div>
                <h3> Instalaciones y puestas en marcha </h3>
                <p> Se realizan instalaciones de variadores de velocidad, arrancadores suaves, sistemas de instrumentación, PLC y tambien tableros eléctricos donde se garantiza el correcto funcionamiento del tablero electrico para su correcto uso. </p>
             </br>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-file-text"></span></span>
              </div>
              <div>
                <h3> Contratos de mantenimiento </h3>
                <p> Se realizan contratos de mantenimientos preventivos y correctivos sobre instalaciones eléctricas que contengan variadores de velocidad, arrancadores suaves y tableros eléctricos.Parte de los mantenimientos se basan en la limpieza de componentes con lavadora ultrasónica y horno de secado.</p>
             
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
              </div>
              <div>
                <h3> Estudios de termografia </h3>
                <p>Realizamos mediciones termograficas con cámara FLUKE calibrada y entregamos informes de diagnostico con posibles mantenimientos y correcciones a realizar. </p>
              </br>
            </br>
          </br>
        </br>
        </div>
      </div>    
    </div>
          
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><span class="text-primary icon-sentiment_satisfied"></span></span>
          </div>
          <div>
            <h3> Atencion al cliente </h3>
            <p> Nos caracterizamos por brindar un excelente servicio y ayuda a nuestros clientes en cuanto a información y gestión resolviendo sus dudas satisfactoriamente. </p>
          </br>
        </br>
      </br>
    </br>
    </div>
  </div>    
</div>


          </div>
        </div>
      </div>
    </div>
  </div> 

  <script src="js/services/aos.js"></script>
  <script src="js/services/main.js"></script>
  </body>
</html>