<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Servicios </li>
        </ul>
        <h2> Nuestros Servicios </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
      </div>
    </div>
  </section>


<section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="clearfix"></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="active dm-icon fa fa-briefcase fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4> Reparación </h4>
                <hr>
              </div>
              <p> Contamos con un laboratorio electrónico especializado en reparaciones para la automatización industrial, ofreciendo reparación de todo tipo de placas electrónicas.</p>
            </div>        
          </div>         
        </div>
               
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="active dm-icon fa fa-wrench fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4> Mantenimiento </h4>
                <hr>
              </div>
              <p> Realizamos mantenimientos preventivos en planta, dando servicio de reparación de emergencia, ofreciendo una excelente calidad y eficiencia en nuestro trabajo.</p>
            </div>           
          </div>         
        </div>
      
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="active dm-icon fa fa-plus-square fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4> Diagnóstico </h4>
                <hr>
              </div>
              <p> Contamos también con nuestro servicio de diagnóstico y cotización de equipos sin cargo para nuestros clientes brindando el mejor servicio para ellos.</p>
            </div>          
          </div>         
        </div>

         <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="servicebox text-center">
                <div class="service-icon">
                  <div class="dm-icon-effect-1" data-effect="slide-bottom">
                    <a href="#" class=""> <i class="active dm-icon fa fa-phone fa-3x"></i> </a>
                  </div>
                  <div class="servicetitle">
                    <h4> Atención al cliente </h4>
                    <hr>
                  </div>
                  <p> Nos caracterizamos por brindar un excelente servicio y ayuda a nuestros clientes en cuanto a información y gestión resolviendo sus dudas.</p>
                </div>              
              </div>           
            </div>

        <div class="clearfix"></div>
        <div class="divider"></div>

      </div>
    </div> 
  </div> 
  </section>