<!DOCTYPE html>
<html lang="es">
  <head>

    <title> Servicios </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/services/bootstrap.min.css"> 
    <link rel="stylesheet" href="css/services/aos.css">
    <link rel="stylesheet" href="css/services/style.css">

    
    <link href="css/style.css" rel="stylesheet">
  </head>
<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Servicios </li>
        </ul>
        <h2> Nuestros Servicios </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
      </div>
    </div>
  </section>

    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3"> Servicios </h2>
          </div>
        </div>

        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
                <div class="unit-4 d-block">
                  <div class="unit-4-icon mb-3">
                    <span class="icon-wrap"><span class="text-primary icon-wrench"></span></span>
                  </div>
                  <div>
                    <h3> Reparaciones </h3>
                    <p> Contamos con un laboratorio electronico especializado en reparaciones para la automatización industrial, ofreciendo reparación de placas electrónicas .</p>
                  <p> &nbsp; </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
                  <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                      <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
                    </div>
                    <div>
                      <h3> Mantenimiento </h3>
                      <p> Realizamos mantenimientos preventivos en planta, dando servicio de reparación de emergencia, ofreciendo una excelente calidad y eficiencia en nuestro trabajo.</p>
                   <p> &nbsp; </p>
                    </div>
                  </div>
                </div>   
                
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
                    <div class="unit-4 d-block">
                      <div class="unit-4-icon mb-3">
                        <span class="icon-wrap"><span class="text-primary icon-spinner"></span></span>
                      </div>
                      <div>
                        <h3> Diagnostico </h3>
                        <p> Contamos también con nuestro servicio de diagnóstico y cotización de equipos sin cargo para nuestros clientes brindando el mejor servicio para ellos.</p>
                     <p> &nbsp; </p>
                      </div>
                    </div>
                  </div>  


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">         
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
              </div>
              <div>
                <h3> Capacitaciones</h3>
                <p>Realizamos capacitaciones en cuanto a la programación y puesta en marcha de variadores de velocidad, arrancadores suaves y PLC.  Ademas, se capacita en el armado y construcción de tableros eléctricos, haciendo pruebas de aislación y funcionamiento del mismo.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
              </div>
              <div>
                <h3> Medicion de armonicos </h3>
                <p> Realizamos toma de mediciones en diferentes puntos de prueba, y en base a los resultado de la misma se conforma un informe técnico donde se brindaran recomendaciones sobre el sistema eléctrico tratado previamente por nuestro determinado departamento. </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" >
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-wrench"></span></span>
              </div>
              <div>
                <h3> Instalaciones y puestas en marcha </h3>
                <p> Se realizan instalaciones de variadores de velocidad, arrancadores suaves, sistemas de instrumentación, PLC y tambien tableros eléctricos donde se garantiza el correcto funcionamiento del tablero electrico para su correcto uso. </p>
             </br>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-file-text"></span></span>
              </div>
              <div>
                <h3> Contratos de mantenimiento </h3>
                <p> Se realizan contratos de mantenimientos preventivos y correctivos sobre instalaciones eléctricas que contengan variadores de velocidad, arrancadores suaves y tableros eléctricos.Parte de los mantenimientos se basan en la limpieza de componentes con lavadora ultrasónica y horno de secado.</p>
             
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-briefcase"></span></span>
              </div>
              <div>
                <h3> Estudios de termografia </h3>
                <p>Realizamos mediciones termograficas con cámara FLUKE calibrada y entregamos informes de diagnostico con posibles mantenimientos y correcciones a realizar. </p>
              </br>
            </br>
          </br>
        </br>
        </div>
      </div>    
    </div>
          
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><span class="text-primary icon-sentiment_satisfied"></span></span>
          </div>
          <div>
            <h3> Atencion al cliente </h3>
            <p> Nos caracterizamos por brindar un excelente servicio y ayuda a nuestros clientes en cuanto a información y gestión resolviendo sus dudas satisfactoriamente. </p>
          </br>
        </br>
      </br>
    </br>
    </div>
  </div>    
</div>


          </div>
        </div>
      </div>
    </div>
  </div> 

   <!--
  
 <section class="pb_section pb_slant-white" id="section-faq">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-6 text-center mb-5">
            <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>FAQ</strong></h5>
            <h2> Preguntas frecuentes </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div id="pb_faq" class="pb_accordion" data-children=".item">
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq1" aria-expanded="true" aria-controls="pb_faq1" class="pb_font-22 py-4">¿Como realizamos nuestro trabajo?</a>
                <div id="pb_faq1" class="collapse show" role="tabpanel">
                  <div class="py-3">
                  <p>Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq2" aria-expanded="false" aria-controls="pb_faq2" class="pb_font-22 py-4">¿Pregunta 2?</a>
                <div id="pb_faq2" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq3" aria-expanded="false" aria-controls="pb_faq3" class="pb_font-22 py-4">¿Pregunta 3?</a>
                <div id="pb_faq3" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq4" aria-expanded="false" aria-controls="pb_faq4" class="pb_font-22 py-4">¿Pregunta 4?</a>
                <div id="pb_faq4" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                  </div>
                </div>
              </div>

              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq5" aria-expanded="false" aria-controls="pb_faq5" class="pb_font-22 py-4">¿Pregunta 5?</a>
                <div id="pb_faq5" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

         -->

       <!-- JS FAQ -->
    <script src="js/faq/jquery.min.js"></script>
    <script src="js/faq/bootstrap.min.js"></script>
       <!-- JS SERVICES -->
  <script src="js/services/aos.js"></script>
  <script src="js/services/main.js"></script>

  </body>
</html>