<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Variador ATV12  </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Variador ATV12  </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div>
 <img src="../img/productos-electricos/example35.jpg">
    </div>

</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
	<h3 class="title mb-3"> Variador ATV312  </h3>

<dl>
  <dt>Descripcion</dt>
  <dd>

             <p>Variadores de velocidad para m&aacute;quinas peque&ntilde;as con motor trif&aacute;sicoas&iacute;ncrono de 240 V 0,18-4 kW</p>

  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>

                        <p>Un dise&ntilde;o centrado en la integraci&oacute;n</p>
                        
                        <li>Funciones avanzadas para una mayor productividad (PID integrado, multi-velocidad, etc.)</li>
                        <li>F&aacute;cil comunicaci&oacute;n con el resto de componentes de la m&aacute;quina a trav&eacute;s de integrado universal de enlace serie Modbus</li>
                        <li>Dise&ntilde;o m&aacute;s compacto, especialmente en t&eacute;rminos de la profundidad de los equipos, como la versi&oacute;n de placa de base montada disipa el calor en el bastidor de la m&aacute;quina</li>
                       
                        <p><strong>Sin comprometer la calidad</strong><br /> M&aacute;ximo rendimiento asegurado por:</p>
                       
                        <li>Los ajustes de f&aacute;brica, que proporcionan una unidad de alta calidad desde el primer momento en que el poder est&aacute; encendido</li>
                        <li>&ccedil;La integraci&oacute;n de Standard (U / f), rendimiento (control vectorial de flujo, o SVC) y de bombas / ventiladores (perfil cuadr&aacute;tica Kn&sup2;) perfiles de control</li>
                        <li>Alto rendimiento din&aacute;mico en aceleraci&oacute;n, as&iacute; como en el frenado</li>
                        <li>Excelente regulaci&oacute;n de la velocidad de carga de la m&aacute;quina sobretensiones</li>
                        <li>Ruido y Mantenimiento reducido</li>
                 
                        <p>Dise&ntilde;ado para una f&aacute;cil instalaci&oacute;n y el cableado de la unidad:</p>
                      
                        <li>&Aacute;ngulos de f&aacute;cil acceso</li>
                        <li>Numerosas, f&aacute;cil de identificar marcas</li>
                        <li>Detecci&oacute;n r&aacute;pida y protecci&oacute;n contra picos de corriente de motor (com&uacute;n en la conmutaci&oacute;n del motor y la captura de las aplicaciones en el momento)</li>
                        <li>Perfecta integraci&oacute;n de monof&aacute;sico 240 V modelo en la red el&eacute;ctrica gracias a su funci&oacute;n de filtro EMC</li>
          
                        <p><strong>Ahorre tiempo en el cableado</strong></p>
                     
                        <li>F&aacute;cil acceso a todo el cableado y los ajustes en el panel frontal</li>
                        <li>&Aacute;ngulos de f&aacute;cil acceso</li>
                        <li>S&oacute;lo un destornillador necesario para todas las conexiones</li>

                        <li>Ahorre<strong> tiempo en la programaci&oacute;n</strong></li>
                        <li>Un bot&oacute;n de navegaci&oacute;n de f&aacute;cil acceso al men&uacute;: configurar los par&aacute;metros de aplicaci&oacute;n en unos pocos clics</li>
                        <li>Una estructura de men&uacute;s de tres niveles</li>
                        <li>Modo de referencia: En la operaci&oacute;n local (On / Off botones) y para la velocidad<br /> ajuste y visualizaci&oacute;n</li>
                        <li>Modo de seguimiento: Para la visualizaci&oacute;n de par&aacute;metros (crear su propio men&uacute;)</li>
                        <li>Modo de configuraci&oacute;n: Para la configuraci&oacute;n de sus aplicaciones y configuraciones</li>
 
                        <p><strong>Ahorre tiempo en la puesta en marcha</strong></p>
                       
                        <li>El accionamiento puede ser configurado antes de que se recibe (por el distribuidor), durante el almacenamiento (por el tendero) o durante el montaje antes de la caja de protecci&oacute;n el&eacute;ctrica que se enciende por primera vez.</li>
                        <li>No se requiere ajuste y no una gu&iacute;a de inicio r&aacute;pido para instalaci&oacute;n inmediata</li>
                        <li>Facilidad de programaci&oacute;n: El trabajo en el idioma de su elecci&oacute;n</li>
                        <li>SoMove software para la configuraci&oacute;n en el PC y transferir la configuraci&oacute;n a trav&eacute;s de Bluetooth&reg; o mediante un cable</li>
                        <li>El software SoMove Mobile para modificar o enviar una configuraci&oacute;n de forma remota a trav&eacute;s del tel&eacute;fono m&oacute;vil</li>

                   
                        <li>Beneficios</li>
                        <li>Discreto en tama&ntilde;o pero grande en rendimiento!</li>
                        <li>La gama Altivar 11 se sustituye por la gama Altivar 12.</li>
                        <li>Variadores de velocidad para m&aacute;quinas peque&ntilde;as con trif&aacute;sica 240 V motor as&iacute;ncrono</li>

                        <p>0,18 a 0,75 kW, fuente de alimentaci&oacute;n monof&aacute;sica de 120 V</p>
                        <p>0,18 a 2,2 kW, fuente de alimentaci&oacute;n monof&aacute;sica de 240 V</p>
                        <p>0,18-4 kW, 240 V de corriente trif&aacute;sica</p>
                     
                        <li>Se puede configurar en su embalaje</li>
                        <li>Opci&oacute;n de inicio r&aacute;pido que no requiere ajuste</li>
                        <li>La navegaci&oacute;n intuitiva</li>
                        <li>Incluso m&aacute;s compacto</li>
                        <li>Filtro 1 EMC</li>
                        <li>El control local en el panel frontal</li>
                        <li>Enlace serie Modbus</li>
                        <li>Resistente a los entornos operativos dif&iacute;ciles</li>

                        <p><strong>Aplicaciones</strong><br /> <em> Las m&aacute;quinas simples para la industria</em></p>
                      
                        <li>Manejo de materiales (peque&ntilde;os transportadores, etc.)</li>
                        <li>Embalajes (peque&ntilde;as m&aacute;quinas de etiquetado, peque&ntilde;as m&aacute;quinas de ensacado)</li>
                        <li>Aplicaciones de bombeo (bombas de succi&oacute;n, bombas centr&iacute;fugas, bombas de circulaci&oacute;n, etc.)</li>
                        <li>Las m&aacute;quinas equipadas con ventiladores (aire o extracci&oacute;n de humos, pel&iacute;cula de pl&aacute;stico que hace las m&aacute;quinas, hornos, calderas, etc.)</li>
                     
                        <p>&nbsp;</p>
                        <p><em> M&aacute;quinas de consumo simples</em></p>
                       
                        <li>Manipulaci&oacute;n (barreras de acceso, girando vallas publicitarias)</li>
                        <li>Salud (camas m&eacute;dicas, m&aacute;quinas que funcionan)</li>
                        <li>Los alimentos y bebidas (molinos, amasadoras, mezcladores, etc.)</li>
                        
                        <p>&nbsp;</p>
                        <p><em> Otros tipos de aplicaci&oacute;n</em></p>
                        
                        <li>Los alimentos y bebidas (cultivo de la bater&iacute;a, invernaderos, etc.)</li>
                        <li>M&aacute;quinas m&oacute;viles y peque&ntilde;os dispositivos equipados con una toma de corriente</li>
                        <li>Las aplicaciones que utilizan tradicionalmente otras soluciones (2 velocidades motores DC, transmisiones mec&aacute;nicas, etc.)</li>
                  
  
<!-- 
                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
                    <ul class="check">
                    <li>ATV71HD18N4 VARIADOR VEL. TRIF. ALTO PAR 18,5KW </li>
                    <li>ATV71HD22N4 VARIADOR VEL. TRIF. ALTO PAR 22KW </li>
                    <li>ATV71HD30N4 VARIADOR VEL. TRIF. ALTO PAR 30KW </li>
                    <li>ATV71HD37N4 VARIADOR VEL. TRIF. ALTO PAR 37KW </li>
                    <li>ATV71HD45N4 VARIADOR VEL. TRIF. ALTO PAR 45KW </li>
                    <li>ATV71HD55N4 VARIADOR VEL. TRIF. ALTO PAR 55KW </li>
                    <li>ATV71HD75N4 VARIADOR VEL. TRIF. ALTO PAR 75KW </li>
                    <li>ATV71HD90N4 VARIADOR VEL. TRIF. ALTO PAR 90Kw </li>
                    <li>ATV71HC11N4 VARIADOR VEL. TRIF. ALTO PAR 110kW </li>
                    <li>ATV71HC13N4 VARIADOR VEL. TRIF. ALTO PAR 132kW </li>
                    <li>ATV71HC16N4 VARIADOR VEL. TRIF. ALTO PAR 160kW </li>
                    <li>ATV71HC20N4 VARIADOR VEL. TRIF. ALTO PAR 200kW </li>
                    </ul>
                  </div>                
                </div>     
                                              -->            
              </div>                
            </div>

            </article> 
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>