<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Variadores SINAMICS G110 </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Variadores SINAMICS G110 </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div>
 <img src="../img/productos-electricos/example39.jpg">
    </div>

</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
	<h3 class="title mb-3"> Variadores SINAMICS G110  </h3>

<dl>
  <dt>Descripcion</dt>
  <dd>

                    <p>La nueva serie de accionamientos de velocidad variable SINAMICS ha sido fuertemente alineada a los requerimientos y demandas de los usuarios mundiales: vers&aacute;til, altamente efectiva en costo y muy simple de operar</p>
 				          	<p>La presencia e infraestructura global de SIEMENS, que aseguran a fabricantes de m&aacute;quinas y equipos disponibilidad de log&iacute;&shy;stica y soporte t&eacute;cnico en todos los mercados del planeta.</p>
                    <p>Aplicaciones como cintas transportadoras, escaleras mec&aacute;nicas, bombas, ventiladores y compresores, m&aacute;quinas de embalaje, accionamientos para puertas, portones y barreras, equipamiento para fitness, lavadoras autom&aacute;ticas de autom&oacute;viles, carteles publicitarios m&oacute;viles, bobinadoras de carreteles, mezcladoras y amasadoras, son s&oacute;lo algunos ejemplos de las m&aacute;quinas que pueden beneficiarse con el uso del nuevo SINAMICS G110.</p>

  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 

<style> 
 strong {
	 color:black;
 }

</style>

<article class="card mt-3">
	<div class="card-body">
    <h4>Descripcion detallada </h4>
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-variadores-g110-1.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-variadores-g110-1.png" data-src="img/productos-electricos/tablas/tabla-variadores-g110-1.png" alt="">
                                          </a>
                                        </div>
    <p> Descripcion </p>

                   <p><strong>Caracter&iacute;&shy;sticas principales</strong></p>
                   
                    <li>Conexionado estilo contactor.</li>
                    <li>Sistema de refrigeraci&oacute;n de nuevo dise&ntilde;o.</li>
                    <li>Potencias entre 0.12 kW y 3 kW.</li>
                    <li>Alimentaci&oacute;n monof&aacute;sica: 1AC 220V, salida 3AC 220V.</li>
                    <li>3 entradas digitales libremente configurables.</li>
                    <li>1 entrada anal&oacute;gica (0-10)V, puede ser utilizada como 4&Acirc;&ordm; entrada digital.</li>
                    <li>1 salida a transistor optoacoplada.</li>
                    <li>Caracter&iacute;&shy;stica V/f lineal, cuadr&aacute;tica y multipunto (motores sincr&oacute;nicos).</li>
                    <li>Protecci&oacute;n del motor y del convertidor.</li>
                    <li>Frenado por inyecci&oacute;n de corriente continua.</li>
                    <li>Control de freno electromec&aacute;nico * Control por selectora (2 hilos) o por pulsadores (3 hilos).</li>
                
                    <p><strong>Beneficios</strong></p>
             
                    <li>Instalaci&oacute;n, parametrizaci&oacute;n y puesta en servicio simples.</li>
                    <li>Dise&ntilde;ado para m&aacute;xima compatibilidad electromagn&eacute;tica.</li>
                    <li>Extenso rango de par&aacute;metros que permite configurarlo para una amplia gama de aplicaciones.</li>
                    <li>Simple conexi&oacute;n por cable.</li>
                    <li>Funcionalidad adaptada gracias a variantes anal&oacute;gicas y USS.</li>
                    <li>Funcionamiento silencioso del motor gracias a altas frecuencias de pulsaci&oacute;n.</li>
             
                    <p><strong>M&aacute;s beneficios</strong></p>
                    
                    <li>Informaci&oacute;n de estado y avisos de alarma a trav&eacute;s de panel de operador BOP (Basic Operator Panel) opcional.</li>
                    <li>Posibilidad de copiar r&aacute;pidamente par&aacute;metros usando el panel BOP opcional.</li>
                    <li>Opciones externas para comunicaci&oacute;n con PC as&iacute;&shy; como BOP &acirc;&euro;&cent; Actuaci&oacute;n r&aacute;pida y reproducible de las entradas digitales para aplicaciones de alta velocidad.</li>
                    <li>Entrada precisa de consigna gracias a una entrada anal&oacute;gica de 10 bits de alta resoluci&oacute;n (s&oacute;lo variantes anal&oacute;gicas).</li>
                    <li>LED para la informaci&oacute;n de estado.</li>
                    <li>Variante con filtro CEM integrado de clase A o B.</li>
                    <li>Interruptor DIP para adaptaci&oacute;n r&aacute;pida a aplicaciones de 50 Hz &oacute; 60 Hz.</li>
                    <li>Interruptor DIP para cierre del bus en la variante USS (RS485).</li>
                    <li>Puerto serie RS485 (s&oacute;lo variantes USS) para su integraci&oacute;n en sistemas de accionamiento conectados en red.</li>
              
                    <p><strong>Funciones</strong></p>
                   
                    <li>Protecci&oacute;n de los &oacute;rganos mec&aacute;nicos de la m&aacute;quinas gracias a banda de frecuencias inhibible para evitar resonancias, rampas de aceleraci&oacute;n/deceleraci&oacute;n parametrizables de hasta 650 s, redondeo de rampas, as&iacute;&shy; como posibilidad conectar el convertidor sobre un motor en marcha (rearranque al vuelo).</li>
                    <li>Incremento de la disponibilidad de la instalaci&oacute;n gracias a rearranque autom&aacute;tico tras corte de red o fallo.</li>
                    <li>Limitaci&oacute;n r&aacute;pida de corriente (FCL) para funcionamiento sin anomal&iacute;&shy;as en caso de golpes s&uacute;bitos de carga.</li>
                    <li>Caracter&iacute;&shy;stica U/f parametrizable (p. ej. para motores s&iacute;&shy;ncronos).</li>
                    <li>Frenado por inyecci&oacute;n de corriente continua para frenado r&aacute;pido sin necesidad de resistencia externa al efecto.</li>
                    <li>Limitaci&oacute;n de tensi&oacute;n en circuito intermedio mediante regulador UDCm&aacute;x.</li>
                    <li>Compensaci&oacute;n de deslizamiento, funci&oacute;n de potenci&oacute;metro motorizado simulado electr&oacute;nicamente y tres consignas fijas de velocidad.</li>
                    <li>Elevaciones parametrizables de tensi&oacute;n para mayor respuesta din&aacute;mica en el arranque y la aceleraci&oacute;n.</li>
                    <li>Funci&oacute;n de freno de mantenimiento en motor, para mandar un freno mec&aacute;nico externo.</li>
                    
                  </br>
                   
                    <p><strong>Panel de operaciones</strong><br /> El panel BOP permite ajustes de par&aacute;metros personalizados. Los valores y unidades se visualizan en un display de 5 d&iacute;gitos.<br /> Un panel BOP puede usarse para varios convertidores. Simplemente se enchufa directamente en el convertidor.</p>
                    <p>El panel BOP tiene una funci&oacute;n para copiar (&ldquo;clonar&rdquo;) r&aacute;pidamente par&aacute;metros. Para ello se memoriza un juego de par&aacute;metros de un convertidor y &eacute;ste se carga luego en los restantes.</p>
                    <p><strong>Referencia</strong><br /> Panel BOP (Basic Operator Panel ) 6SL3255-0AA00-4BA0.</p>
                    <p><strong>Juego para conexi&oacute;n a PC</strong><br /> Para controlar y poner en marcha un convertidor directamente desde un PC, si en &eacute;ste est&aacute; instalado el software (STARTER) correspondiente.<br /> M&oacute;dulo adaptador RS232, con aislamiento galv&aacute;nico, para conexi&oacute;n punto a punto segura a un PC.</p>
                    <p>Incluye un conector Sub-D de 9 polos y un cable RS232 est&aacute;ndar (3 m)</p>
                    <p><strong>Referencia</strong><br /> Kit de conexi&oacute;n pc 6SL3255-0AA0-2AA0.</p>	
<!-- 
                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
                    <ul class="check">
                    <li>ATV71HD18N4 VARIADOR VEL. TRIF. ALTO PAR 18,5KW </li>
                    <li>ATV71HD22N4 VARIADOR VEL. TRIF. ALTO PAR 22KW </li>
                    <li>ATV71HD30N4 VARIADOR VEL. TRIF. ALTO PAR 30KW </li>
                    <li>ATV71HD37N4 VARIADOR VEL. TRIF. ALTO PAR 37KW </li>
                    <li>ATV71HD45N4 VARIADOR VEL. TRIF. ALTO PAR 45KW </li>
                    <li>ATV71HD55N4 VARIADOR VEL. TRIF. ALTO PAR 55KW </li>
                    <li>ATV71HD75N4 VARIADOR VEL. TRIF. ALTO PAR 75KW </li>
                    <li>ATV71HD90N4 VARIADOR VEL. TRIF. ALTO PAR 90Kw </li>
                    <li>ATV71HC11N4 VARIADOR VEL. TRIF. ALTO PAR 110kW </li>
                    <li>ATV71HC13N4 VARIADOR VEL. TRIF. ALTO PAR 132kW </li>
                    <li>ATV71HC16N4 VARIADOR VEL. TRIF. ALTO PAR 160kW </li>
                    <li>ATV71HC20N4 VARIADOR VEL. TRIF. ALTO PAR 200kW </li>
                    </ul>
                  </div>                
                </div>     
                                              -->            
              </div>                
            </div>

            </article> 
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>