

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Variadores SINAMICS G110</li>
        </ul>
        <h2> Variadores SINAMICS G110</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                    <p>La nueva serie de accionamientos de velocidad variable SINAMICS ha sido fuertemente alineada a los requerimientos y demandas de los usuarios mundiales: vers&aacute;til, altamente efectiva en costo y muy simple de operar</p>
 					<p>La presencia e infraestructura global de SIEMENS, que aseguran a fabricantes de m&aacute;quinas y equipos disponibilidad de log&iacute;&shy;stica y soporte t&eacute;cnico en todos los mercados del planeta.</p>
                    <p>Aplicaciones como cintas transportadoras, escaleras mec&aacute;nicas, bombas, ventiladores y compresores, m&aacute;quinas de embalaje, accionamientos para puertas, portones y barreras, equipamiento para fitness, lavadoras autom&aacute;ticas de autom&oacute;viles, carteles publicitarios m&oacute;viles, bobinadoras de carreteles, mezcladoras y amasadoras, son s&oacute;lo algunos ejemplos de las m&aacute;quinas que pueden beneficiarse con el uso del nuevo SINAMICS G110.</p>
                    <p>&nbsp;</p>
                    <p><strong>Caracter&iacute;&shy;sticas principales</strong></p>
                    <ul>
                    <li>Conexionado estilo contactor.</li>
                    <li>Sistema de refrigeraci&oacute;n de nuevo dise&ntilde;o.</li>
                    <li>Potencias entre 0.12 kW y 3 kW.</li>
                    <li>Alimentaci&oacute;n monof&aacute;sica: 1AC 220V, salida 3AC 220V.</li>
                    <li>3 entradas digitales libremente configurables.</li>
                    <li>1 entrada anal&oacute;gica (0-10)V, puede ser utilizada como 4&Acirc;&ordm; entrada digital.</li>
                    <li>1 salida a transistor optoacoplada.</li>
                    <li>Caracter&iacute;&shy;stica V/f lineal, cuadr&aacute;tica y multipunto (motores sincr&oacute;nicos).</li>
                    <li>Protecci&oacute;n del motor y del convertidor.</li>
                    <li>Frenado por inyecci&oacute;n de corriente continua.</li>
                    <li>Control de freno electromec&aacute;nico * Control por selectora (2 hilos) o por pulsadores (3 hilos).</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><strong>Beneficios</strong></p>
                    <ul>
                    <li>Instalaci&oacute;n, parametrizaci&oacute;n y puesta en servicio simples.</li>
                    <li>Dise&ntilde;ado para m&aacute;xima compatibilidad electromagn&eacute;tica.</li>
                    <li>Extenso rango de par&aacute;metros que permite configurarlo para una amplia gama de aplicaciones.</li>
                    <li>Simple conexi&oacute;n por cable.</li>
                    <li>Funcionalidad adaptada gracias a variantes anal&oacute;gicas y USS.</li>
                    <li>Funcionamiento silencioso del motor gracias a altas frecuencias de pulsaci&oacute;n.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><strong>M&aacute;s beneficios</strong></p>
                    <ul>
                    <li>Informaci&oacute;n de estado y avisos de alarma a trav&eacute;s de panel de operador BOP (Basic Operator Panel) opcional.</li>
                    <li>Posibilidad de copiar r&aacute;pidamente par&aacute;metros usando el panel BOP opcional.</li>
                    <li>Opciones externas para comunicaci&oacute;n con PC as&iacute;&shy; como BOP &acirc;&euro;&cent; Actuaci&oacute;n r&aacute;pida y reproducible de las entradas digitales para aplicaciones de alta velocidad.</li>
                    <li>Entrada precisa de consigna gracias a una entrada anal&oacute;gica de 10 bits de alta resoluci&oacute;n (s&oacute;lo variantes anal&oacute;gicas).</li>
                    <li>LED para la informaci&oacute;n de estado.</li>
                    <li>Variante con filtro CEM integrado de clase A o B.</li>
                    <li>Interruptor DIP para adaptaci&oacute;n r&aacute;pida a aplicaciones de 50 Hz &oacute; 60 Hz.</li>
                    <li>Interruptor DIP para cierre del bus en la variante USS (RS485).</li>
                    <li>Puerto serie RS485 (s&oacute;lo variantes USS) para su integraci&oacute;n en sistemas de accionamiento conectados en red.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><strong>Funciones</strong></p>
                    <ul>
                    <li>Protecci&oacute;n de los &oacute;rganos mec&aacute;nicos de la m&aacute;quinas gracias a banda de frecuencias inhibible para evitar resonancias, rampas de aceleraci&oacute;n/deceleraci&oacute;n parametrizables de hasta 650 s, redondeo de rampas, as&iacute;&shy; como posibilidad conectar el convertidor sobre un motor en marcha (rearranque al vuelo).</li>
                    <li>Incremento de la disponibilidad de la instalaci&oacute;n gracias a rearranque autom&aacute;tico tras corte de red o fallo.</li>
                    <li>Limitaci&oacute;n r&aacute;pida de corriente (FCL) para funcionamiento sin anomal&iacute;&shy;as en caso de golpes s&uacute;bitos de carga.</li>
                    <li>Caracter&iacute;&shy;stica U/f parametrizable (p. ej. para motores s&iacute;&shy;ncronos).</li>
                    <li>Frenado por inyecci&oacute;n de corriente continua para frenado r&aacute;pido sin necesidad de resistencia externa al efecto.</li>
                    <li>Limitaci&oacute;n de tensi&oacute;n en circuito intermedio mediante regulador UDCm&aacute;x.</li>
                    <li>Compensaci&oacute;n de deslizamiento, funci&oacute;n de potenci&oacute;metro motorizado simulado electr&oacute;nicamente y tres consignas fijas de velocidad.</li>
                    <li>Elevaciones parametrizables de tensi&oacute;n para mayor respuesta din&aacute;mica en el arranque y la aceleraci&oacute;n.</li>
                    <li>Funci&oacute;n de freno de mantenimiento en motor, para mandar un freno mec&aacute;nico externo.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-variadores-g110-1.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-variadores-g110-1.png" data-src="img/productos-electricos/tablas/tabla-variadores-g110-1.png" alt="">
                                          </a>
                                        </div>
                    <p>&nbsp;</p>
                    <p><strong>Panel de operaciones</strong><br /> El panel BOP permite ajustes de par&aacute;metros personalizados. Los valores y unidades se visualizan en un display de 5 d&iacute;gitos.<br /> Un panel BOP puede usarse para varios convertidores. Simplemente se enchufa directamente en el convertidor.</p>
                    <p>El panel BOP tiene una funci&oacute;n para copiar (&ldquo;clonar&rdquo;) r&aacute;pidamente par&aacute;metros. Para ello se memoriza un juego de par&aacute;metros de un convertidor y &eacute;ste se carga luego en los restantes.</p>
                    <p><strong>Referencia</strong><br /> Panel BOP (Basic Operator Panel ) 6SL3255-0AA00-4BA0.</p>
                    <p><strong>Juego para conexi&oacute;n a PC</strong><br /> Para controlar y poner en marcha un convertidor directamente desde un PC, si en &eacute;ste est&aacute; instalado el software (STARTER) correspondiente.<br /> M&oacute;dulo adaptador RS232, con aislamiento galv&aacute;nico, para conexi&oacute;n punto a punto segura a un PC.</p>
                    <p>Incluye un conector Sub-D de 9 polos y un cable RS232 est&aacute;ndar (3 m)</p>
                    <p><strong>Referencia</strong><br /> Kit de conexi&oacute;n pc 6SL3255-0AA0-2AA0.</p>	
                                        		
      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example39.jpg" width="350px" height="350px" alt="">
                   
   
                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 