  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Variadores MICROMASTER 420</li>
        </ul>
        <h2> Variadores MICROMASTER 420 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                    <p>Este convertidor de frecuencia es ideal para m&uacute;ltiples aplicaciones de accionamiento de velocidad variable, como bombas, ventiladores y sistemas de transporte<br /> (por ejemplo, cintas transportadoras), entre otras.</p>
					<p><strong>Caracter&iacute;sticas</strong><br /> Se caracteriza especialmente por su prestaci&oacute;n orientada al cliente y su facilidad de uso.<br /> Tiene un amplio rango de tensiones de trabajo que permite que sea utilizado en todo el mundo.</p>
                    <p><strong>Dise&ntilde;o</strong></p>
                    <p>El MICROMASTER 420 tiene un dise&ntilde;o modular. Los paneles de operaci&oacute;n y el m&oacute;dulo de conexi&oacute;n a PROFIBUS pueden ser colocados y retirados manualmente.</p>
                    <p>&nbsp;</p>
                    <p><strong>Caracter&iacute;sticas principales</strong></p>
                    <ul>
                    <li>Programaci&oacute;n sencilla.</li>
                    <li>Construcci&oacute;n modular que permite m&aacute;ximas configuraci&oacute;n y flexibilidad a trav&eacute;s de tres entradas digitales aisladas y programables.</li>
                    <li>Entrada escalonable anal&oacute;gica (0 V hasta 10 V) que puede ser usada como una cuarta entrada digital.</li>
                    <li>Salida anal&oacute;gica programable (0 mA hasta 20 mA).</li>
                    <li>Salida-rel&eacute; totalmente programable (30 V DC/5 A, resistivo, 250 V AC/2 A, inductivo).</li>
                    <li>Operaci&oacute;n de motor silenciosa cuando se utilizan altas frecuencia de maniobra de desconexi&oacute;n.</li>
                    <li>Protecci&oacute;n completa del inversor y del motor.</li>
                    </ul>
                    <p><strong>Opciones m&aacute;s importantes</strong></p>
                    <ul>
                    <li>Filtros EMC Clase A/B.</li>
                    <li>Reactancias de conmutaci&oacute;n de l&iacute;nea.</li>
                    <li>Reactancias de salida.</li>
                    <li>Placas de conexi&oacute;n.</li>
                    <li>BOP panel de operaci&oacute;n b&aacute;sico para parametrizaci&oacute;n e inversi&oacute;n.</li>
                    <li>AOP panel de operaci&oacute;n avanzado con display y texto multilenguaje.</li>
                    <li>M&oacute;dulo de comunicaci&oacute;n PROFIBUS_DP.</li>
                    <li>Kits de conexi&oacute;n a PC.</li>
                    <li>Kits para montaje de paneles de operaci&oacute;n en las puertas de los gabinetes de control.</li>
                    <li>Herramientas de configuraci&oacute;n en PC que utilizan entorno Windows 95/98 y NT/2000.</li>
                    </ul>
                    <p><strong>&nbsp;</strong><br /> <strong>Est&aacute;ndar internacional</strong></p>
                    <ul>
                    <li>El MICROMASTER 420 lleva la marca de la CE para las conformidades de la EMC y las normativas sobre baja tensi&oacute;n.</li>
                    <li>uL and cuL listed.</li>
                    <li>c-tick.</li>
                    </ul>
                    <p>&nbsp;</p>
                                  
                
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-variadores-420-1.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-variadores-420-1.png" data-src="img/productos-electricos/tablas/tabla-variadores-420-1.png" alt="">
                                          </a>
                                        </div>                                		
                                     </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example38.jpg" width="350px" height="350px" alt="">
                   
                

                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
