
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Variador ATV12   </li>
        </ul>
        <h2> Variador ATV12 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                        <p>Variadores de velocidad para m&aacute;quinas peque&ntilde;as con motor trif&aacute;sicoas&iacute;ncrono de 240 V 0,18-4 kW</p>
                        <p>Un dise&ntilde;o centrado en la integraci&oacute;n</p>
                        <ul>
                        <li>Funciones avanzadas para una mayor productividad (PID integrado, multi-velocidad, etc.)</li>
                        <li>F&aacute;cil comunicaci&oacute;n con el resto de componentes de la m&aacute;quina a trav&eacute;s de integrado universal de enlace serie Modbus</li>
                        <li>Dise&ntilde;o m&aacute;s compacto, especialmente en t&eacute;rminos de la profundidad de los equipos, como la versi&oacute;n de placa de base montada disipa el calor en el bastidor de la m&aacute;quina</li>
                        </ul>
                        <p><strong>Sin comprometer la calidad</strong><br /> M&aacute;ximo rendimiento asegurado por:</p>
                        <ul>
                        <li>Los ajustes de f&aacute;brica, que proporcionan una unidad de alta calidad desde el primer momento en que el poder est&aacute; encendido</li>
                        <li>&ccedil;La integraci&oacute;n de Standard (U / f), rendimiento (control vectorial de flujo, o SVC) y de bombas / ventiladores (perfil cuadr&aacute;tica Kn&sup2;) perfiles de control</li>
                        <li>Alto rendimiento din&aacute;mico en aceleraci&oacute;n, as&iacute; como en el frenado</li>
                        <li>Excelente regulaci&oacute;n de la velocidad de carga de la m&aacute;quina sobretensiones</li>
                        <li>Ruido y Mantenimiento reducido</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p>Dise&ntilde;ado para una f&aacute;cil instalaci&oacute;n y el cableado de la unidad:</p>
                        <ul>
                        <li>&Aacute;ngulos de f&aacute;cil acceso</li>
                        <li>Numerosas, f&aacute;cil de identificar marcas</li>
                        <li>Detecci&oacute;n r&aacute;pida y protecci&oacute;n contra picos de corriente de motor (com&uacute;n en la conmutaci&oacute;n del motor y la captura de las aplicaciones en el momento)</li>
                        <li>Perfecta integraci&oacute;n de monof&aacute;sico 240 V modelo en la red el&eacute;ctrica gracias a su funci&oacute;n de filtro EMC</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>Ahorre tiempo en el cableado</strong></p>
                        <ul>
                        <li>F&aacute;cil acceso a todo el cableado y los ajustes en el panel frontal</li>
                        <li>&Aacute;ngulos de f&aacute;cil acceso</li>
                        <li>S&oacute;lo un destornillador necesario para todas las conexiones</li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                        <li>Ahorre<strong> tiempo en la programaci&oacute;n</strong></li>
                        <li>Un bot&oacute;n de navegaci&oacute;n de f&aacute;cil acceso al men&uacute;: configurar los par&aacute;metros de aplicaci&oacute;n en unos pocos clics</li>
                        <li>Una estructura de men&uacute;s de tres niveles</li>
                        <li>Modo de referencia: En la operaci&oacute;n local (On / Off botones) y para la velocidad<br /> ajuste y visualizaci&oacute;n</li>
                        <li>Modo de seguimiento: Para la visualizaci&oacute;n de par&aacute;metros (crear su propio men&uacute;)</li>
                        <li>Modo de configuraci&oacute;n: Para la configuraci&oacute;n de sus aplicaciones y configuraciones</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>Ahorre tiempo en la puesta en marcha</strong></p>
                        <ul>
                        <li>El accionamiento puede ser configurado antes de que se recibe (por el distribuidor), durante el almacenamiento (por el tendero) o durante el montaje antes de la caja de protecci&oacute;n el&eacute;ctrica que se enciende por primera vez.</li>
                        <li>No se requiere ajuste y no una gu&iacute;a de inicio r&aacute;pido para instalaci&oacute;n inmediata</li>
                        <li>Facilidad de programaci&oacute;n: El trabajo en el idioma de su elecci&oacute;n</li>
                        <li>SoMove software para la configuraci&oacute;n en el PC y transferir la configuraci&oacute;n a trav&eacute;s de Bluetooth&reg; o mediante un cable</li>
                        <li>El software SoMove Mobile para modificar o enviar una configuraci&oacute;n de forma remota a trav&eacute;s del tel&eacute;fono m&oacute;vil</li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                        <li>Beneficios</li>
                        <li>Discreto en tama&ntilde;o pero grande en rendimiento!</li>
                        <li>La gama Altivar 11 se sustituye por la gama Altivar 12.</li>
                        <li>Variadores de velocidad para m&aacute;quinas peque&ntilde;as con trif&aacute;sica 240 V motor as&iacute;ncrono</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p>0,18 a 0,75 kW, fuente de alimentaci&oacute;n monof&aacute;sica de 120 V</p>
                        <p>0,18 a 2,2 kW, fuente de alimentaci&oacute;n monof&aacute;sica de 240 V</p>
                        <p>0,18-4 kW, 240 V de corriente trif&aacute;sica</p>
                        <ul>
                        <li>Se puede configurar en su embalaje</li>
                        <li>Opci&oacute;n de inicio r&aacute;pido que no requiere ajuste</li>
                        <li>La navegaci&oacute;n intuitiva</li>
                        <li>Incluso m&aacute;s compacto</li>
                        <li>Filtro 1 EMC</li>
                        <li>El control local en el panel frontal</li>
                        <li>Enlace serie Modbus</li>
                        <li>Resistente a los entornos operativos dif&iacute;ciles</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>Aplicaciones</strong><br /> <em> Las m&aacute;quinas simples para la industria</em></p>
                        <ul>
                        <li>Manejo de materiales (peque&ntilde;os transportadores, etc.)</li>
                        <li>Embalajes (peque&ntilde;as m&aacute;quinas de etiquetado, peque&ntilde;as m&aacute;quinas de ensacado)</li>
                        <li>Aplicaciones de bombeo (bombas de succi&oacute;n, bombas centr&iacute;fugas, bombas de circulaci&oacute;n, etc.)</li>
                        <li>Las m&aacute;quinas equipadas con ventiladores (aire o extracci&oacute;n de humos, pel&iacute;cula de pl&aacute;stico que hace las m&aacute;quinas, hornos, calderas, etc.)</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><em> M&aacute;quinas de consumo simples</em></p>
                        <ul>
                        <li>Manipulaci&oacute;n (barreras de acceso, girando vallas publicitarias)</li>
                        <li>Salud (camas m&eacute;dicas, m&aacute;quinas que funcionan)</li>
                        <li>Los alimentos y bebidas (molinos, amasadoras, mezcladores, etc.)</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><em> Otros tipos de aplicaci&oacute;n</em></p>
                        <ul>
                        <li>Los alimentos y bebidas (cultivo de la bater&iacute;a, invernaderos, etc.)</li>
                        <li>M&aacute;quinas m&oacute;viles y peque&ntilde;os dispositivos equipados con una toma de corriente</li>
                        <li>Las aplicaciones que utilizan tradicionalmente otras soluciones (2 velocidades motores DC, transmisiones mec&aacute;nicas, etc.)</li>
                        </ul>
    		
      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example35.jpg" width="350px" height="350px" alt="">
                   
                

                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
