<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Convertidores de frecuencia de baja tensión de CA </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Convertidores de frecuencia de baja tensión de CA </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div><img aling="middle" src="../img/productos-electricos/example32.jpg"></a></div>

</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
	<h3 class="title mb-3"> Convertidores de frecuencia de baja tensión de CA </h3>

<dl>
  <dt>Descripcion</dt>
  <dd>

      <p>Para impulsar la productividad de sus procesos, mejorar la eficiencia energética y reducir los costes de mantenimiento, puede confiar en la amplia gama de convertidores de frecuencia de baja tensión.
                    La gama cubre el abanico completo de convertidores. Desde microconvertidores y convertidores para maquinaria hasta convertidores industriales para el control de líneas de proceso, seguidos por los convertidores para industrias específicas con características y funcionalidades diseñadas para su propósito concreto.
                    Los convertidores de ABB están disponibles directamente de nuestro stock o pueden fabricarse para adaptarse a los requerimientos más complejos. Los servicios para el ciclo de vida aseguran que sus procesos funcionen exactamente como se espera, año tras año.</p>

  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>


  
<!-- 
                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
                    <ul class="check">
                <li>FUENTE MONOF. MOD. 120/230-500VCA 5AMP 6ED1333-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230-500VCA 10AMP 6ED1334-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230 20AMP 6ED1336-3BA00</li>
                <li>FUENTE MONOF. MOD. 120/230-500VCA 40AMP 6ED1337-3BA00</li>
                <li>FUENTE TRIF. MOD. 3X400 20AMP MOD 6EP14363BA00</li>
                <li>FUENTE TRIF. MOD. 3X400 40AMP MOD 6EP14373BA00</li>
                    </ul>
                  </div>                
                </div>     
                -->                                            
              </div>                
            </div>

            </article> 
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>