<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Variadores MICROMASTER 430 </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Variadores MICROMASTER 430 </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div>
 <img src="../img/productos-electricos/example37.png">
    </div>

</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
	<h3 class="title mb-3"> Variadores MICROMASTER 430  </h3>

<dl>
  <dt>Descripcion</dt>
  <dd>

       <p>El convertidor Siemens MICROMASTER 430 se puede usar en numerosas aplicaciones de accionamiento con velocidades variables. Su flexibilidad permite utilizarlo para una amplia gama de aplicaciones.</p>


  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>
	                <p><strong>Campo de aplicaci&oacute;n</strong><br /> Es particularmente id&oacute;neo para los entornos industriales y para la aplicaci&oacute;n con bombas y ventiladores.<br /> Este convertidor se caracteriza particularmente por su funcionalidad adaptada a los deseos de la clientela y su excelente facilidad de manejo. En comparaci&oacute;n con el convertidor Siemens MICROMASTER 420 tiene m&aacute;s entradas y salidas, un panel de operador optimizado con conmutaci&oacute;n del modo manual/autom&aacute;tico y funcionalidad<br /> de software adaptada.</p>
                    
                    <p><strong>Estructura</strong></p>
                    <p>El convertidor Siemens MICROMASTER 430 tiene estructura modular.<br /> El panel del operador y los m&oacute;dulos de comunicaci&oacute;n pueden descambiarse.</p>
                  
                    <p><strong>Caracter&iacute;sticas principales</strong></p>
                
                    <li>Puesta en servicio simple, guiada por di&aacute;logo.</li>
                    <li>Configuraci&oacute;n especialmente flexible gracias a la estructura modular</li>
                    <li>6 entradas digitales libremente parametrizables y aisladas galv&aacute;nicamente</li>
                    <li>2 entradas anal&oacute;gicas (0 V a 10 V, 0 &ndash; 4 mA a 20 mA, escalable) a elecci&oacute;n aplicable como s&eacute;ptima/ octava entrada digital.</li>
                    <li>2 salidas anal&oacute;gicas parametrizables (0 &ndash; 4 mA a 20 mA).</li>
                    <li>3 salidas por rel&eacute; parametrizables (DC 30 V/5 A de carga &oacute;hmica; AC 250 V/ 2 A de carga inductiva).</li>
                    <li>Funcionamiento del motor silencioso gracias a frecuencias de pulsaci&oacute;n elevadas, ajustable (obs&eacute;rvense en su caso los datos de reducci&oacute;n de potencia (derating)).</li>
                    <li>Protecci&oacute;n para motor y convertidor.</li>
                    <li>Puesta en funcionamiento de hasta tres accionamientos adicionales en la base a la regulaci&oacute;n PID (control de motores en cascada).</li>
                    <li>Funcionamiento del accionamiento directamente en la red (con conexi&oacute;n bypass externa).</li>
                    <li>Modo de ahorro de energ&iacute;a.</li>
                    <li>Detecci&oacute;n de marcha en seco en accionamientos de bombas (belt failure detection).</li>

                    <p><strong>Accesorios (resumen)</strong></p>
                   
                    <li>Bobinas de conmutaci&oacute;n de red.</li>
                    <li>Bobinas de salida.</li>
                    <li>Filtro LC.</li>
                    <li>Placas de conexi&oacute;n de pantallas.</li>
                    <li>Panel del operador Basic Operator Panel 2 (BOP-2) para la parametrizaci&oacute;n de un convertidor.</li>
                   
                    <p><strong>M&oacute;dulos de comunicaci&oacute;n</strong>.</p>
                   
                    <li>PROFIBUS</li>
                    <li>DeviceNet</li>
                    <li>CANopen</li>
                   
                   
                    <p>Kits de conexi&oacute;n para PC.</p>
                    
                    <li>Kits para montar el panel de operador en puertas de armarios el&eacute;ctricos.</li>
                    <li>Programas de PC para la puesta en servicio en el entorno de Windows 95/98 y</li>
                    <li>NT/2000/XP Professional.</li>
                    <li>Integraci&oacute;n TIA con Drive ES.</li>
                                     
                    </br>
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-variadores-430-1.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-variadores-430-1.png" data-src="img/productos-electricos/tablas/tabla-variadores-430-1.png" alt="">
                                          </a>
                                        </div>                                		
                                     </div>
<!-- 
                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
                    <ul class="check">
                    <li>ATV71HD18N4 VARIADOR VEL. TRIF. ALTO PAR 18,5KW </li>
                    <li>ATV71HD22N4 VARIADOR VEL. TRIF. ALTO PAR 22KW </li>
                    <li>ATV71HD30N4 VARIADOR VEL. TRIF. ALTO PAR 30KW </li>
                    <li>ATV71HD37N4 VARIADOR VEL. TRIF. ALTO PAR 37KW </li>
                    <li>ATV71HD45N4 VARIADOR VEL. TRIF. ALTO PAR 45KW </li>
                    <li>ATV71HD55N4 VARIADOR VEL. TRIF. ALTO PAR 55KW </li>
                    <li>ATV71HD75N4 VARIADOR VEL. TRIF. ALTO PAR 75KW </li>
                    <li>ATV71HD90N4 VARIADOR VEL. TRIF. ALTO PAR 90Kw </li>
                    <li>ATV71HC11N4 VARIADOR VEL. TRIF. ALTO PAR 110kW </li>
                    <li>ATV71HC13N4 VARIADOR VEL. TRIF. ALTO PAR 132kW </li>
                    <li>ATV71HC16N4 VARIADOR VEL. TRIF. ALTO PAR 160kW </li>
                    <li>ATV71HC20N4 VARIADOR VEL. TRIF. ALTO PAR 200kW </li>
                    </ul>
                  </div>                
                </div>     
                                              -->            
              </div>                
            </div>

            </article> 
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>