
  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Variador Process ATV600  </li>
        </ul>
        <h2> Variador Process ATV600</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                    <p>Accionamiento de velocidad variable con servicios integrados dedicados a procesar industria y utilidades para 3 fases: sincr&oacute;nico, as&iacute;ncronos y motores especiales de 0,75 kW a 1,5MW.</p>
					<p>Proceso Altivar es una unidad orientada a servicios dise&ntilde;ados para reducir los gastos operativos en instalaciones de proceso y servicios p&uacute;blicos, gracias a los servicios digitales incrustados.Proceso Altivar tambi&eacute;n ofrece soluciones de accionamiento de ingenier&iacute;a &uacute;nicas</p>
                    <p>Los primeros Orientada a Servicios de accionamiento con:</p>
                    <ul>
                    <li>Medici&oacute;n de potencia integrado en el salpicadero de Energ&iacute;a</li>
                    <li>Monitoreo de procesos Embedded y control</li>
                    <li>Curvas de la bomba Embedded incrustados (f&aacute;cil de configurar 5 puntos de la curva)</li>
                    <li>Los bajos arm&oacute;nicos (THDi &lt;48% a 80% de carga o THDi &lt;5% con la oferta arm&oacute;nica baja)</li>
                    <li>Iniciar y Detener la funci&oacute;n de reducir el consumo en la parada.</li>
                    <li>Monitoreo y protecci&oacute;n de los activos</li>
                    <li>Monitoreo Drift</li>
                    <li>F&aacute;cil mantenimiento (Dynamic QR-Code)</li>
                    <li>La perfecta integraci&oacute;n con Ethernet incorporado</li>
                    <li>Desde dispositivo para el control de procesos con el objeto Smart Process</li>
                    <li>De los datos a ideas con el servidor Web incorporado</li>
                    <li>Unidades de ingenier&iacute;a &uacute;nicas:</li>
                    <li>Soluciones de refrigeraci&oacute;n y arm&oacute;nicos t&eacute;cnicas probadas</li>
                    <li>El dise&ntilde;o modular y compacto</li>
                    <li>F&aacute;cil integraci&oacute;n en red</li>
                    <li>Embedded Control (PLC, RTU, IHM)</li>
                    <li>Un conjunto completo de opciones de control</li>
                    <li></li>
                    <li><strong>Beneficios</strong></li>
                    </ul>
                    <p><em>Unidades Orientadas a Servicios</em><br /> Este nuevo concepto de unidades satisface las principales necesidades de los procesos y los servicios p&uacute;blicos en t&eacute;rminos de eficiencia de los equipos y sobre el coste total de propiedad mediante el apoyo a la gesti&oacute;n de la energ&iacute;a, la gesti&oacute;n de activos y tambi&eacute;n las actuaciones generales del proceso.</p>
                    <ul>
                    <li>Ahorro de costes sostenibles gracias a un mantenimiento basado en condici&oacute;n predictivo</li>
                    <li>Hasta la reducci&oacute;n de tiempo de inactividad de 20% sin inversi&oacute;n adicional</li>
                    </ul>
                    <p>&nbsp;</p>
                    <ul>
                    <li><em> Unidades Unique Engineered</em><br /> La experiencia de Schneider Electric en los servicios de dise&ntilde;o y aplicaci&oacute;n ofrece dise&ntilde;os espec&iacute;ficos de la soluci&oacute;n dedicadas a los requisitos del proceso de integraci&oacute;n de la planta sin fisuras.</li>
                    <li>Minimizar el dise&ntilde;o y entrega de riesgos</li>
                    <li>Reduce la puesta en marcha y la adaptaci&oacute;n de tiempo</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><em>Especificaciones Unidades mejoradas</em><br /> Compacto y modular, conveniente incluso en ambientes hostiles, Proceso Altivar es perfecto para las actualizaciones, actualizaciones, o nuevas instalaciones.</p>
                    <ul>
                    <li>Soportar las condiciones severas de uso, tanto el&eacute;ctricos como medio ambiente</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><strong>Aplicaciones</strong></p>
                    <p>Unidades de proceso Altivar han sido dise&ntilde;ados espec&iacute;ficamente para procesos industriales, tales como:<br /> WWW: Estaci&oacute;n de bombeo, aumentando la estaci&oacute;n, bomba de pozo, la estaci&oacute;n, la aireaci&oacute;n de elevaci&oacute;n, como compresi&oacute;n, transporte de lodos &hellip;<br /> O &amp; G: el&eacute;ctricamente la bomba sumergible, bombas jack, bomba de tuber&iacute;a de aceite, bomba de intercambio, la bomba de inyecci&oacute;n de agua, compresor de regasificaci&oacute;n &hellip; Refiner&iacute;a: bombas, ventiladores, compresores &hellip;</p>
                    <p><em>MMM:</em></p>
                    <ul>
                    <li>Miner&iacute;a: flotaci&oacute;n y espesamiento, de riego y filtraci&oacute;n, bombas de pozo de la mina &hellip;</li>
                    <li>Cemento: Ventilador Pre-calentador, ventilador de gas residual del horno, extractor de aire m&aacute;s fr&iacute;o, molino vertical de rodillos, bomba para el suministro de agua &hellip;</li>
                    <li>Metal: soplador de alto horno, sistema de distribuci&oacute;n de agua de la bomba, ventilador de tiro, ventilador de extracci&oacute;n de polvo, m&aacute;quina de coca cola (Horno) &hellip;</li>
                    </ul>
                    <p>F &amp; B: l&aacute;cteos (bombeo de distribuci&oacute;n de tubos, secado de leche en polvo, bomba centr&iacute;fuga &hellip;), el az&uacute;car (bombas, el ventilador para el secado &hellip;)</p>
    		
      </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example36.jpg" width="350px" height="350px" alt="">
                   
                

                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 

  