

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="../index.html">Inicio</a></li>
          <li>Variadores MICROMASTER 430</li>
        </ul>
        <h2> Variadores MICROMASTER 430 </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="../img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search on this site..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
          <div class="tab-content">
              <div class="row">
                <div class="col-lg-6">
                    <p>El convertidor Siemens MICROMASTER 430 se puede usar en numerosas aplicaciones de accionamiento con velocidades variables. Su flexibilidad permite utilizarlo para una amplia gama de aplicaciones.</p>
					<p><strong>Campo de aplicaci&oacute;n</strong><br /> Es particularmente id&oacute;neo para los entornos industriales y para la aplicaci&oacute;n con bombas y ventiladores.<br /> Este convertidor se caracteriza particularmente por su funcionalidad adaptada a los deseos de la clientela y su excelente facilidad de manejo. En comparaci&oacute;n con el convertidor Siemens MICROMASTER 420 tiene m&aacute;s entradas y salidas, un panel de operador optimizado con conmutaci&oacute;n del modo manual/autom&aacute;tico y funcionalidad<br /> de software adaptada.</p>
                    <p>&nbsp;</p>
                    <p><strong>Estructura</strong></p>
                    <p>El convertidor Siemens MICROMASTER 430 tiene estructura modular.<br /> El panel del operador y los m&oacute;dulos de comunicaci&oacute;n pueden descambiarse.</p>
                    <p>&nbsp;</p>
                    <p><strong>Caracter&iacute;sticas principales</strong></p>
                    <ul>
                    <li>Puesta en servicio simple, guiada por di&aacute;logo.</li>
                    <li>Configuraci&oacute;n especialmente flexible gracias a la estructura modular</li>
                    <li>6 entradas digitales libremente parametrizables y aisladas galv&aacute;nicamente</li>
                    <li>2 entradas anal&oacute;gicas (0 V a 10 V, 0 &ndash; 4 mA a 20 mA, escalable) a elecci&oacute;n aplicable como s&eacute;ptima/ octava entrada digital.</li>
                    <li>2 salidas anal&oacute;gicas parametrizables (0 &ndash; 4 mA a 20 mA).</li>
                    <li>3 salidas por rel&eacute; parametrizables (DC 30 V/5 A de carga &oacute;hmica; AC 250 V/ 2 A de carga inductiva).</li>
                    <li>Funcionamiento del motor silencioso gracias a frecuencias de pulsaci&oacute;n elevadas, ajustable (obs&eacute;rvense en su caso los datos de reducci&oacute;n de potencia (derating)).</li>
                    <li>Protecci&oacute;n para motor y convertidor.</li>
                    <li>Puesta en funcionamiento de hasta tres accionamientos adicionales en la base a la regulaci&oacute;n PID (control de motores en cascada).</li>
                    <li>Funcionamiento del accionamiento directamente en la red (con conexi&oacute;n bypass externa).</li>
                    <li>Modo de ahorro de energ&iacute;a.</li>
                    <li>Detecci&oacute;n de marcha en seco en accionamientos de bombas (belt failure detection).</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><strong>Accesorios (resumen)</strong></p>
                    <ul>
                    <li>Bobinas de conmutaci&oacute;n de red.</li>
                    <li>Bobinas de salida.</li>
                    <li>Filtro LC.</li>
                    <li>Placas de conexi&oacute;n de pantallas.</li>
                    <li>Panel del operador Basic Operator Panel 2 (BOP-2) para la parametrizaci&oacute;n de un convertidor.</li>
                    </ul>
                    <p><strong>M&oacute;dulos de comunicaci&oacute;n</strong>.</p>
                    <ul>
                    <li>PROFIBUS</li>
                    <li>DeviceNet</li>
                    <li>CANopen</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>Kits de conexi&oacute;n para PC.</p>
                    <ul>
                    <li>Kits para montar el panel de operador en puertas de armarios el&eacute;ctricos.</li>
                    <li>Programas de PC para la puesta en servicio en el entorno de Windows 95/98 y</li>
                    <li>NT/2000/XP Professional.</li>
                    <li>Integraci&oacute;n TIA con Drive ES.</li>
                    </ul>
                    <p>&nbsp;</p>                    
                    
                    <div class="item">
                            <a data-rel="prettyPhoto" href="img/productos-electricos/tablas/tabla-variadores-430-1.png">
                                              <img class="lazyOwl" src="img/productos-electricos/tablas/tabla-variadores-430-1.png" data-src="img/productos-electricos/tablas/tabla-variadores-430-1.png" alt="">
                                          </a>
                                        </div>                                		
                                     </div>

                <div class="col-lg-6">
                    <div class="image-product"> 
                 <img class="img-responsive" src="../img/productos-electricos/example37.png" width="350px" height="350px" alt="">
                   
                

                 <div class="general-title text-center">
                    <h3> Modelos </h3>
                    <hr>
                  </div>
                  <div class="divider"></div>
                  <div id="popularitems" class="owl-carousel">
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 1 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>         
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 2</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 3</h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 4 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>   
                          </div>
                        </div>
                      </div>
                    </div>          
                 
                    <div class="col-lg-12">
                      <div class="he-wrap tpl6 market-item">
                          <img class="lazyOwl" data-src="img/proximamente.jpg" alt="">
                        <div class="he-view">
                          <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown"> Producto 5 </h3>
                            <a href="" class="dmbutton a2" data-animate="fadeIn">Detalles</a>    
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 </div>   
                 </div>
                 </div>
                 </section>
 
