<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> Variador Process ATV600 </title>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="../../img/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

<!-- Bootstrap files-->
<link href="../../css/product-detail/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome  -->
<link href="../../fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<!-- Style file-->
<link href="../../css/product-detail/product-detail.css" rel="stylesheet" type="text/css"/>

  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="../fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">


</head>
<body>
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/productos-electricos">Productos eléctricos</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Variador Process ATV600 </li>

</ol> 
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap" >

    <div>
 <img src="../img/productos-electricos/example36.jpg">
    </div>

</div> 
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
	<h3 class="title mb-3"> Variador Process ATV600  </h3>

<dl>
  <dt>Descripcion</dt>
  <dd>

                  <p>Accionamiento de velocidad variable con servicios integrados dedicados a procesar industria y utilidades para 3 fases: sincr&oacute;nico, as&iacute;ncronos y motores especiales de 0,75 kW a 1,5MW.</p>
				          	<p>Proceso Altivar es una unidad orientada a servicios dise&ntilde;ados para reducir los gastos operativos en instalaciones de proceso y servicios p&uacute;blicos, gracias a los servicios digitales incrustados.Proceso Altivar tambi&eacute;n ofrece soluciones de accionamiento de ingenier&iacute;a &uacute;nicas</p>
  </dd>

</dl>
</br>
<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9">{{#if mod}} {{mod}} {{else}} - {{/if}}
  </dd>

  {{!-- <dt class="col-sm-3">Colores: </dt>
  <dd class="col-sm-9"> - </dd> --}}

  <dt class="col-sm-3">Codigo </dt>
  <dd class="col-sm-9"> {{#if cod}} {{cod}} {{else}} - {{/if}} </dd>
</dl>


	<a href="/contact" method="get" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contacto </a>
	
        </article> 
		</aside> 
	</div> 
</main> 


<article class="card mt-3">
	<div class="card-body">
		<h4> Descripcion detallada </h4>

                   <p>Los primeros Orientada a Servicios de accionamiento con:</p>
                   
                    <li>Medici&oacute;n de potencia integrado en el salpicadero de Energ&iacute;a</li>
                    <li>Monitoreo de procesos Embedded y control</li>
                    <li>Curvas de la bomba Embedded incrustados (f&aacute;cil de configurar 5 puntos de la curva)</li>
                    <li>Los bajos arm&oacute;nicos (THDi &lt;48% a 80% de carga o THDi &lt;5% con la oferta arm&oacute;nica baja)</li>
                    <li>Iniciar y Detener la funci&oacute;n de reducir el consumo en la parada.</li>
                    <li>Monitoreo y protecci&oacute;n de los activos</li>
                    <li>Monitoreo Drift</li>
                    <li>F&aacute;cil mantenimiento (Dynamic QR-Code)</li>
                    <li>La perfecta integraci&oacute;n con Ethernet incorporado</li>
                    <li>Desde dispositivo para el control de procesos con el objeto Smart Process</li>
                    <li>De los datos a ideas con el servidor Web incorporado</li>
                    <li>Unidades de ingenier&iacute;a &uacute;nicas:</li>
                    <li>Soluciones de refrigeraci&oacute;n y arm&oacute;nicos t&eacute;cnicas probadas</li>
                    <li>El dise&ntilde;o modular y compacto</li>
                    <li>F&aacute;cil integraci&oacute;n en red</li>
                    <li>Embedded Control (PLC, RTU, IHM)</li>
                    <li>Un conjunto completo de opciones de control</li>
                    
                    <li><strong>Beneficios</strong></li>
                    
                    <p><em>Unidades Orientadas a Servicios</em><br /> Este nuevo concepto de unidades satisface las principales necesidades de los procesos y los servicios p&uacute;blicos en t&eacute;rminos de eficiencia de los equipos y sobre el coste total de propiedad mediante el apoyo a la gesti&oacute;n de la energ&iacute;a, la gesti&oacute;n de activos y tambi&eacute;n las actuaciones generales del proceso.</p>
                
                    <li>Ahorro de costes sostenibles gracias a un mantenimiento basado en condici&oacute;n predictivo</li>
                    <li>Hasta la reducci&oacute;n de tiempo de inactividad de 20% sin inversi&oacute;n adicional</li>
                   
                    
                   
                    <li><em> Unidades Unique Engineered</em><br /> La experiencia de Schneider Electric en los servicios de dise&ntilde;o y aplicaci&oacute;n ofrece dise&ntilde;os espec&iacute;ficos de la soluci&oacute;n dedicadas a los requisitos del proceso de integraci&oacute;n de la planta sin fisuras.</li>
                    <li>Minimizar el dise&ntilde;o y entrega de riesgos</li>
                    <li>Reduce la puesta en marcha y la adaptaci&oacute;n de tiempo</li>
                   
                  
                    <p><em>Especificaciones Unidades mejoradas</em><br /> Compacto y modular, conveniente incluso en ambientes hostiles, Proceso Altivar es perfecto para las actualizaciones, actualizaciones, o nuevas instalaciones.</p>
                   
                    <li>Soportar las condiciones severas de uso, tanto el&eacute;ctricos como medio ambiente</li>
                   
                  
                    <p><strong>Aplicaciones</strong></p>
                    <p>Unidades de proceso Altivar han sido dise&ntilde;ados espec&iacute;ficamente para procesos industriales, tales como:<br /> WWW: Estaci&oacute;n de bombeo, aumentando la estaci&oacute;n, bomba de pozo, la estaci&oacute;n, la aireaci&oacute;n de elevaci&oacute;n, como compresi&oacute;n, transporte de lodos &hellip;<br /> O &amp; G: el&eacute;ctricamente la bomba sumergible, bombas jack, bomba de tuber&iacute;a de aceite, bomba de intercambio, la bomba de inyecci&oacute;n de agua, compresor de regasificaci&oacute;n &hellip; Refiner&iacute;a: bombas, ventiladores, compresores &hellip;</p>
                    <p><em>MMM:</em></p>
                   
                    <li>Miner&iacute;a: flotaci&oacute;n y espesamiento, de riego y filtraci&oacute;n, bombas de pozo de la mina &hellip;</li>
                    <li>Cemento: Ventilador Pre-calentador, ventilador de gas residual del horno, extractor de aire m&aacute;s fr&iacute;o, molino vertical de rodillos, bomba para el suministro de agua &hellip;</li>
                    <li>Metal: soplador de alto horno, sistema de distribuci&oacute;n de agua de la bomba, ventilador de tiro, ventilador de extracci&oacute;n de polvo, m&aacute;quina de coca cola (Horno) &hellip;</li>
                   
                    <p>F &amp; B: l&aacute;cteos (bombeo de distribuci&oacute;n de tubos, secado de leche en polvo, bomba centr&iacute;fuga &hellip;), el az&uacute;car (bombas, el ventilador para el secado &hellip;)</p>
  
<!-- 
                    <div class="widget" data-effect="slide-bottom">
                    <h5 class="title"><i class=""></i> Modelos disponibles: </h5>
                    <ul class="check">
                    <li>ATV71HD18N4 VARIADOR VEL. TRIF. ALTO PAR 18,5KW </li>
                    <li>ATV71HD22N4 VARIADOR VEL. TRIF. ALTO PAR 22KW </li>
                    <li>ATV71HD30N4 VARIADOR VEL. TRIF. ALTO PAR 30KW </li>
                    <li>ATV71HD37N4 VARIADOR VEL. TRIF. ALTO PAR 37KW </li>
                    <li>ATV71HD45N4 VARIADOR VEL. TRIF. ALTO PAR 45KW </li>
                    <li>ATV71HD55N4 VARIADOR VEL. TRIF. ALTO PAR 55KW </li>
                    <li>ATV71HD75N4 VARIADOR VEL. TRIF. ALTO PAR 75KW </li>
                    <li>ATV71HD90N4 VARIADOR VEL. TRIF. ALTO PAR 90Kw </li>
                    <li>ATV71HC11N4 VARIADOR VEL. TRIF. ALTO PAR 110kW </li>
                    <li>ATV71HC13N4 VARIADOR VEL. TRIF. ALTO PAR 132kW </li>
                    <li>ATV71HC16N4 VARIADOR VEL. TRIF. ALTO PAR 160kW </li>
                    <li>ATV71HC20N4 VARIADOR VEL. TRIF. ALTO PAR 200kW </li>
                    </ul>
                  </div>                
                </div>     
                                              -->            
              </div>                
            </div>

            </article> 
                                    
{{!-- 
</div> 
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    Informacion Tecnica
	</div>
	<div class="card-body small"> --}}


						</div> 

					</div>  
				</div>
			</aside> 
		</div> 
	</div>
</section>

</body>
</html>