header {
  background: #fff;
}

.shop_header_area .navbar {
  padding: 0px;
  background: #fff;
  background-color: transparent !important;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #d91522;
}

.shop_header_area .navbar .navbar-brand {
  display: none;
}

.shop_header_area .navbar .navbar-nav.categories {
  min-height: 70px;
}

.shop_header_area .navbar .navbar-nav.categories li {
  border-right: 2px solid #fff;
  text-align: center;
  margin-left: 0px !important;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select {
  width: 265px !important;
  text-align: center;
  line-height: 70px;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .btn-default {
  padding: 0px;
  margin: 0px;
  border: none;
  padding-left: 50px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .btn-default span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .7px;
  line-height: 68px;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .btn-default:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  color: #000;
  border: none;
  position: relative;
  right: 106px;
  margin: 0px;
  font-weight: bold;
  top: 3px;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .dropdown-menu {
  padding: 0px;
  border-radius: 0px;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .dropdown-menu .dropdown-menu.inner {
  display: block;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .dropdown-menu .dropdown-menu.inner li {
  display: block;
  border-right: 0px;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .dropdown-menu .dropdown-menu.inner li a {
  text-align: left;
  display: block;
  padding: 0px 15px;
  line-height: 40px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #666666;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.shop_header_area .navbar .navbar-nav.categories li .bootstrap-select .dropdown-menu .dropdown-menu.inner li:hover a {
  color: #000;
}

.shop_header_area .navbar .navbar-nav li {
  margin-right: 40px;
}

.shop_header_area .navbar .navbar-nav li a {
  padding: 0px;
  line-height: 70px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.shop_header_area .navbar .navbar-nav li a:after {
  display: none;
}

.shop_header_area .navbar .navbar-nav li a i {
  padding-left: 6px;
}

.shop_header_area .navbar .navbar-nav li:first-child {
  margin-left: 60px;
}

.shop_header_area .navbar .navbar-nav li:last-child {
  margin-right: 0px;
}

.shop_header_area .navbar .navbar-nav li:hover a, .shop_header_area .navbar .navbar-nav li.active a {
  color: #d91522;
}

@media (min-width: 992px) {
  .shop_header_area .navbar .navbar-nav li.submenu .dropdown-menu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    display: block;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    min-width: 250px;
    background: #fff;
    border-radius: 0px;
    border: none;
    padding: 30px 0px 30px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    visibility: hidden;
  }
}

.shop_header_area .navbar .navbar-nav li.submenu .dropdown-menu li {
  margin-right: 0px;
  display: block;
  margin-left: 0px;
}

.shop_header_area .navbar .navbar-nav li.submenu .dropdown-menu li a {
  display: block;
  line-height: 38px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .48px;
  font-size: 14px;
  padding: 0px 30px;
  text-transform: inherit;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  font-weight: normal;
  text-shadow: none;
}

.shop_header_area .navbar .navbar-nav li.submenu .dropdown-menu li:hover a, .shop_header_area .navbar .navbar-nav li.submenu .dropdown-menu li.active a {
  color: #d91522;
}

@media (min-width: 992px) {
  .shop_header_area .navbar .navbar-nav li:hover.submenu .dropdown-menu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
  }
}

/* Main title css
============================================================================================ */
/* Carousel Header css
============================================================================================ */
.carousel_top_h_inner {
  display: block;
}

.carousel_menu_inner .navbar {
  padding: 20px 0px 20px 0px;
  background: #fff;
  border-bottom: none;
}

.carousel_menu_inner .navbar .navbar-brand {
  display: inline-block;
}

.carousel_menu_inner .navbar .navbar-nav.justify-content-end li {
  margin: 0px;
  text-align: center;
  margin-right: 10px;
}

.carousel_menu_inner .navbar .navbar-nav.justify-content-end li a {
  font-size: 20px;
  border: 1px solid #cccccc;
  color: #333333;
  text-align: center;
  display: inline-block;
  line-height: 48px;
  padding: 0px 20px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.carousel_menu_inner .navbar .navbar-nav.justify-content-end li a i {
  padding-left: 0px;
}

.carousel_menu_inner .navbar .navbar-nav.justify-content-end li:last-child {
  margin-right: 0px;
}

.carousel_menu_inner .navbar .navbar-nav.justify-content-end li:hover a {
  border-color: #0b1033;
  color: #0b1033;
}

.contact_icon a {
  position: relative;
}

.contact_icon a:before {
  content: "0";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  position: absolute;
  font-weight: normal;
  right: 6px;
  bottom: 6px;
  background: #d91522;
  line-height: 20px;
}

