body
    {
        background: #f9f9f9;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        overflow-x: hidden;
    }


hr
    {
        border: 1px solid #ce110a;
        width: 100px;
        margin-top: 20px;
    }



h4
    {
        text-align: center;
        padding-bottom: 50px;
        
    }

.btn {
    background: transparent;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 40px;
	padding: 12px 22px;
    transition: all 0.4s ease-in-out;  
}
.btn:hover {
    background: #ce110a;
    border-color: transparent;
}

.maxpower_homewrapper h2{
    text-align: center;
    font-size: 20px;
}

.maxpower_homewrapper h3{
    text-align: center;
    font-size: 30px;
}


#home span
    {
        color: #ce110a;
        font-weight: bold;
    }
#home .btn {
    background: rgba(0,0,0,0.6);
    border: none;
}
#home .btn:hover {
    background: rgba(255,255,255,0.6);
}
.maxpower_homewrapper {
    padding-left: 15px;
    padding-right: 15px;
}
.flexslider {
    margin: 0 0 60px;
    background: #fff;
    padding: 0;
    position: relative;
    zoom: 1;
    overflow: hidden;
    margin: 0;
    text-align: center;
}
.flexslider .slides {
    padding: 0;
    zoom: 1;
}
.flexslider .slides img {
    width: 100%;
    height: 600px;
    display: block;
}

@media only screen and (max-width: 800px) {
    .flexslider img {
      width: 100%; 
      height: auto;
    }
  }

  @media only screen and (min-width: 600px) {
     .flexslider img {
       width: 100%;
       height: auto;     
      }
  }

@media screen and (max-width: 600px)   {
    .flexslider img {
        width: 100%; 
        height: auto;
      }
    }

    @media screen and (max-width: 400px)   {
        .flexslider img {
            width: 100%;
            height: 80%;
          }
        }



.flexslider .slides > li {
    display: none;  
    padding: 0;
    position: relative;
    
}
.flexslider img {
    position: relative;
    width: 100%;
    height: 650px;
}

.flexslider h1 {
    color: #000;
    text-align: center;
    font-size: 25px;
}

.slider-caption {
    color:white;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


